*{
	margin: 0;
	padding: 0;
}
/* layout
---------------------------------------- */
#out{
	width:105em;
}
.content{
	float:left;
	width:43em;
	padding-left:10em;
	}
aside,footer{
	float:right;
	width:23em;
}
footer{
	clear:both;
	float:right;
}

/* content
---------------------------------------- */
body{
	background: #fff;
	color: #000;
	font: 62.5%/1 "Myriad Pro", arial, sans-serif;
}
a img,fieldset{
	border: none;
}
.pda, .print, legend, hr{
	display: none;
}
a{
	color: #686100;
}
p a:visited, li a:visited{
	color: #908f7d;
}
#header{
	height: 110px;
	overflow: hidden;
	padding: 50px 0;
	position: relative;
	width: 100%;
	display:block;
}
#header h1{
	left: 80px;
	position: absolute;
	top: 75px;
	width: 194px;
}
#header h1 a{
	color: #000;
	display: block;
	font-size: 1.2em;
	font-size: 31px;
	font-weight: normal;
	height: 66px;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	width: 194px;
	width:375px;
	height:88px;
	color:#fff;
}
#header h1 a span{
	background: transparent url(cssing00.png) no-repeat 0 0;
	cursor: hand;
	height: 66px;
	left: 0;
	position: absolute;
	top: 0;
	width: 194px;
	width:375px;
	height:88px;
}
#header .description{
	left: -1983em;
	position: absolute;
}
#header nav{
	bottom: 60px;
	color: #898989;
	float: left;
	font-size: 3em;
	left: 480px;
	line-height: 1;
	margin-left: .9em;
	position: absolute;
	width: 60em;
}
#header nav a{
	color: #898989;
	text-decoration: underline;
}
#header nav a#current{
	color: #000;
	text-decoration: none;
}
.content{
	font-size: 1.3em;
	line-height: 1.4;
}
article{
	margin: 1.7em 0 4em 0;
	position: relative;
	width: 100%;
}
article .comments{
	font-size: .84em;
	left: -107px;
	left: -8.6em;
	line-height: 1;
	position: absolute;
	text-align: right;
	top: 0;
	width: 7.1em;
	width: 78px;
}
article .comments span{
	display:block;
	font-size:11px;
	color:#333;
}
article .comments a,article .comments a:visited{
	color: #686100;
	font-size: 3.27em;
	line-height: 1;
	text-decoration: none;
}
article .entry-title{
	display: inline;
	font-size: 1.38em;
	font-weight: bold;
	line-height: 1;
	margin: 0 1em 0 0;
	position: relative;
}
article .entry-title a{
	color: #000;
	text-decoration: none;
}
article .entry-summary p{
	margin-bottom: .7em;
}
article .entry-summary, article .entry-summary p{
	display: inline;
}
article .entry-summary blockquote p{
	display: block;
}
.published{
	font-size: .84em;
	left: 0;
	position: absolute;
	top: -1.9em;
}
.singlepost .published{
	display: block;
	margin-bottom: .3em;
	position: static;
}
.categs{
	font-size: .84em;
	position: absolute;
	right: 0;
	text-align: right;
	top: -1.9em;
	width: 50%;
}
.categs a{
	color: #333;
	margin-left: 3px;
}
article .more{
	color: #898989;
	font-size: 1.46em;
	margin-left: .3em;
}
article .more:hover{
	color: #686100;
}
.navigation{
	border-bottom: 3px solid #000;
	list-style: none;
	margin-top: 3em;
}
ul.top{
	border-bottom: 0;
	border-top: 3px solid #000;
	height: 3em;
	margin: 2em 0 2em 0;
	width: 100%;
}
.navigation li{
	background: #fff;
	float: left;
	position:relative;
	margin-top:-.7em;
	padding: 2px;
	padding-right: 10px;
}
ul.top li{
	margin-top: -1em;
}
.navigation li.n-forw{
	float: right;
	padding-left: 10px;
	padding-right: 0;
}
.navigation a,navigation a:visited{
	color: #000;
	text-decoration: none;
}
.navigation a span{
	text-decoration: underline;
}
.singlepost{
	border-bottom: 3px solid #000;
	padding-bottom: 1em;
	position: relative;
	zoom: 1;
}
.singlepost h2, .content .searchresult h2{
	display: block;
	font-size: 2.3em;
	font-weight: bold;
	line-height: 1;
	margin: 0 0 .3em 0;
}
.singlepost h2 a, .singlepost h2 a:visited{
	color: #000;
	text-decoration: none;
}
.singlepost h3,.searchresult h3{
	font-size: 1.84em;
	font-weight: normal;
	margin: .6em 0 0 0;
}
.singlepost h4,.searchresult h4{
	font-size: 1.3em;
	font-weight: normal;
}
ins{
	background: #f3fb95;
	text-decoration: none;
}
.singlepost p,.content .searchresult p,.content .searchresult .entry-summary p{
	display: block;
	margin-bottom: 1em;
}
.data{
	border-bottom: 3px solid #efedda;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1em 0;
	width: 100%;
}
.data caption{
	font-size: 1em;
	font-weight: bold;
	margin-top: 1em;
	padding: 0;
	text-align: left;
}
.data thead th{
	background: #fcfae3;
	border-bottom: 1px solid #d1cfd0;
	border-top: 3px solid #efedda;
	font-size: .8em;
	font-weight: normal;
	text-align: right;
	text-transform: uppercase;
}
.data tbody th{
	font-weight: normal;
}
.data th, .data td{
	padding: 6px 20px 5px 20px;
	text-align: left;
}
.data tbody td{
	text-align: right;
}
.data tbody td, .data tbody th{
	border-top: 1px solid #d0d0d0;
}
.sess td, .sess th{
	padding: 3px 10px 3px 10px;
}
.sess tbody td, .sess tbody th{
	text-align: left;
	vertical-align: top;
}
.sess thead th{
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: left;
}
.sess tbody th{
	width: 10em;
}
.img{
	clear: both;
	color: #898989;
	margin: 1em 0 1em -6em;
	overflow: hidden;
	zoom: 1;
}
.img img, .img div{
	float: left;
	position: relative;
}
.con img{
	border: 1px solid #ccc;
}
.img span, .img p{
	_height: 0;
	background: url(http://cssing.org.ua/wp-content/themes/cssing_html5/img/superstar.png) no-repeat 17px 0;
	display: table;
	margin: 25px 0 0 0;
	padding: 25px 0 0 17px;
	zoom: 1;
}
ol.code{
	margin: -.7em 0 .4em 0;
	padding: 0 0 1em 40px;
	position: relative;
	font-size:13px;
}
ol.code li{
	background-color: #efedda;
	
	color: #111;
	font-size: 14px;
	margin: 1px 0 0 0;
	padding: 0 0 0 6px;
}
ol.code li.tab{
	padding-left: 2em;
}
ol.code li.tabtab{
	padding-left: 4em;
}
ol.code li.tabtabtab{
	padding-left: 6em;
}
ol.code li.tabtabtabtab{
	padding-left: 6em;
}
ol.code small{
	color: #999;
	font-size: .9em;
	margin-left: .5em;
}
pre{
	color: #333;
	font: normal 1.1em/1.5 Courier,monospace;
	margin: 1em 0;
}
pre.over{
	overflow: auto;
	width: 100%;
}
code{
	font-family: Courier,monospace;
	padding: .3em;
}
del{
	text-decoration: line-through;
}
blockquote{
	background: transparent url(http://cssing.org.ua/wp-content/themes/cssing_html5/img/quote1.png) no-repeat 0 10px;
	font-style: italic;
	margin: 0;
	padding: 10px 0 2px 50px;
	position: relative;
}
.singlepost ul, article ul{
	list-style: circle url(bul00000.png);
	margin: 0 1em 1em 3em;
}
.singlepost ol,.searchresult ol{
	margin: 0 1em 1em 3em;
}
.singlepost .categ{
	background: #fff;
	bottom: -.5em;
	float: right;
	font-size: .9em;
	margin: 0;
	padding: 0;
	padding-left: 1em;
	position: absolute;
	right: 0;
}
.categ a{
	color: #000;
	text-decoration: underline;
}
.commentarea{
	margin: 2em 0 0 0;
}
.commentarea h3,.commentarea h2{
	font-size: 1.83em;
	font-weight: normal;
	margin-bottom: 1em;
}
.commentarea h2{
	margin-bottom: .2em;
}
.commentarea dl{
	border-bottom: 3px solid #000;
	margin-bottom: 0;
}
.commentarea dt{
	color: #898989;
	font-size: 1.1em;
	position: relative;
}
.commentarea dt:target strong{
	border-bottom: 3px solid #898989;
}
.commentarea dt em{
	font-style: normal;
}
.commentarea dt strong{
	color: #898989;
	font-size: 2.6em;
	font-weight: normal;
	left: -1.9em;
	line-height: 1;
	position: absolute;
	text-align: right;
	text-decoration: none;
	width: 1.6em;
}
.commentarea dt strong a{
	color: #898989;
	text-decoration: none;
}
.commentarea dd{
	margin-bottom: 2em;
}
.commentarea dd p{
	margin-bottom: 1em;
}
#respond{
	font-size: 1.38em;
	font-weight: normal;
	margin-bottom: .6em;
	padding-top: 1em;
}
form,form small{
	font-size: 1.2em;
	font-size: 13px;
	font-size: 1em;
}
form .inpt, form textarea, #solo-subscribe-email{
	background: #fff;
	border: 1px solid #cfcfcf;
	font-family: "Myriad Pro", Arial, sans-serif;
	font-size: 1em;
	padding: .2em .2em;
}
form textarea{
	height: 100px;
	width: 100%;
}
form input, form label{
	vertical-align: middle;
}
#solo-subscribe-email{
	margin: .3em 0;
	width: 18.6em;
}
#commentform p{
	margin-bottom: 7px;
}
#commentform{
	border-bottom: 3px solid #000;
	padding-bottom: 30px;
}
#commentform .inpt{
	margin-right: .5em;
	width: 13.8em;
}
#submit{
	padding: .1em .4em;
}
.forms{
	position: relative;
}
.forms h3{
	padding-top: .3em;
}
.subscribe-comments,.subscribe-to-comments{
	background: url(http://cssing.org.ua/wp-content/themes/cssing_html5/img/star.png) no-repeat 0 0;
	padding-top: 24px;
	position: absolute;
	right: -25.3em;
	top: 1.5em;
	width: 19em;
}
.req{
	background: url(http://cssing.org.ua/wp-content/themes/cssing_html5/img/req.png) no-repeat 0 50%;
	float: right;
	margin-top: -.1em;
	padding: .7em 0 .5em 0;
	padding-left: 31px;
	width: 7em;
}
.content blockquote{
	clear: both;
}
.content .singlepost dl{
	margin: 0 0 1.5em 0;
}
.content .singlepost dd{
	margin: 0 0 1em 2em;
}
.content .singlepost dd span{
	font-size: .9em;
}
.content .singlepost dd span a,.content .singlepost dd span a:visited{
	color: #000;
}
img.left{
	float: left;
	margin: 1em 1em 1em 0;
}
img.right{
	float: right;
	margin: 1em 0 1em 1em;
	position: relative;
	z-index: 45;
}
.example{
	background: #fafafa;
	border: 1px solid #ccc;
	margin: 1em 0;
	padding: 5px;
}
.note{
	color: #777;
}
.entry-summary .img span{
	display: none;
}
.entry-summary .img{
	margin: 0;
	margin-bottom: 0;
}
.entry-summary img{
	display: block;
	float: none;
	margin: 0;
}
.entry-summary{
	overflow: hidden;
}
aside{
	font-size: 1.3em;
	line-height: 1.4;
}
aside h2{
	display: none;
}
aside h3{
	color: #000;
	font-size: 1.38em;
	font-weight: normal;
	margin: 0 0 .2em 0;
}
aside ul{
	border-bottom: 3px solid #000;
	list-style: none;
	margin-bottom: 1.2em;
	padding-bottom: .3em;
	padding-left: 14px;
	position: relative;
	zoom: 1;
}
aside .twitter{
	list-style: none;
}
aside li{
	background: url(bul00000.png) no-repeat 0 .4em;
	margin-bottom: .5em;
	padding-left: 18px;
}
aside li.rss{
	background: #fff;
	bottom: -.5em;
	float: right;
	font-size: .8em;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
}
aside li.rss a{
	color: #000;
	margin-left: 10px;
	text-decoration: underline;
}
#searchform{
	margin-bottom: 1.4em;
}
#searchform input{
	font-size: 1em;
	vertical-align: middle;
}
#searchform .inpt{
	width: 11em;
}
.searchhead{
	font-size: 1.4em;
}
html{
	height: 100%;
}
.p404, .p404 body{
	height: 100%;
}
.p404{
	background: url(http://cssing.org.ua/wp-content/themes/cssing_html5/img/404.png) repeat-x 50% 100%;
}
.p404 #out nav{
	bottom: 30px;
	color: #000;
}
.subscribe-to-comments{
	display: none;
}
footer{
	font-size: 1.3em;
	line-height: 1.4;
	padding-bottom: 20px;
	border-top:5px solid #000;
	padding-top:10px;
}
footer p{
	font-size: .93em;
	padding-bottom: 15px;
}
span{
	font-weight: normal;
}
body, input,form .inpt, form textarea, #solo-subscribe-email{
	font-family: Arial, sans-serif;
}
.commentarea dt strong{
	font-size: 2.2em;
}
body:first-of-type,body:first-of-type input,form .inpt,body:first-of-type form textarea,body:first-of-type, #solo-subscribe-email{
	font-family: "Myriad Pro", arial, sans-serif;
}