<!DOCTYPE html>
{% load staticfiles form %}

<html>
	<head>
		<meta charset="utf-8" />
		
		<title>Автошкола</title>	

		<!--<link rel="stylesheet" href='static/css/styles.css' />-->  
		<link rel="stylesheet" href='{% static "css/styles.css" %}' />  

		<!--[if lt IE 9]>
			<script src="js/html5/html5.js"></script>
		<![endif]-->			
	</head>
	
	<body>		
		<div class="wrap" data-ng-app="formValidation">	
			{% show_form request %}
		
			<header class="header">
				<div class="header_inner wrapped">					
					<a href="" class="logo left">
						<img class="logo_pic" width="270" height="134" alt="Автошкола" src="{% static 'upload/logo.png' %}" />
					</a>
					
					<div class="center">	
						<h1 class="h1">Первая автошкола</h1>
					</div>
					
					<div class="right">				
						<div class="phone"><span>(8182)</span> 42-00-01</div>
						
						<a class="auth" href="/admin">Личный кабинет</a>
					</div>
				</div>
			</header>
			
			<nav class="nav_top">
				<div class="nav_top_inner wrapped">
					<h1 class="hide">Navigation</h1>
					
					<ul>
						<li>
							<span class="active" data-id1="anchor_index">Главная</span>
						</li>
						
						<li>
							<span data-id1="anchor_job">Об автошколе</span>
						</li>

						<li>
							<span data-id1="anchor_learn">Обучение</span>
						</li>

						<li>
							<span data-id1="anchor_news">Новости</span>
						</li>

						<li>
							<span data-id1="anchor_contacts">Наши контакты</span>
						</li>								
					</ul>
				</div>
			</nav>
			
			<div class="content">
				<div class="index_page">
					<section class="request" id="anchor_index">
						<div class="request_bg">
							<div class="request_inner wrapped">
								<h1 class="h1">ОБУЧЕНИЕ КАТРЕГОРИИ <span class="marker2">В</span> В АРХАНГЕЛЬСКЕ</h1>
								
								<div class="body">
									<article class="request_form">
										<h1 class="h1">Записаться на пробное, практическое занятие <span>бесплатно!</span></h1>
										
										<form action="#" method="post" name="request_form_0" id="request_form_0">
											<div>
												<input class="fld_name flds" id="fld_name_0" type="text" placeholder="Ваше имя" name="fld_name" />
											</div>
											
											<div>
												<input class="fld_phone flds" id="fld_phone_0" type="text" placeholder="Ваш телефон" name="fld_phone" />
											</div>
											
											<div>
												<input class="fld_submit button" id="btn_submit0" type="button" value="Записаться!" name="fld_submit0" />
											</div>
										</form>
										
										<div class="post_text">Мы гарантируем сохранность ваших персональных данных</div>
									</article>						
								</div>
							</div>
						</div>
					</section>
					
					<section class="our_job" id="anchor_job">
						<div class="our_job_inner wrapped">
							<h1 class="h1">Как <span>мы</span> работаем</h1>
							
							<ul>
								<li>

									
									<p>Заполнения договора</p>
								</li>
								
								<li>

									
									<p>Теория вождения</p>
								</li>

								<li>

									
									<p>Практика вождения</p>
								</li>

								<li>

									
									<p>Внутрений экзамен</p>
								</li>

								<li>

									
									<p>Сдача экзамена в Гиббдд с первого раза</p>
								</li>								
							</ul>
						</div>
					</section>
					
					<div class="our_job2" id="anchor_learn">
						<div class="our_job2_inner wrapped">
							<h1 class="h1">Наши инструкторы</h1>
							
							<div class="list">

							</div>
						</div>
					</div>
					
					<section class="our_autopark">
						<div class="our_autopark_inner wrapped">
							<h1 class="h1">Наш автопарк</h1>
							
							<div class="list">

							</div>							
						</div>		
					</section>		

					<section class="news" id="anchor_news">
						<div class="news_inner wrapped">
							<h1 class="h1">Новости</h1>
						</div>
					</section>
					
					<section class="request request_bottom">
						<div class="request_bg">
							<div class="request_inner wrapped">
								<h1 class="h1">АВТОШКОЛА <span class="marker1">№1</span> <br />ОБУЧЕНИЕ КАТРЕГОРИИ <span class="marker2">В</span> В АРХАНГЕЛЬСКЕ</h1>
								
								<div class="body">
									<article class="request_form">
										<h1 class="h1">Записаться на пробное, практическое занятие <span>бесплатно!</span></h1>
										
										<form action="#" method="post" name="request_form_1" id="request_form_1">
											<div>
												<input class="fld_name flds" id="fld_name_1" type="text" placeholder="Ваше имя" name="fld_name" />
											</div>
											
											<div>
												<input class="fld_phone flds" id="fld_phone_1" type="text" placeholder="Ваш телефон" name="fld_phone" />
											</div>
											
											<div>
												<input class="fld_submit button" id="btn_submit1" type="button" value="Записаться!" name="fld_submit2" />
											</div>
										</form>
										
										<div class="post_text">Мы гарантируем сохранность ваших персональных данных</div>
									</article>						
								</div>
							</div>
						</div>
					</section>										
				</div>
			</div>
		</div>
		
		<footer class="footer" id="anchor_contacts">
			<div class="footer_inner wrapped">
				<div class="left">
					<div class="map">
						<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=m5-_plen-rNkoC6AZ8GbAd6R3pqL8dfi&amp;width=590&amp;height=270"></script>
					</div>
					
					<a href="#" class="copyright">Сделано в «Matrёshka Marketing»</a>					
				</div>
				
				<div class="right">
					<ul>
						<li>
							<strong class="title">Адрес:</strong>
							
							<p>ул. Наб. Сев. Двины, 30 (БЦ "Айсберг"), каб.300 (3 этаж)</p>
						</li>
						
						<li>
							<strong class="title">Тел.:</strong>
							
							<p>420-001</p>
						</li>

						<li>
							<strong class="title">Режим работы офиса:</strong>
							
							<p>с 9.00 до 21.30</p>
						</li>						
					</ul>
					
					<p class="post_text">Лицензия на осуществление образовательной деятельности 29ЛО1 №0000233 от 30 января 2013 г.<p>
				</div>				
			</div>
		</footer>
		
		<!--<div class="modal fade" id="modal-8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
					<h4 class="modal-title" id="myModalLabel">Спасибо.</h4>
					</div>
					
					<div class="modal-body">
						<p>Ваша заявка отправлена.</p>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
					</div>
				</div>
			</div>
		</div>	-->	

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		
		<script>
			$("button").click(function() {
				console.log('click');
			//
				var name = $("input[name=name]");
				var email = $("input[name=email]");
				
				console.log(name);
				console.log(email);
			//
				var error = "";
			// Проверка введена ли информация в поля формы
				if ((name.val() == '') || (email.val() == '')) {
					 error = "Вы не ввели имя и e-mail";
					 if (name.val() == '' && email.val() != '') {
						error = "Вы не ввели имя";
					 }
					 if (name.val() != '' && email.val() == '') {
						error = "Вы не ввели e-mail";
					 }
					 alert(error);
				}
			// Если поля заполнены, отправляем их значения
				if (!error) {
					console.log('no errors');
					$.ajax({
						url: "call/",
						type: 'POST',
						dataType:"html",
						data: {
							"name": name.val(),
							"email": email.val(),
						},
						error: function() {
							console.log('err');
							alert('Ошибка получения запроса');
						},
			// При успехе очищаем поля и меняем кнопочку
						success: function(data) {
							console.log('succ');
							name.val('');
							email.val('');
							$("button").text("СПАСИБО")
									.addClass("save-call-button");
						},

            beforeSend: function(xhr, settings) {
                console.log('-------------before send--');
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }						

					});// ajax
				}
				return false;
			});		
		</script>
	</body>
</html>
