# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /
#Options -Indexes

FileETag MTime Size
<ifmodule mod_expires.c>
<filesmatch ".(jpg|jpeg|gif|png|ico|css|js)$">
ExpiresActive on
ExpiresDefault "access plus 1 month"
</filesmatch>
</ifmodule>
