#wrapper
{
  width:560px;
  position:relative;
}

#navigation
{
  position:absolute;
  width:560px;
  top:74px;
  z-index:10;
  display: none;
}

#navigation a
{
  padding:10px;
  background:#d60c62;
  color:#FFFFFF;
  text-transform:uppercase;
  text-decoration:none;
}

#navigation a:hover
{
  background:#cc0035;
}

#navigation a.sexyslider-prev
{
  float:left;
}

#navigation a.sexyslider-next
{
  float:right;
}

#control
{
  text-align:right;
  margin-top:5px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#control a
{
  background:#fff;
  border: 1px solid #000;
  padding:0 3px;
  color: gray;
  font: 700 14px Arial, sans-serif;
  text-transform:uppercase;
  text-decoration:none;
  margin-left:7px;
}

#control a.active
{
  background:#d60c62;
}

#control a span
{
  
}

#slider{
	position: relative;
}
