body{
	background: lime;
}

.header{
		background: yellow;
}

.nav_top{
	overflow: hidden;
}

	.nav_top li{
		float: left;
		margin: 0 30px;
	}

.content{
	
}

.footer{
	background: red;
	min-height: 200px;
	text-align: center;
	line-height: 200px;
}
