.contacts .contentT .box1 .contactform .name{						
	padding-top: 10px;
	top: 20px;
}

.contacts .contentT .box1 .contactform .email{
						top: 34px;		
						padding-left: 4px;
						padding-top: 10px;
}



					.contacts .contentT .box1 .contactform .lbl_name{	
						position: absolute;
						top: -2px;
						left: 8px;
						
					}
					
					.contacts .contentT .box1 .contactform .lbl_email{	
						position: absolute;
						top: 61px;
						left: 8px;
						
					}					

					
					.contacts .contentT .box1 .contactform .lbl_message{	
						position: absolute;
						top: 122px;
						left: 8px;
					}					
					
					.contacts .contentT .box1 .contactform .message{					
						
						border: none;
						background: url('../images/fld_message.png') left top no-repeat;	
						width: 419px;
						height: 129px;
						position: absolute;
						left: 6px;
						top: 142px;			
						padding-left: 4px;	
						padding-top: 4px;	
					}						
					
					.contacts .contentT .box1 .contactform .submit{					
						position: absolute;
						right: -23px;
						top: 277px;							
					
					}					