/*
INFO: Игра Нервное Зрение
opera/chrome/FF/ie7+/safari
>=1024x768
Sergey Kalinin 04/2012
version 1

TABLE OF CONTENTS:
1. global reset and common settings
2. layout
3. blocks
4. content blocks
*/

/************************************************************************************************************** 1.global reset and common settings */

html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, li, span, fieldset { 
	border: none;
	margin: 0; 
	outline: none;
	padding: 0;
}

html{
    height: 100%;		
}

body{	
    height: 100%;	
	background: #000; 
}	

ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
	outline: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

h1{
	display: none;
}

h2{
	font-weight: 100;
	text-indent: 15px;
}


/***************************************************************************************************************************************** 2.layout */		

.wrap{
	position: relative;
}

	.field{		
		margin-bottom: 30px;
	}
	
	.aim{
		color: 0;
		font-size: 8px;
		text-align: center;
	}
	
	.score{
		position: absolute;
		top: 200px;
		left:  600px;
		font-size: 32px;
		color: red;
		font-weight: 700;
	}
	
	.timer{
		position: absolute;
		top: 100px;
		left:  600px;
		font-size: 32px;
		color: red;
		font-weight: 700;
	}	

	.rules{
		position: absolute;
		top: 300px;
		left: 585px;
		z-index: 10;
		color: cyan;		
	}
	
	.btn_field_color,
	.btn_aim_add{
		float: left;
		margin-right: 30px;
	}	
	
	.btn_new_game{
		float: left;
		clear: left;
		margin-top: 25px;
	}
	



/****************************************************************************************************************************************** 3.blocks */

/****************************************************************************************************************************************** 3.1 header */
				
