/*
=============================================================
© 2008 Российская школа CSS (Russian CSS School)
http://www.css-school.ru
Урок CSS №25. Создание всплывающего окна
style.css - Набор стилей для урока
=============================================================
*/

a {
   text-decoration:none;
   color:#03508c;
   font-weight:bold;
   font-size:16px;
}

#wind {
   	position: absolute;
	width:320px;
	left: 35%;
  	top: 100px;
	border:solid #105a98 4px;
	display: none;
  	z-index: 10;
    overflow: hidden;
    background-color:#348c03;
    color:#fff;
    text-align:center;
    padding:10px;
}