@media all {
    * {margin:0; padding:0;}

    body { font-size:82%; background:white; color:black; }

    body, input,  textarea, button, select { font-family: Verdana, sans-serif; }

    a { text-decoration:none; border-bottom:1px solid; color:#004699;}
	a:visited { color:#7E6CAD; }
    .links a:hover, .post a:hover, a:hover, a:focus, .active, .post-meta a:hover, .post-meta a:focus, .admin-comment .comment-header p strong a, .trackback-link a:hover, #site-name a:hover { color:#CD0000; }

    a img {border: none;}

    p, ol, ul, blockquote {margin: 0 0 1.5em 0; line-height:1.4em; }

    ol, ul, blockquote { padding-left:4em;}

    ul {list-style:square;}

    .post-content li { margin-bottom:1em;}

    cite, blockquote {font-style:italic;}

    small { font-size: 0.8em; }

    code, pre{font-family:courier new, monospace; font-style:normal; font-size:1.1em;}
    pre code {font-size:1em;}

    pre.prettyprint, pre.pretty { padding: 0 0 0 1.5em; border:none; border-left:1px solid #DBD5AC; background:white; }

    .clear-all { clear:both; font-size:0.0001%; height: 0px; line-height:0.0001%; overflow:hidden; }

    pre, .gray-box, .white-box, blockquote, #intro, #search-page form.search_form { border-width:1px; border-style:solid; padding:1.5em 1.5em 0; margin: 1.5em 0; }

    pre { padding: 1.5em }

    .white-box { border-color:#DBD5AC; }

    .gray-box, pre, blockquote, #intro, #search-page form.search_form {  background:#F9FAF1; border-color:#DBD5AC #F9FAF1; }
    .gray-box img { border: 1px solid #DBD5AC;}
	
	.commentlist blockquote, #form-message-container blockquote { padding: 0 0 0 1.5em; border:none; border-left:1px solid #DBD5AC; background:white; }

    .float-left {float: left; margin: 0 1.5em 1.5em 0;}
    .float-right {float: right; margin: 0 0 1.5em 1.5em;}
    a.float-left, a.float-right {border:none;}

    .example-img {text-align:center; padding:1.5em 0 1.5em 0;}
    .example-img a { border:none; }
    .example-img img { margin: 4px; }

    /* illustrations */
    .left-image-text {float:left; width:100%; clear:both; }
    .left-image-text img {float:left; margin: 0 1.5em 1.5em 0; }

    .large-image-container { overflow: scroll; width: 50em; height: 32em; }

    /* HEADERS */
    h1, h2, h3, h4, h5, h6, em, cite, blockquote, #main-menu { font-family: georgia, serif; }
    h1, h2, h3, h4, h5, h6 { margin-bottom:0.5em; padding-top:0.5em; font-weight:normal;}
    h1 { font-size:1.69em;}
    h2 { font-size:1.54em; padding-bottom:0.2em; border-bottom:2px solid #dbd5ac;}
    h3 { font-size:1.38em; }
    h4 { font-size:1.23em; font-style:italic;}
    h5 { font-size:1.07em; font-style:italic;}
    h6 { font-size:0.92em; font-style:italic;}

    h5.post-meta { padding-top:0.2em; margin-bottom:0.8em; }

    /* LAYOUT */
	body { width:66em; margin:0 auto; padding: 2em 2em 3em 2em; }
    #header, #wrapper, #footer, body#login{ clear:both;  }
    #main-menu { margin:0 0 1em; }
    #content{ margin-right:20em; }
    #sidebar{ float:right; width:15em; padding-left:5em; }
    #content, #sidebar { margin-bottom:2em;}
    #footer { margin-top:2em; }

    /* POST */
    .single h1 {font-size:2em; text-align:center; margin-top:0.5em; }
    .single h4.post-meta { margin-bottom:1.5em;}
    .home .post-meta, .single .post-meta {text-align:center;}
    .column-home .post h1 {padding-left:2em; padding-right:2em;}
    .post-buttons { text-align: right; padding: 0 0.5em; }
    .post-buttons a {}
    .author-date { float:left; }
    .post-meta p {color:gray;}

    .post-meta-single p { margin:0.5em 0;}

    .post-meta a, h1, h2, h3, h4, h5, h6 { color:#988710;}

    #social-bookmarks { text-align:center; line-height:2em; }
    #social-bookmarks a { margin:0 5px; border:none; }
    #social-bookmarks a img { opacity: 0.5; filter: alpha(opacity=50); }
    #social-bookmarks a:hover img { opacity: 1; filter: alpha(opacity=100); }

    /* SEARCH */
    #content .search_form .input_text { width:70%; }
    #search-page .search_form  { text-align:center; margin-top: 2em; }
    #search-page iframe { width:100%; }
    .firefox .search_form .input_submit { padding:1px 3px;}
    .msie .search_form .input_submit { padding:1px 3px 0;}
    .msie .search_form .input_text { margin-bottom:1px; }

    /* PROFILE */
    #your-profile label { width:14em; display:block; text-align:right; padding-right:1em; }
    #your-profile input, #your-profile select, #your-profile textarea { width:18em; }
    #your-profile td { padding-bottom:1em; vertical-align:top; }
    #your-profile .submit { text-align:right;}
    #your-profile .submit input { width:10em; }

    /* SIDEBAR */
	#sidebar .section { margin:0 0 2em 0; }
	#sidebar h3 { padding:0; clear:both; margin:0 0 0.8em -1em; font-size:1em; line-height:1.58em; color:#988710; border-bottom: 1px solid #DBD5AC; }
    #sidebar ul { font-size: 0.85em;  padding:0; list-style: none;}
    #sidebar li {  padding-bottom:0.4em;}
    #sidebar p { font-size: 0.85em; }
    #sidebar .input_text { width:11em;}
    #sidebar .input_submit { width:5em;}

    /* LOGO*/
    #logo {float:left; margin-top:2px; }

    /* HEADER */
    #header { margin-bottom:2em; }
    #site-name { font:normal 3em/1em georgia,serif; margin:0 0 0 90px; padding: 0 0 10px; border-bottom:2px solid #004699; }
    #site-name  a {border: none; color:#3069AC; }

    #auth { float:right; text-align:right; list-style:none; margin:0;}

    /* MAIN MENU */
    ul#main-menu { list-style: none; }
    #main-menu, #print-link   { font-size: 1.38em; margin:0 0 0 90px; line-height:1.5em; padding:0.2em 0 0 0.15em;}
    #main-menu a, #print-link a {margin:0 1em 0 0;  border:none; }
    #main-menu li { display:inline; }

    #print-link {display:none; }

    /* COMMENTS */
    h3#comments { padding-top:0; margin-top:2em; }
    h3#comments a { border: none; margin-left:0.5em; }
    h3#comments a img { vertical-align:middle; }
	
    ul.commentlist { margin:0; padding:0; list-style:none; }
	.commentlist ul.children, .commentlist #respond  { margin:0; list-style:none; padding:0 0 0 3em; }
	.commentlist li.comment { margin:0; } 
	.comment-div { padding:0.5em 0 1.5em; }
	.comment-header { line-height:20px; margin-bottom:1em; }
	.comment-author .avatar { width: 20px; height: 20px; float:left; margin-right:0.7em; border:1px solid #ccc }
	.comment-author  .fn { font-style:normal; font-weight:bold; font-family: Verdana, sans-serif;  }
	.comment-author .says { display: none; }	
	.comment-date, .comment-link { font-size:0.8em; }
	.commentlist .reply { margin-top: -1.5em; font-size:0.8em;}
	#respond p { margin: 0 0 1em 0; }

	/* CONTACTS */
	#contact-message-area { margin:3em 0 0 0; border:1px solid #A2BCDA; padding:1.5em 1.5em 0 1.5em;}
	#contact-message-area h3 { padding-top:0; }

    /* FORMS */	    
    .input_text, .input_password, .input_select, textarea, select { border: 1px solid #A2BCDA; padding: 2px; font-size:1em; }
    .input_submit, .input_button, button { padding:1px; font-size:1em; }

    #buttons-bar {line-height:2em;}
    #buttons-bar input { font-size:0.85em; width:5.5em; padding:1px 0; margin:0.25em 0.25em 0.25em 0; }

    #comment, input#title { width:99%; }
	
    #form-message-container { margin-bottom:1em;}
    .errors-list ul {background:#FFCCCC; padding:0.7em 1.2em 0.7em 3em; margin:0; }
    #preview-button { margin-left:0.5em; }

    /* PAGE NAVIGATION*/
    #page-nav { font-family:georgia, serif; font-size: 1.5em; padding-top:0.5em; }
    #page-nav a { margin:0pt 0.2em; }
    #page-nav a.active-page { border:none; color:#CD0000; }

    /* FOOTER */
    #footer { border-top: 1px solid #DBD5AC; clear:both; padding:1.5em 0 3em;}
	#footer h4 { padding-top:0; }
	ul#footer-menu { list-style: none; float:right; font-size: 0.85em; }
    #footer-menu li { display:inline; margin-left:0.5em; }

    /* CODE LINE WRAP*/
    .line-wrap {color: red; font-weight:bold;}

    /* TABLES */
    .post-content table {border-bottom: 3px solid #B2B2B2; margin: 0 0 2em; width:100%;}
    .post-content caption {padding: 0.75em; font: 1.5em Georgia, Times, serif; border: 1px solid #B2B2B2; border-width: 1px 0 2px; background: #EEE;}
    .post-content th, .post-content td {padding: 0.5em 1em; border: 1px solid #CCC; border-width: 0 0 1px 1px;}
    .post-content th.first, .post-content td.first, .post-content th {border-left: none;}
    .post-content thead th {text-transform: uppercase; text-align: left;}
    .post-content tfoot {display: none;}

    /* RSS */
    .rss-small { padding:0 0 0 20px; background: no-repeat url('feed-ico.gif') 0 3px; line-height:20px; }

    /* FAVORITES */
    #sidebar #ssReferrers li, .favorite li { margin-bottom:0.5em; }
	
	/* RECENT COMMENTS */
	.recent-comments li {background: no-repeat; padding-left:20px;}

    /* INTRO */
    #intro h2 { padding-top: 0; }

    /* AWARDS */
    #awards { float: right; width: 5em; font-size: 0.85em; padding-left:1em; }
    #awards a { border:none ; margin: 0pt 1em 1.5em 0pt; float: left; }

    /* TOOLTIP */
    #tooltip { position: absolute; margin:0; padding:1.5em 1.5em 0; width:35em; border:1px solid #988710; background:white; }
    #tooltip h1 { padding-top:0; }
    .loading { padding-left:2em; background: url('http://designformasters.info/wp-content/themes/dfm/images/loading.gif') no-repeat;}

    .prettyprint .str { color: #080; }
    .prettyprint .kwd { color: #008; }
    .prettyprint .com { color: #800; }
    .prettyprint .typ { color: #606; }
    .prettyprint .lit { color: #066; }
    .prettyprint .pun { color: #660; }
    .prettyprint .pln { color: #000; }
    .prettyprint .tag { color: #008; }
    .prettyprint .atn { color: #606; }
    .prettyprint .atv { color: #080; }
    .prettyprint .dec { color: #606; }
	
	#ya_direct { float: right; width:200px; height:300px; margin:0 0 10px 10px; }
    #top-line { position: absolute; top:0; left: 0; width: 100%; height: 60px; overflow:hidden; border-bottom:1px solid #aaa; }
    body { margin-top1: 60px; }
    
}

@media aural, braille, embossed, handheld, projection, tty, screen, tv { .printOnly { display: none; } }

@media print {
    #auth, #sidebar, #main-menu, #respond, .post-meta-single, .post-buttons,
    .comment-meta .comment-edit-link, #social-bookmarks, #footer-menu, .advertisment {display:none;}

    body, #header, #content, #footer, #wrapper { float:none; width:auto; border:none; padding:0; margin:0; }    
    body { font-family:times, serif; font-size:12pt; background:#fff; color:#000; }
    sup, sub { font-size:8pt; }
    p, ul, ol { line-height:14pt; }
    code, pre{ font-size:0.9em; }
    img { border:none; margin:4pt; }
    a { border:none; }
    .post h1 { margin-top:3em; }
    #site-name { font-size: 2.5em; }
    #print-link  { display:block; }
    
    #footer h4 { text-align:left; font-size:1em; }
    #footer h4 a[href]:after { content:" (" attr(href) ") "; font-size: 90%; }

    .post-content a[href]:after { content:" (" attr(href) ") "; font-size: 90%; }
    .post-content a[href^="#"]:after { content:"" }
    
    .print-footnote-links .post-content a[href]:after { content:"";}
    .print-footnote-links .post-content a[href^="#"]:after { content:"" }
}

@media handheld {
    body, #header, #content, #footer, #wrapper, #sidebar { float:none; width:auto; border:none; padding:0; margin:0; }
    #sidebar { margin-top: 1em; overflow: hidden; zoom:1; }
    #sidebar h3 { margin-left: 0; }
    #sidebar .section { width:15em; margin-right:2em; float: left; }
    body { padding:1em; }
	.advertisment { display: none;}
}