#main-menu ul.group li a {
	border-bottom: 5px solid transparent;
	position: relative;
	top: 5px;
}
#main-menu ul.group li a:hover {
	border-bottom: 5px solid #fff;
	position: relative;
	top: 5px;
}
.portfolio-container .portfolio .portfolio-thumb {
	border-bottom: 2px solid #15bae3;
}

/*for code*/
.code {
	background: #fbfbfb;
	border: 1px solid #cccccc;
	float: none;
	line-height: 1.1em;
	margin: 20px 0;
	outline: 0;
	overflow: visible;
	padding: 30px;
	position: static;
	text-align: left;
	vertical-align: baseline;
	box-sizing: content-box;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: #39642e;
}
pre {
	vertical-align: baseline;
	box-sizing: content-box;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: #39642e;
}
.tab1 {
	margin-left: 30px;
	display: inline-block;
}
.tab2 {
	margin-left: 60px;
	display: inline-block;
}
.content .main-title h1 {
	font-family: 'Vetka', sans-serif;
	font-size: 48px;
	color: #ffffff;
	text-shadow: 2px 2px 0px #4581c4;
	padding: 2px;
}
.clearfix {
	display: none;
}
.importentText {
	color: red;
}
footer {
	float: left;
}
.content ul {
	line-height: 24px;
	font-family: verdana, sans-serif;
	font-size: 14px;
	color: #1a1a1a;
	margin-left: 10px;
}
.showThis>span {
	color: #ffffff;
	background: #4581c4;
	text-transform: capitalize;
	margin: 0 15px 0;
	padding: 4px 12px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
	border-left: 1px solid #2e93bb;
	border-top: 1px solid #2e93bb;
	display: inline-block !important;
	zoom: 1;
	font-family: verdana, sans-serif;
	cursor: pointer;
	font-size: 14px;
	border-radius: 5px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}
.float_left {
	float: left;
}
.mt_scrubberColumn {
	display: none;
}
.mt_hasScrubber {
	margin-right: 0!important;
}
#mt_cf_conversationReply .mt_buttonGroup input {
	padding: 6px!important;
	float: left;
	border: 1px solid #ececec;
}
#mt_conversationBody .mt_post .mt_editButtons > .mt_button {
	margin-top: 6px;
}
#mt_conversationBody .mt_postHeader h3 {
	font-size: 20px !important;
}