/* calendar styles */
#calendar-body {
  position: relative;
  width: 100%;
}
.block-calendar {
  min-height: 40px;
  width: 100%;
}
.block-calendar a {
  text-decoration: none;
}
.calendar-container {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-family: Calibri,Tahoma,Arial,sans;
  margin: 0;
  padding-bottom: 5px;
}
.rbc_week,
.rbc_daynames {
  font-size: 12px;
  height: 28px;
  margin: 0;
  overflow: hidden;
  padding: 1% 0 0;
  white-space: nowrap;
  width: 100%;
}
.calendar-container .rbc_weekend,
.calendar-container .rbc_day {
  display: inline;
  float: left;
  height: 26px;
  overflow: visible;
  text-align: center;
  width: 14%;
}
.calendar-container .rbc_weekend {
  color: #79c;
  width: 15%;
}
.rbc_week .rbc_value {
  border: 1px solid #eee;
  border-radius: 22px;
  height: 19px;
  margin: auto;
  padding-top: 4px;
  text-align: center;
  width: 23px;
}
.blank .rbc_value {
  background-color: #f6f6f6;
  border-color: #f4f4f4;
}
.rbc_week a .rbc_value {
  background-color: #48f;
  border-color: #37e;
  color: #fff;
}
.rbc_week a:hover .rbc_value {
  background-color: #59f;
  border-color: #48f;
  color: #fff;
}
.rbc_week .rbc_today .rbc_value {
  border: 2px solid #48f;
  color: #48f;
  font-weight: bold;
  height: 17px;
  width: 21px;
}
.rbc_daynames {
  background: url("bg.png") repeat-x 0 32px;
  border-bottom: 1px solid #e0e0e0;
  height: 18px;
  margin-bottom: 6px;
  padding: 38px 0 0;
}

.rbc_month {
  border-bottom: 1px solid #e0e0e0;
  height: 27px;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}
.rbc_month .month-title {
  padding-top: 2px;
}
.rbc_month .calendar-prev,
.rbc_month .calendar-next {
  border: none;
  height: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 20px;
}
.rbc_month .calendar-prev {
  left: 6px;
  top: 6px;
}
.rbc_month .calendar-next {
  right: 6px;
  top: 6px;
}
.rbc_month a .calendar-prev {
  background: transparent url("arrows.png") no-repeat 0 0;
}
.rbc_month a .calendar-next {
  background: transparent url("arrows.png") no-repeat 0 -20px;
}
.rbc_month a:hover .calendar-prev {
  background: transparent url("arrows.png") no-repeat -20px 0;
}
.rbc_month a:hover .calendar-next {
  background: transparent url("arrows.png") no-repeat -20px -20px;
}

/* calendar loader styles */
.calendar_loader {
  height: 0px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0px;
}
.calendar_loader div {
  background: url("ajax-loader.gif") no-repeat;
  height: 16px;
  margin-left: -10px;
  margin-top: -10px;
  width: 16px;
}

/* tooltip styles */
#tiptip_holder {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 99999;
}
#tiptip_holder.tip_top {
  padding-bottom: 5px;
}
#tiptip_holder.tip_bottom {
  padding-top: 5px;
}
#tiptip_holder.tip_right {
  padding-left: 5px;
}
#tiptip_holder.tip_left {
  padding-right: 5px;
}
#tiptip_content {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 3px #48f;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #48f;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  box-shadow: 0 0 3px #48f;
  color: #333;
  font-size: 11px;
  line-height: 1.3em;
  padding: 4px 8px;
}
#tiptip_arrow,
#tiptip_arrow_inner {
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  position: absolute;
  width: 0;
}
#tiptip_holder.tip_top #tiptip_arrow {
  border-top-color: #fff;
  border-top-color: rgba(255,255,255,0.35);
}
#tiptip_holder.tip_bottom #tiptip_arrow {
  border-bottom-color: #fff;
  border-bottom-color: rgba(255,255,255,0.35);
}
#tiptip_holder.tip_right #tiptip_arrow {
  border-right-color: #fff;
  border-right-color: rgba(255,255,255,0.35);
}
#tiptip_holder.tip_left #tiptip_arrow {
  border-left-color: #fff;
  border-left-color: rgba(255,255,255,0.35);
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
  border-top-color: #fff;
  margin-left: -6px;
  margin-top: -7px;
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  border-bottom-color: #fff;
  margin-left: -6px;
  margin-top: -5px;
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
  border-right-color: #fff;
  margin-left: -5px;
  margin-top: -6px;
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
  border-left-color: #fff;
  margin-left: -7px;
  margin-top: -6px;
}
#tiptip_content ul {
  font-size: 11px;
  list-style: none;
  margin: 0;
  padding: 5px 10px;
}
#tiptip_content a {
  text-decoration: underline;
}
#tiptip_content .tooltip_summary {
  padding: 0;
  text-align: right;
}

/* tooltip loader styles */
.tooltip_loader {
  height: 16px;
  padding: 8px 8px;
  width: 16px;
}
.tooltip_loader div {
  background: url("ajax-loader.gif") no-repeat;
  height: 16px;
  width: 16px;
}
