@charset "utf-8";
/*
	html и css приемы - офрмление спец элементов контента
	version: 24.01.10 когда
*/
.cssOpacityDiv {
	padding: 4px;
	background: #990000;
	position: relative;
	width: 200px;
	height: 16px;
	color: #fff;
}
.cssOpacityDiv .cssOpacityUl05 li,
.content .cssOpacityUl1 li {
	background: none;
	padding-left: 0;
}
*html .cssOpacityDiv {
	width: 208px;
	height: 24px;
}
.content .cssOpacityUl05 {
	display: none;
	list-style: none;
	width: 208px;
	background: #990000;
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	position: absolute;
	left: 0;
	top: 24px;
	margin: 0;
	padding: 0;
	text-align: center;
}
.content .cssOpacityUl1 {
	display: none;
	list-style: none;
	width: 208px;
	background: #990000;
	position: absolute;
	left: 0;
	top: 24px;
	margin: 0;
	padding: 0;
	text-align: center;
}
.content .cssOpacityDiv2 {
	display:none;
	position: absolute;
	left: 0;
	top: 24px;
	width: 208px;
	overflow: hidden;
}
.content .cssOpacityDiv2 div {
	background: #990000;
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	width: 100%;
	height: 300px;;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.content .cssOpacityUl {
	list-style: none;
	width: 208px;
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	z-index: 2;
}
.content .cssHacks {
	text-align: center;
	margin-left: 2px;
	border: 1px solid #666;
}