/*
1.global reset and common settings
2.layout
3.blocks
4. 
*/

/************************************************************************************************************** 1.global reset and common settings */
html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, li, span { 
	border: none;
	margin: 0; 
	outline: none;
	padding: 0;
}

html{
    height: 100%;	
}

body{	
    height: 100%;
}	

ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

h1{
	display: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*
div{
	outline: 1px solid red;
}
*/
/***************************************************************************************************************************************** 2.layout */		

.wrap{
	min-width: 1000px;	
	max-width: 1500px;	
	margin: 0 auto;	
	background: cyan;	
	min-height: 100%;
}

/****************************************************************************************************************************************** 3.blocks */

/****************************************************************************************************************************************** 3.1 AR menuT*/

.AR_box{
    position: relative;
}

    .AR_box .menuT_box{
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

        .AR_box .menuT_box ul{
            background: url('../images/bg_menuT.png') left top repeat-x;
            height: 41px;
            margin: 0 40px;
            position: relative;
        }
		
            .AR_box .menuT_box ul li{
                float: left;
                width: 14%;
                text-align: center;
                position: relative;				
				height: 41px;		
				display: table-row;				
				/*overflow: hidden;*/
            }		
			
                .AR_box .menuT_box ul li a{                    
                    display: block;                    
                    max-width: 150px;
                    margin: 0 auto;
                    text-decoration: none;
                    color: #FFF;
                    font: 14px Georgia, serif;
                    font-style:  italic;  					
					height: 41px;
					display: table-cell;
					vertical-align: middle;					
					text-align: center;
					width: 14%;	
                }
				
					.AR_box .menuT_box ul li a span{
						line-height: 12px;
						display: block;
					}			
					
                .AR_box .menuT_box ul li.active{
                    height:  41px;
                    background: url('../images/bg_menuT_activeC.png') left top repeat-x;
                }

                .AR_box .menuT_box ul li .delimeter{
                    height:  41px;
                    width: 5px;
                    background: url('../images/bg_menuT_delimeter.png') left top no-repeat;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                    .AR_box .menuT_box ul li:first-child .delimeter{
                        background: none;
                    }					
			
		.AR_box .menuT_box .cornerL{
			height:  41px;
			width: 11px;
			background: url('../images/bg_menuT_L.png') left top no-repeat;
			display: block;
			position: absolute;
			top: 0;
			left: 29px;
			z-index: 100;
		}

		.AR_box .menuT_box .cornerR{
			height:  41px;
			width: 11px;
			background: url('../images/bg_menuT_R.png') left top no-repeat;
			display: block;
			position: absolute;
			top: 0;
			right: 29px;
			z-index: 100;
		}			

		
		
		

