/*
INFO: 
	project: 
	browsers: opera/chrome/FF/ie9/safari
	width: 
	columns:
	markup: Sergey Kalinin 06/2016 (prozaik81-2@yandex.ru)
	use: 
	desc: 	
	version 1
*/	

/****************************************************************************** COMMON_STYLES */
body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #999;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

content {
  flex: 1;
  display: flex;
}

section {
  background: yellow;
  flex: 3;
}


aside {
  background: grey;
  flex: 1;
}


header { 
  background: red;
}


content { 
  background: green;
}


footer { 
  background: blue;
}

/****************************************************************************** GLOBAL_layout */




/****************************************************************************** GLOBAL_blocks: places_area */
