body {
	color: #000;
	background: #fff;
}

.spritesnav {
	width: 401px;
	height: 48px;
	background: url(blue-nav.gif) no-repeat;
	position: absolute;
	top: 100px;
	left: 100px;
}
#live{
	top: 100px;
}
.spritesnav li {
	display: inline;
}
.spritesnav li a:link, .spritesnav li a:visited, .spritesnav li div {
	position: absolute;
	top: 0;
	height: 48px;
	text-indent: -9000px;
	overflow: hidden;
	z-index: 10;
}
.spritesnav li div {
	z-index: 0;
}
	.spritesnav #snhome a:link, .spritesnav #snhome a:visited , .spritesnav #snhome div{
		left: 23px;
		width: 76px;
	}
	.spritesnav #snhome a:hover, .spritesnav #snhome a:focus, .spritesnav #snhome div{
		background: url(blue-nav.gif) no-repeat -23px -49px;
	}
	.spritesnav #snhome a:active, .spritesnav #snhome div.click {
		background: url(blue-nav.gif) no-repeat -23px -98px;
	}
	.spritesnav #snhome.active a:link, .spritesnav #snhome.active a:visited {
		background: url(blue-nav.gif) no-repeat -23px -147px;
		cursor: default;
	}



	.spritesnav #snabout a:link, .spritesnav #snabout a:visited, .spritesnav #snabout div{
		left: 100px;
		width: 82px;
	}
	.spritesnav #snabout a:hover, .spritesnav #snabout a:focus, .spritesnav #snabout div {
		background: url(blue-nav.gif) no-repeat -100px -49px;
	}
	.spritesnav #snabout a:active, .spritesnav #snabout div.click {
		background: url(blue-nav.gif) no-repeat -100px -98px;
	}
	.spritesnav #snabout.active a:link, .spritesnav #snabout.active a:visited {
		background: url(blue-nav.gif) no-repeat -100px -147px;
		cursor: default;
	}



	.spritesnav #snservices a:link, .spritesnav #snservices a:visited, .spritesnav #snservices div {
		left: 183px;
		width: 97px;
	}
	.spritesnav #snservices a:hover, .spritesnav #snservices a:focus, .spritesnav #snservices div {
		background: url(blue-nav.gif) no-repeat -183px -49px;
	}
	.spritesnav #snservices a:active , .spritesnav #snservices div.click{
		background: url(blue-nav.gif) no-repeat -183px -98px;
	}
	.spritesnav #snservices.active a:link, .spritesnav #snservices.active a:visited {
		background: url(blue-nav.gif) no-repeat -183px -147px;
		cursor: default;
	}


	
	.spritesnav #sncontact a:link, .spritesnav #sncontact a:visited, .spritesnav #sncontact div {
		left: 281px;
		width: 97px;
	}
	.spritesnav #sncontact a:hover, .spritesnav #sncontact a:focus , .spritesnav #sncontact div{
		background: url(blue-nav.gif) no-repeat -281px -49px;
	}
	.spritesnav #sncontact a:active, .spritesnav #sncontact div.click {
		background: url(blue-nav.gif) no-repeat -281px -98px;
	}
	.spritesnav #sncontact.active a:link, .spritesnav #sncontact.active a:visited {
		background: url(blue-nav.gif) no-repeat -281px -147px;
		cursor: default;
	}