/*
INFO:
project: 
browsers: opera/chrome/FF/ie7+/safari
resolutions: >=1024x768
makeup: Sergey Kalinin 10/2011 (prozaik81-2@yandex.ru)
version 1

TABLE OF CONTENTS:
1.global reset and common settings
2.layout
3.blocks
*/

/************************************************************************************************************** 1.global reset and common settings */

html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, li, span, fieldset , form, dl, dd, dt{ 
	border: none;
	margin: 0; 
	outline: none;
	padding: 0;
}

html{
    height: 100%;	
	background: red;	
}

body{	
    height: 100%;		
}	

ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

h1{
	text-indent: -9999px;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('../fonts/myriadwebpro-bold.ttf');
}

/***************************************************************************************************************************************** 2.layout */		

.wrap{	    
	min-height: 100%;					
	width: 980px;
	margin: 0 auto;			
	background: #fff;		
}

	.wrap .header{	   		
		height: 186px;		
		background: green;	
		margin: 0 10px 10px;
		position: relative;
		top: 10px;
	}		

		
	.wrap .content{						
		background: cyan;
		margin: 0 10px;
	}		


	.wrap .footer_correct{
		height: 117px;
	}	

.footer		{								
	width: 960px;
	margin: 0 auto;	
	background: red;
	
	height: 107px;
	margin: -117px auto 0;	
	
}



/****************************************************************************************************************************************** 3.blocks */

/****************************************************************************************************************************************** 3.1 logo */
