a img {border:0;}
.cl {clear:both; font-size:0;}

.gray_block {padding: 0px; margin: 0px; font-family: Arial, Tahoma, sans-serif; font-size:11px; color:#3F4543; background:#EFEFEF; }

/*img {behavior: url("/i/png.htc");}*/

.white_block {background: #fff url(/i/wdg_data/white_block_bottom.gif) 0% 100% no-repeat; font-size:11px; font-family:Arial,Tahoma,sans-serif; line-height:1;}
.white_block_top {background: transparent url(/i/wdg_data/white_block_top.gif) 0% 0px no-repeat; padding:0px;}

.idea_line_block {border-bottom:1px solid #ebebeb; padding:6px 20px 3px;}

.vote_count {float:left;padding-right:20px;}
.vote_count b {font-size:20px; display:block; float:left;color:#333;min-width:33px;text-align:center;}

.idea_title {padding:0; font-size:16px; padding:0 0 2px 0; float:left;display:block;overflow:hidden;white-space:nowrap;width:450px; position:relative;}
.idea_title a {text-decoration:none;color:#203f65;}
.idea_title a:hover {text-decoration:underline;}

.idea_title_lght { background:url(/i/wdg_data/light.png) top right repeat-y; position:absolute; top:0; right:0;height:100%;width:40px;}

.comment_count {background: transparent url(/i/wdg_data/balun.gif) top left no-repeat; width:23px; height:18px;float:right; text-align:center; overflow:hidden; white-space:nowrap; padding:0 3px}
.comment_count a{color:#fff;font-size:9px;font-weight:bold;text-decoration:none;cursor:pointer;font-family:Tahoma, Geneva, sans-serif;}

.status { font-family: Tahoma, Geneva, sans-serif; font-size:10px; line-height:0.8;}
.status1_s a{color:#c93b24}
.status2_s a{color:#c29600}
.status3_s a{color:#007dce;}
.status4_s a{color:#81d024}

.idea_page {padding: 0px 15px 0 73px; margin-top:5px;}
.idea_page a {color:#4079AA;}
.idea_page a:hover {text-decoration:underline;}
