body {margin-top:0}
.all_btn {display:block;float:left;margin:0 0 8px}
.idea_ctg {padding:3px 0 8px;overflow:hidden}
.idea_ctg a{text-decoration:none;color:#3c5271;display:inline-block;margin-left:12px;position:relative; height:22px;}
.idea_ctg a.act_btn{ background:url(http://reformal.ru/i/wdg_data/act_btn_lt.png) top left no-repeat;}

.idea_ctg span{ display:inline-block;height:22px; margin:0 0 0 9px}
.idea_ctg span.lnk{text-decoration:underline;margin:0 -9px 0 23px; padding:3px 9px 0 0;height:19px;}

.idea_ctg .act_btn span{background:url(http://reformal.ru/i/wdg_data/act_btn.png) repeat-x;}
.idea_ctg .act_btn span.lnk{ background:url(http://reformal.ru/i/wdg_data/act_btn_rt.png) top right no-repeat;text-decoration:none; color:#595858;}

.idea_ctg a.no_ico {margin-left:0}
.idea_ctg .no_ico span { margin:0 0 0 9px}
.idea_ctg .no_ico span.lnk { margin:0 -9px 0 0;}
.idea_ctg img{ position:absolute;top:3px}
.vote_count {padding-right:5px}
.ctg_item { float:left;padding-right:15px}
.idea_page {padding:0 15px 0 89px}
