/*
INFO:
opera/chrome/FF/ie7+/safari
>=1024x768
Sergey Kalinin 09/2011
version 1

TABLE OF CONTENTS:
1. global reset and common settings
2. layout
3. blocks
4. content blocks
*/

/************************************************************************************************************** 1.global reset and common settings */

html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, li, span, fieldset { 
	border: none;
	margin: 0; 
	outline: none;
	padding: 0;
}

html{
    height: 100%;		
}

body{	
    height: 100%;	
	background: #000; 
}	

ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
	outline: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}




/***************************************************************************************************************************************** 2.layout */		

.wrap{
	
}





/****************************************************************************************************************************************** 3.blocks */

/****************************************************************************************************************************************** 3.1 header */
				
