body{background:#EAEAEA;}
#wrapper{
	margin:30px;
	width:800px;
	margin:0px auto;
}
h1{
	font-size:20px;
	text-align:center;
}
#block_vopros h2 {
	background: url(../images/open.png) no-repeat 0% 10%;
	padding-left: 20px;
	cursor: pointer;
	font-size:18px;
	margin-left:10px;
}
#block_vopros h2.close_otvet {
	background-image: url(../images/close.png);
}
.otvet {
  background:#D9EAC2;
  padding-left: 20px;
  color:#200282;
}
.price{color:#CC0000;}
