*{margin:0;padding:0}
body{font-family:Arial,Helvetica,sans-serif;background:#F2F2F2}
a{color:#044E8E;font-weight:bold}
a:hover{text-decoration:none}
a img{border:none}

#wrap{width:1000px;margin:0 auto;position:relative;padding:20px 0 0 0}

#header{position:relative;height:100px;background:#6B8598;
	background:-moz-linear-gradient(-90deg,#6B8598,#506472);
	background:-webkit-gradient(linear, left top, left bottom, from(#6B8598), to(#506472));
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0
}
	#header h1{position:absolute;left:16px;top:20px;font:1.8em Impact,Charcoal,sans-serif;text-transform:uppercase;color:#30C5F2;padding:0 2px;
		text-shadow:1px 1px 2px rgba(51,51,51,1)
	}
		#header h1 sup{font:0.5em Impact,Charcoal,sans-serif;color:#eee;text-shadow:none;background:#111418;padding:2px 5px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
	#header .description{font:1.2em Impact,Charcoal,sans-serif;color:#eee;position:absolute;left:15px;top:54px;
		text-shadow:0 1px 1px rgba(0,0,0,0.8)
	}
	#header ul{position:absolute;right:20px;top:30px;list-style-type:none;font-size:1em;font-weight:bold}
		#header ul li{float:left}
			#header ul li a{display:block;text-align:center;color:#333;background:#fff;text-decoration:none;padding:6px 10px;
					border-radius:3px;
					-moz-border-radius:3px;
					-webkit-border-radius:3px;
					-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.5);
					-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.5)
				}
			#header ul li a:hover{background:#eee}
			#header ul li span{font:1.1em 'Times New Roman',serif}
	
#content{overflow:hidden;padding:20px;background:#fff}
	#content .tabs{font-size:0.75em;line-height:30px;list-style:none;overflow:hidden;height:30px}
		#content .tabs li{float:left}
		#content .tabs a{float:left;background:#eee;padding:0 15px;text-decoration:none;height:30px}
		#content .tabs a:hover{background:#ddd}
	#content .tabs-content{width:960px;height:300px;overflow:hidden}
		#content .tabs-content ul{list-style:none;text-align:center;line-height:300px;font-size:6em}
			#content .tabs-content ul li{width:960px;height:300px}
			#content .tabs-content ul #one{background:red}
			#content .tabs-content ul #two{background:blue}
			#content .tabs-content ul #three{background:aqua}
			#content .tabs-content ul #four{background:green}
			#content .tabs-content ul #five{background:yellow}