#formAction input{
    margin:5px 0 5px 0;    
}

.objectiveCMethod{
    margin:10px 0 10px 0;
    background-color:#ddd;
}
.objectiveCMethod #returnType{
    background-color:#ddd;
}
.objectiveCMethod .selectorName{
    background-color:#ddd;
}
.objectiveCMethod .selectorType{
    background-color:#ddd;
}        
.objectiveCMethod .selectorVariableName{
    background-color:#ddd;
}   

textarea#widget{
    width:90%;
    height:5em;
}