	  body { 
	    background-color: #f5f1de; 
	    font-family:"Lucida Grande",verdana, tahoma, sans-serif;
	    font-size:13px;
	  }
      
/*  a:link */
/*  a:visited */
/*  a:active */
/*  a:hover       */
      a{
        text-decoration:underline;
        color:#292207;                        
      }
      a:hover{
        text-decoration:none;    
        color:#880000;                
      }
      #wrap{
	      width:710px;
	      margin: 0 auto;
      }
      #title{
        position:relative;
        left:325px;
        top:9px;
      }
      
	  #top 
	  {
	    position:relative;
        left:-3px;
        top:-3px;          
		width: 714px;
	  	height: 110px;
	  	background-color: #e0dcca;	  
	  	background-image: url(/2005/images/header.jpg);
	  	background-repeat: no-repeat;
	  	background-position: left top;	  	
	  	border-color:#aaa;
	  	border-style:solid;
	  	border-width:1px 0px 1px 1px;	  	
	  }
	  #top-shadow{
	    width:715px;
        background: url(/2005/images/shadow.gif) no-repeat right bottom !important;            	              	    
	  }
	  
	  #nav{
	    float:right;
	    margin-top:10px;
	    list-style:none;
	    font-size:12px;
	    margin:93px 0px 0px 0px;
	    padding:0px 0px 0px 0px;
	  }
	  
	  #nav li{
	    display:inline;
	  }
	  
      #nav li a {
          float: left;
          text-align: center;
          width: 100px;
          height:16px;
          color: #000;
          font-weight: normal;
          text-decoration: none; 
          border-width: 1px 1px 0px 0px;
          border-style: solid;
          border-color: #aaa;
          background-color: #e0dcca;
      }	  
      
      #nav li a:hover{
          background-color:rgb(190,121,57);
          color:#fff;
          margin:0px;
          padding:0px;
      }
      
/*       #nav li #current{ */
/*           background-color:#ddd; */
/*           color:#000; */
/*       } */

      #content-holder{
        width:715px;
        margin-top:10px
      }
      
      #sidebar{   
        position:relative;
        left:-3px;
        top:-3px;      
        width:205px;
        float:right;
        background-color:#e0dcca;
        color:#000;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #aaa;     
        padding:10px 10px 10px 10px;
      }      
      #sidebar-shadow{            
        width:227px;
        background: url(/2005/images/shadow.gif) no-repeat right bottom !important;            	              
        float:right;
      }
      #sidebar-img{
        display:block;
        margin:0px 0px 10px 1px;
        padding:0px 0px 0px 0px;
        border-width:1px;
        border-style:solid;
        border-color:#000;
      }      
      #sidebar ul{
        margin:0px;
        padding:0px;
        list-style:none;
      }
      
      #sidebar h1{
        font-size:12px;
        font-weight:bold;
        margin:0;
        padding:0;
      }
      
      #sidebar h2      
      {
      	font-size: 11px;
      	font-weight: bold;
      	margin: 10px 0px 15px 0px;
      	padding: 0px 0px 0px 20px;
      	background-image: url(/2005/images/cogs.gif);
      	background-repeat: no-repeat;
      	background-position: left top;
      	height:16px;
      }
      
      #sidebar h2.rss
      {
	      background-image: url(/2005/images/rss.png);
      }

      #sidebar h2.twitter
      {
	      background-image: url(/2005/images/twitter.png);
      }
      
/*
      #sidebar h2.rss      
      {
		background-image: url(/2005/images/rss.png);      
      }
      #sidebar h2.twitter      
      {
      }
*/
      
      #sidebar p{
        font-size:11px;
        line-height:14px;        
        margin:0px 0px 10px 0px;
        padding:0;        
      }
      
      #sidebar a{
      	text-decoration:none;
      	border-width:0px 0px 1px 0px;
      	border-style:dashed;
      	border-color:#505050;
      }
      
      #content      
      {
        position:relative;
        left:-3px;
        top:-3px;
      	width: 450px;
      	background-color: #e0dcca;
      	color: #000;
      	border-width: 1px 1px 1px 1px;
      	border-style: solid;
      	border-color: #aaa;
      	padding: 10px 10px 10px 10px;
      }      
      #content-shadow{
      	width: 472px;
        background: url(/2005/images/shadow.gif) no-repeat right bottom !important;            	      
      }      
/*

      #content h1{
        font-size:18px;
        padding:0px;
        margin:0px 0px 10px 0px;
      }    
      #content h2{
        font-size:13px;
        padding:0px;
        margin:0px 0px 8px 0px;
      }          
      #content p{
        font-size:12px;
        line-height:18px;
        padding:0px;
        margin:0px 0px 10px 0px;        
      }
      
*/
      #alan1{
        width:450px;
        background-color:#f00;
      }
      
      #blend-logo{
      	float:right;
      	width:97px;
      	margin-left:20px;
      }
      
	#copyright{
		width:714px;
		margin-top:10px;
		font-size:10px;
		text-align:center;
	}
	

		#content h1{
			margin:0px 0px 10px 0px;
			padding:0;
			fon-size:18px;
		}
                #content h1 a{
                        text-decoration:none;
                }

                #content h1 a:hover{
                        text-decoration:underline;
                }

		#content h2{
			margin:0px 0px 10px 0px;
			padding:0;
			font-size:14px;
/*			background-color:#eae6d4;*/
		}		
		
		#content h2 a{		
			text-decoration:none;
		}
		
		#content h2 a:hover{		
			text-decoration:underline;
		}		
		#content p{			
			margin:0px 0px 10px 0px;
			padding:0;
			font-size:12px;
			line-height:18px;			
		}			
		#content ol{

		}	
		#content ol li{
			margin:0px 0px 8px 0px;
			padding:0;
		}

      .date{
      	color:#666;
      	margin-bottom:20px;
      	margin-top:10px;
        font-size:10px;
        line-height:18px;      	
      }
	
	#delicious{
        margin:0px 5px 12px 8px;
        padding:0;
		list-style:none;
	}
	#delicious li h3{
		margin:0px 0px 10px 0px;
		padding:0;
		font-size:11px;
		font-weight:normal;
		line-height:14px;
	}
	#delicious li p{
		margin:0;
		padding:0;
	}	
	
	h1{
		font-size:18px;
	}	
	
	#projects h2{
		font-size:12px;
		margin:0px 0px 8px 0px;
		padding:0;
		font-weight:bold;
        }
	
		#archives ul{
			list-style:none;
			margin:0px 0px 0px 15px;
			padding:0;
		}
		#archives ul li{
			margin:0px 0px 7px 0px;
		}
	
		#theForm ul{
			list-style:none;
			margin:0;
			padding:0;
		}
		
		#theForm li{
			margin-bottom:3px;
		}
	.nobr{
		white-space: nowrap;
	}
pre{
    overflow:auto;
    background-color:#ffffc9;
    padding:5px;
    font-family:verdana;
    width:440px;
}
code{
    font-family:monaco,courier;
    font-size:10px;
}

.cat {
margin-bottom:20px;
}

#disqus_thread
{
	width:400px;
}