* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/16px Arial, Tahoma, Verdana, sans-serif;
	color: #666666;
	width: 100%;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
/*---------------------------------------------------------------------------*/
#wrapper {
	width: 960px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
#header {
	background: #ffffff;
}
#logo {
	height: 80px;
}
#logo img {
	margin:23px 0 0 20px;
}
#nav {
	width:100%;
	height: 42px;
	overflow:hidden;
	background: #afafaf;
}
#nav ul {
	list-style:none;
	font-size: 18px;
	line-height: 42px;
	position:relative;
	left:50%;
}
#nav ul li{
	float:left;
	display:block;
	position:relative;
	right:50%;
	margin: 0 38px;
}
#nav ul li a{	
	color: #ffffff;
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
	padding: 20px 20px 90px 20px;
}
#content h1{
	font-size:20px;
	font-weight:normal;
	margin-bottom: 20px;
}
#content p{
	margin-bottom: 16px;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 960px;
	height: 60px;
	margin: -60px auto 0;
	background: #afafaf;
	position: relative;
	
}
#footer p{
	padding: 0 20px 0 20px;
	line-height:60px;
	color: #ffffff;
}