/*
INFO: 
project: 
browsers: opera/chrome/FF/ie9/safari
width: 960px
markup: Sergey Kalinin 08/2013 (prozaik81-2@yandex.ru)
desc: 

version 1

TABLE OF CONTENTS:
1.global reset and common settings
2.fonts
3.layout
4.blocks
5.widjets
*/

/************************************************************************************************************** 1.global reset and common settings */

html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img, input{ 
	border: none;
	margin: 0; 
	outline: none;	
	padding: 0;
}

html{
    height:100%;	
}

body{	
    height:100%;	

	background: #fff url('../images/bg_body.jpg') center top repeat;		
	
	font: 500 14px helvetica, arial, sans-serif;
}	

ul{
	list-style-type: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	zoom:1;
}

.clear{
	clear: both;
}	
	
.hide{
	display: none;
}

.rounded{
	-moz-border-radius: 7px;				
	-webkit-border-radius: 7px;	
	-khtml-border-radius: 7px;	
	border-radius: 7px;	
}

/***************************************************************************************************************************************** 2.fonts */


/***************************************************************************************************************************************** 3.layout */
.wrap{
	width: 1000px;
	margin: 0 auto;
	background: red;
}

	.slide_panel{
		position: fixed;
		background: #fff;
		padding: 10px;
	}
	
		.slide_panel .handle{
			cursor: pointer;
			-moz-border-radius: 7px 0 0 7px;						
			-webkit-border-radius: 7px 0 0 7px;		
			-khtml-border-radius: 7px 0 0 7px;			
			border-radius: 7px 0 0 7px;		
			position: absolute;
			left: -30px;
			top: 0;
			width: 30px;	
			background: #F40404 url('../images/kalininSlidePanelRight/bg_feedback_handle.png') center center no-repeat;	
		}
