/*
INFO: 
	project: тестовая леталка стрелялка
	browsers: opera/chrome/FF/ie9/safari
	width: 1000 + scroll
	columns: ?
	markup: Sergey Kalinin 12/2013 (prozaik81-2@yandex.ru)
	use: jq
	desc: 	задача написать тестовую игру на основе простейших паттернов. jquery использовать только для непринципиально важных возможностей
	version 1
*/	

/*************************************************************************************************************** COMMON_STYLES */
html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img, input{ 
	border: none;
	margin: 0; 
	outline: none;	
	padding: 0;
}

html{
    height:100%;	
	background: #000;
}

body{	
    height:100%;	
	min-width: 1200px;
	position: relative;
	
	font: normal 16px/19px arial, sans-serif;
	color: #000;
}	

ul{
	list-style-type: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	zoom:1;
}

.clear{
	clear: both;
}	
	
.hide{
	display: none;
}

.wrapped{
	width: 1000px;
	margin: 0 auto;
}

input::-webkit-input-placeholder {
	color: #0096ef;
}

input:-moz-placeholder {
	color: #0096ef;
}

/*************************************************************************************************************** GLOBAL_layout */
.wrap{
	position: relative;
	width: 1000px;
	height: 600px;
	border: 1px dashed cyan;
	margin: 0 auto;
	overflow: hidden;
}

.ship_player{
	width: 100px;
	height: 100px;
	background: red;
}

.info{
	position: absolute;
	width: 100px;
	padding: 10px;
	float: left;
	overflow: hidden;
	border: 1px dotted yellow;
	
	color: magenta;
}	

	.info .h1{
		font: 16px arial, sans-serif;
		
		padding-bottom: 10px;
	}
	
.control_info{
	left: 0;
	top: 0;
}	

.score_info{
	right: 0;
	top: 0;
}
