/*
1.global reset and common settings
2.layout
3.blocks
4. 
*/

/************************************************************************************************************** 1.global reset and common settings */
html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, li, span { 
	border: none;
	margin: 0; 
	outline: none;
	padding: 0;	
}

html{
    height: 100%;
	background: #000;
}

body{	
    height: 100%;
	background: url('../images/bg_header.png') center -1px repeat-x;
}	

ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

h1{
	display: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }




div{
	outline: 1px solid red;
}

/***************************************************************************************************************************************** 2.layout */		

.wrap	{
	    
	min-height: 100%;		
	min-width: 790px;
	max-width: 1100px;
	margin: 0 auto;	
	
}


		
	.wrap .footer_correct{
		height: 79px;
	}	

.footer		{
	height: 79px;
	margin-top: -79px;
	background: red;
}

/****************************************************************************************************************************************** 3.blocks */

/****************************************************************************************************************************************** 3.1 header */
