/*PAGE POSITION*/ 

img, .iso, div.breadcrumb a 
{behavior: url('/img/iepngfix.htc');} 

img { border: 0; } 

body 
{
	font-family: arial; 
	margin: 0; 
	padding: 0; 
	background: url(background2.png) repeat-x; 
	background-color: #FFF;
}

#page 
{
	margin-left: auto; 
	margin-right: auto; 
	width: 990px;
	z-index: 200;
	background-color: yellow;
} 

.workarea 
{
	margin-top:33px; 
	margin-left:260px; 
	width:720px; 
	background-color: green;
} 

td 
{ 
	vertical-align:top; 
} 

/*HEADER*/ 

.breadcrumb 
{ 
	position: absolute; 
	margin-top:20px; 
	margin-left:700px; 
	width:290px; 
	height:16px; 
	background-color:Red;
	font-family: Arial; 
	font-size:8pt; 
	font-weight: bold; 
	color:#464646;
	z-index: 200;
} 

.searchpic
{ 
	POSITION: absolute; 
	LEFT: 257px; 
	TOP: 0px 
} 

a.search 
{ 
	DISPLAY: block; 
	BACKGROUND: url(/img/search.png); 
	WIDTH: 16px; 
	HEIGHT: 16px; 
} 

/* #iso { position: absolute; margin-top: -8px; margin-left: 330px; width: 310px; } 

#iso img { position: absolute; margin-left: 320px; margin-top: 0px; margin-left:10px; } 

#iso p { font-size: 8pt; text-align: right; float:left; } */ 


#iso
{ 
	position:relative; 
	float:right; 
	width:400px; 
	margin-top:-8px; 
} 

#iso p 
{ 
	float:left; 
	width:320px; 
	margin-top:10px; 
	text-align:right; 
	font-size: 8pt; 
	padding:0;
} 

#iso img 
{ 
	margin-left:10px; 
}

#header 
{ 
	position: relative; 
	top:10px; 
	left:4px; 
	/*margin-top:30px; 
	margin-left:4px;*/ 
	width: 350px; 
	height:88px; 
	background-color: magenta; 
 } 

.title 
{ 
	position:relative; 
	width:450px; 
	height:50px; 
	top:30px;
	left:4px; 
	background-color: Red;
} 

.pic 
{ 
	position:absolute; 
	height:362px; 
	width:500px;
	/*top:50px; left:500px;*/ 
	margin-top:50px; 
	margin-left:487px; 
	/*border:solid 1px red;*/
	/*background-color:Purple;*/ 
} 

.topmenu 
{ 
	PADDING-RIGHT: 0px; 
	MARGIN-TOP: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 16pt; 
	MARGIN-BOTTOM: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN-LEFT: 30px; 
	COLOR: #003876; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
}

.topsubmenu 
{ 
	PADDING-RIGHT: 0px; 
	MARGIN-TOP: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10pt; 
	MARGIN-BOTTOM: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN-LEFT: 30px; 
	COLOR: #003876; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
} 

/*CONTENT*/ 

.isotxt 
{ 
	position:relative; 
	width:400px; 
	height:70px; 
	top:30px; 
	left:4px; 
	/*background-color:Red; */ 
} 

.content 
{ 
	position: relative; 
	top:60px; 
	height:130px; 
	width:480px; 
	left:4px; 
} 

a 
{ 
	text-decoration: none; 
	color:#464646; 
} 

a:hover 
{ 
	text-decoration: none; 
	color:#464646; 
} 

p.txt:first-letter 
{ 
	font-family:Arial; 
	font-size: 24pt; 
	float: left; 
	color: #003876; 
	margin-top: 0px; 
	font-weight:normal; 
} 

p.txt 
{ 
	font-family:Arial; 
	font-size: 14pt; 
	font-weight:bold; 
	color: #003876; 
} 


/*MENU*/ 
.menucont 
{ 
	margin-top:37px; 
	background-color: red; 
	float:left; 
	margin-left:4px; 
	height:100%; 
	width:254px; 
	border: 2px solid #fff; 
} 

.navMenu1 a 
{ 
	color:#fff; 
} 

.navMenu1 
{ 
	margin:0; 
	padding:0; 
	list-style-type:none;
} 

.navMenu1 li 
{ 
	background: url(bckMenu.png); 
	background-repeat:no-repeat; 
	font-family: Arial; 
	text-decoration: none; 
	font-size: 11px;
	 font-weight: bold; 
	/*color: #464646;*/ 
	/*color:#617180;*/ 
	height: 21px; 
	display: block; 
	padding-top:9px; 
	padding-left:35px; 
	/*padding-left:15px;*/ 
} 

.navMenu2 
{ 
	list-style-type: circle; 
	color:#003876; 
	font-family: Arial; 
	font-size:8pt; 
	font-weight:bold; 
	margin-left:35px; 
	padding:0; 
} 


.navMenu2 li 
{ 
	font-family:Arial; 
	text-decoration: none; 
	font-size:11px; 
	font-weight: bold; 
	color: #003876;
} 


/*NEWS*/ 
.news 
{ 
	position:relative; 
	top:110px; 
	width:990px; 
	left: 0px; 
	clear: left; 
	background-color:green;
} 

/*FOOTER*/ 

.footer 
{ 
	position: relative; 
	top:120px; 
	height:114px; 
	background-color:green;
} 

.gazgroup
{
	FLOAT: left;
	WIDTH: 330px;
	POSITION: relative;
	TOP: 20px;
	HEIGHT: 38px;
}
.gazgroup a
{
margin-right: 15px;
}
.copyright
{
	FLOAT: left;
	MARGIN-LEFT: 50px;
	WIDTH: 300px;
	POSITION: relative;
	TOP: 20px;
	HEIGHT: 60px;
	background-color: blue;
}

.copyrightcontent 
{ 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 8pt; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	COLOR: #666; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial;
} 

.inethouse 
{ 
	FLOAT: left;
	MARGIN-LEFT: 140px; 
	WIDTH: 140px; 
	POSITION: relative; 
	TOP: 20px;
	HEIGHT: 35px; 
} 

.inethousecont1 
{ 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 8pt; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	COLOR: #666; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
} 

.inethousecont2 
{ 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 8pt; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	COLOR: #666; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
} 

.products 
{ 
	margin-top: 25px; 
} 

.products table 
{ 
	width: 700px; 
} 

.products .head td, .products .head th 
{ font-weight: bold; font-size: 9pt; vertical-align: bottom; border-top: 0; }

.products td, .products th 
{ text-align: center; font-size: 10pt; border-top: 1px dashed #333; } 

.products td 
{ border-left: 1px dashed #333; vertical-align: middle; } 

.products h1 
{ 
	margin-left: 0px; 
	margin-top: 9px; 
	padding: 5px 10px; 
	font-weight: bold; 
	font-size: 10pt; 
	color: #003876; 
	font-family: arial; 
	background-color: #e1e1e1; 
} 

#catalog_element h1 
{ font-size: 14pt; color: #003876; margin-left: 30px; } 

#catalog_element .detail_picture 
{ position: absolute; margin-left: 390px; margin-top: -80px; } 

#catalog_element .preview_pictures 
{ position: absolute; margin-left: 390px; margin-top: 150px; } 

#catalog_element .preview_pictures img 
{ padding: 3px; border: 1px solid #dcdcdc; margin-right: 8px; } 

#catalog_element .description 
{ 
	width: 300px; 
	margin-top: 50px; 
	font-size: 13pt; 
	line-height: 20px; 
	margin-left: 30px; 
	color: #474747; 
	position: absolute; 
} 

#catalog_element .download_link 
{ position: absolute; margin-left: 390px; margin-top: 250px; height: 80px; width: 300px; } 

#catalog_element .download_link img 
{ margin-right: 10px; float: left; clear: left; } 

#catalog_element .download_link a 
{ line-height: 25px; text-decoration: underline; } 

#catalog_element .download_link a:hover { text-decoration: none; } 

#catalog_element .download_link div 
{ margin-bottom: 10px; height: 25px; float: left; padding-right: 30px; } 

#catalog_element .download_link div.clear { width: 290px; } 

#catalog_element .data_title 
{ margin-top: 320px; color: #003876; font-weight: bold; margin-left: 30px; } 

#catalog_element .data_table { margin-top: 10px; width: 710px; border-collapse: collapse; } 

#catalog_element .data_table td, #catalog_element .data_table th 
{ 
	text-align: left; 
	font-weight: normal; 
	color: #474747; 
	border-bottom: 1px solid #474747; 
	padding: 5px 30px; 
	font-size: 11pt; 
} 
#catalog_element .data_table th {
	width: 70%;
}
#catalog_element .data_table td {
	width: 30%;
}
#catalog_element .data_table th.strong,
#catalog_element .data_table td.strong {
	font-weight: bold;
}

.content_inner { padding-left: 20px; font-size: 11pt; } 

.content_inner a { text-decoration: underline; } 

.content_inner a:hover { text-decoration: none; } 

fieldset.internet_priem { border: 0; margin-top: 20px; } 

fieldset * { padding: 0; margin: 0; } 

fieldset.internet_priem dt 
{ 
	float: left; 
	clear: left; 
	width: 160px; 
	margin-bottom: 7px; 
	text-align: right; 
	padding-right: 4px; 
	font-size: 10pt; 
} 

fieldset.internet_priem dd 
{ 
	float: left;
	width: 200px; 
	margin-bottom: 7px; 
	font-size: 10pt; 
} 

fieldset.internet_priem dd input { width: 190px; } 

fieldset.internet_priem dd img { margin-bottom: 7px; } 

.guest_news { margin-bottom: 20px; } 

.guest_news .date { font-weight: bold; } 

.guest_news .quest { font-weight: bold; } 

.guest_news .con { font-style: italic; height: auto; } 

.popup_window { position: absolute; left: 50%; top: 0; } 

.popup_window table { border-collapse: collapse; } 

.popup_window table td { border: 0; padding: 0; } 

.popup_window .lt { width: 14px; height: 14px; background: url('/img/confirm/lt.png') no-repeat; } 

.popup_window .t { height: 14px; background: url('/img/confirm/t.png') repeat-x; } 

.popup_window .rt { width: 14px; height: 14px; background: url('/img/confirm/rt.png') no-repeat; } 

.popup_window .rt a 
{ 
	position: absolute; 
	display: block; 
	margin-left: -10px; 
	margin-top: 5px; 
	width: 18px; 
	height: 18px; 
	background: url('/img/confirm/close.png') no-repeat; 
} 

.popup_window .rt a:hover { background: url('/img/confirm/close_over.png') no-repeat; } 

.popup_window .l { width: 14px; background: url('/img/confirm/l.png') repeat-y; }

 .popup_window .cont { background-color: #fff; padding: 10px; } 

.popup_window .cont img { margin: 0; } 

.popup_window .r { width: 14px; background: url('/img/confirm/r.png') repeat-y; } 

.popup_window .lb { width: 14px; height: 14px; background: url('/img/confirm/lb.png') no-repeat; } 

.popup_window .b { height: 14px; background: url('/img/confirm/b.png') repeat-x; } 

.popup_window .rb { width: 14px; height: 14px; background: url('/img/confirm/rb.png') no-repeat; } 

.popup_window .b a { position: absolute; display: block; width: 61px; height: 43px; } 

.popup_window .b a.prev { background: url(/img/confirm/photo_left.png) no-repeat; } 

.popup_window .b a.next { background: url(/img/confirm/photo_right.png) no-repeat; } 

.popup_window .b a.prev:hover { background: url(/img/confirm/photo_left_over.png) no-repeat; } 

.popup_window .b a.next:hover { background: url(/img/confirm/photo_right_over.png) no-repeat; } 

.site_map ul { margin-left: 20px; list-style: none; padding: 0; } 

.site_map ul { } 

.site_map li { height: 27px; }
table.data td {
	padding: 5px 10px;
}
table.data .header td {
	background-color: #eee;
	font-weight: bold;
}
table.data .tr2 td {
	background-color: #f4f6ff;
}