* {padding: 0; margin: 0}
#panel, .menucont, #iso, .breadcrumb {display: none}


img {border: 0}
#header {margin-left: auto; margin-right: auto; width: 800px}
#catalog_element h1 {
	font-size: 14pt;
	color: #003876;
	margin-left: 30px;
}
#catalog_element .detail_picture {
	position: absolute;
	margin-left: 390px;
}
#catalog_element .preview_pictures {
	position: absolute;
	margin-left: 390px;
	margin-top: 230px;
}
#catalog_element .preview_pictures img {
	padding: 3px;
	border: 1px solid #dcdcdc;
	margin-right: 8px;
}

#catalog_element .description {
	width: 300px;
	margin-top: 10px;
	font-size: 13pt;
	line-height: 20px;
	margin-left: 30px;
	color: #474747;
	position: absolute;
}
#catalog_element .download_link {
	display: none;
}

#catalog_element .data_title {
	margin-top: 330px;
	color: #003876;
	font-weight: bold;
	margin-left: 30px;
}
#catalog_element .data_table {
	margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
}
#catalog_element .data_table td, #catalog_element .data_table th {
	text-align: left;
	font-weight: normal;
	color: #474747;
	border-bottom: 1px solid #474747;
	padding: 3px 30px;
	width: 50%;
	font-size: 11pt;
}

.gazgroup, .inethouse, .copyright {
	float: left;
	padding-right: 20px;
}

table.news {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.workarea {
	width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}