* {
	margin:0;
	padding:0;
}

ul {
    margin-left:2em;
}

ul.nostyle {
    list-style:none;
    margin-left:0;
}

ol {
	margin-left:3em;
}

blockquote {
	margin:20px;
	font-style:italic; 
}

body {
	background-color:#E0DCCA;
	font-family:optima,tahoma,verdana,arial,sans-serif;
	font-size:16px;
}

body div#content {
	padding:0 10px 10px 20px;			
}

body div#content p {
	width:800px;
	margin:0 0 10px 0;
}

body div#content pre {
	background-color:#FFFFC9;
	padding:5px;
	overflow:auto;
	width:800px;
	margin-bottom:10px;
}

body div#content h1 {
	font-size:28px;
	letter-spacing:2px;
	margin:0 0 10px 0;
}

body div#content h2 {
	font-size:20px;
	letter-spacing:2px;
}

body div#content h3 {
	font-size:16px;
}

body div#content h1 a {
	color:#000000;
}

body div#content h1 a:hover {
	color:#880000;
	text-decoration:underline;
}

body div#content-wrap {
	margin:0;
	padding:0;
}

body div#content-wrap ol,body div#content-wrap ul{
	margin-bottom:10px;
    width:800px;	
}

body div#content-wrap div#sidebar, body div#content-wrap div#content {
	float:left;
}
		
body div#content-wrap div#sidebar {
	width:200px;
	margin:0 20px 0 10px;			
}

div#sidebar a {
	border-color:#505050;
	border-style:dashed;
	border-width:0 0 1px;
	text-decoration:none;
	font-size:14px;
}

body div#content-wrap div#sidebar p, body div#content-wrap div#sidebar h2 {
	font-size:14px;		
}

body div#content-wrap div#sidebar img#sidebar-img{
	border:1px solid #000000;
	display:block;
	margin:0 0 10px 1px;
	padding:0;
}

body div#content-wrap div#sidebar p {
	margin:0 0 10px 0;
}

body div#content-wrap div#content {
	border-style:solid;
	border-width:0 0 0 1px;
	border-color:#000;
}

#sidebar h2      
{
/*			font-size: 11px;*/
	font-weight: bold;
	margin: 10px 0px 15px 0px;
	padding: 0px 0px 0px 20px;
	background-image: url(/2005/images/cogs.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height:16px;
}

#sidebar h2.rss
{
	background-image: url(/2005/images/rss.png);
}

#sidebar h2.twitter
{
	background-image: url(/2005/images/twitter.png);
}

#sidebar h2.categories
{
	margin-bottom:5px;
	padding-bottom:0;
}

#sidebar ul#ascategories, #sidebar ul#quickies
{
	margin:0;
	margin-bottom:20px;
	padding:0;
	list-style:none;
}

a {
	color:#292207;
}

a:hover {
	color:#880000;
}

body div#content-wrap div#sidebar ul#delicious li h3{
	margin:0px 0px 10px 0px;
	padding:0;
	font-size:11px;
	font-weight:normal;
	line-height:20px;
}

body div#content-wrap {
	width:1111px;		
}

#header
{
	background-color:#f2eedd;
	margin:0 0 10px 0;
	padding:0;
	height:85px;			
	border-style:solid;
	border-color:#000;
	border-width:0 0 2px 0;
}

div.date {		
	color:#666;
	font-size:14px;
	line-height:18px;
	margin-top:10px;
	margin-bottom:20px;
}

div#copyright {
	width:40%;
	margin:0 auto;
}

#nav {
	font-size:14px;
	margin-bottom:10px;
	height:16px;			
}
#nav li
{
	display:block;
	float:left;
	margin-right:7px;
}

#nav li.first
{
	margin-right:6px;
}

#nav li.last
{
	margin-right:0px;
}

#disqus_thread
{
	width:800px;
}