/*
INFO: 
project: iMute
browsers: opera/chrome/FF/ie7,8/safari
resolutions: 200-1200(responsive)@768-992
markup: Sergey Kalinin 07/2012 (prozaik81-2@yandex.ru)
desc: Тестовая вёрска html5, адаптивный макет, graceful degradation. 
version 1

TABLE OF CONTENTS:
1.global reset and common settings
2.fonts
3.layout
4.blocks
*/

/************************************************************************************************************** 1.global reset and common settings */

html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, li, span, fieldset , form, dl, dd, dt, table, tr, td, img, input{ 
	border: none;
	margin: 0; 
	outline: none;	
	padding: 0;
}

html{
    height:100%;
	background: url('../images/bg_html.png') center top repeat;	
}

body{	
    height:100%;	
	
}	

ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	zoom:1;
}

.ie6{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	color: yellow;
	background: red;
	font-size: 35px;
	text-align: center;
	width: 100%;
}

	.ie6 a{
		color: lime;
	}
	
.hide{
	display: none;
}	

/***************************************************************************************************************************************** 2.fonts */			


.imgdiv_2{
	display: none;
	background: red;
}

#fadediv{
	display: none;
}