/* ********************************************** */
/* Danneo CMS Default Template © 2005 Danneo Team */
/* ********************************************** */
/*   This file is created Danneo CSS Visual Pro   */
/* ********************************************** */
/* Body */
body                                      {background-color:#fff;
                                           margin:4px; padding:20px;
                                           font-size:12px; font-weight:normal; color:#4C4C4C;
                                           font-family:Verdana;}
img                                       {border:0px; margin:0;}
form                                      {display:inline;}
li                                        {margin-bottom:6px;}
h1										  {font-size:21px; line-height:25px; font-weight:bold; color:#7DB026;
										   padding:10px 0 0 0; margin:0 0 10px 0; }
h2										  {font-size:17px; line-height:21px; color:#555555;}
h4										  {color: #7DB026}
										   
/* Links */
a:link									  {color:#0063FF; text-decoration:underline;}
a:visited                                 {color:#6A52FF; text-decoration:underline;}
a:hover                                   {color:#0063FF; text-decoration:none;}
/*a.cat:link,
a.cat:visited                             {color:#E4572E; text-decoration:none;font-weight:bold;}
a.cat:hover                               {color:#649BB5; text-decoration:none;font-weight:bold;}
a.toplinkmenu:link,
a.toplinkmenu:visited                     {font-size:12px;color:#E4572E; text-decoration:none;font-weight:bold;}
a.toplinkmenu:hover                       {font-size:12px;color:#649BB5; text-decoration:none;font-weight:bold;}*/

a.pages:link,
a.pages:visited                           {border:1px solid #ffffff; padding:1px 2px;}
a.pages:hover                             {border:1px solid #4C4C4C; padding:1px 2px;}
/*
a.blockmenu:link,
a.blockmenu:visited                       {color:#222; background-color:#edecec; text-decoration:none;
                                           padding-left:12px; line-height:22px; display:block; font-weight:bold;
                                           border-bottom:1px solid #dad9d9;}
a.blockmenu:hover                         {color:#222; background-color:#FFF0C2; text-decoration:none;
                                           padding-left:24px; line-height:22px; 
										   display:block; font-weight:bold;
                                           border-bottom:1px solid #dad9d9;}
a.blockkatalog:link,
a.blockkatalog:visited,
a.blockkatalog:hover					  {color:#aaa; text-decoration:underline;}
a.calendarlink:link,
a.calendarlink:visited                    {color:#B50206; text-decoration:none;}
a.calendarlink:hover                      {color:#649BB5; text-decoration:none;}
a.linkbutton:link,
a.linkbutton:visited                      {font-size:10px; color:#222; text-decoration:none; border:1px solid #dad9d9;
                                           background-color:#edecec; padding:1px 2px; font-weight:bold;}
a.linkbutton:hover                        {font-size:10px; color:#B90000; text-decoration:none; border:1px solid #cccccc;
                                           background-color:#fff; padding:1px 2px; font-weight:bold;}
a.last:link,
a.last:visited                            {color:#B90000; text-decoration:none;}
a.last:hover                              {color:#649BB5; text-decoration:underline;}
a.load:link,
a.load:visited                            {color:#fff; border:1px solid #9A0101; padding:2px 2px; cursor:pointer;
                                           font-size:11px; font-weight:bold; background:#B90000; text-decoration:none;}
a.load:hover                              {color:#fff; border:1px solid #487990; padding:2px 2px; cursor:pointer;
                                           font-size:11px; font-weight:bold; background: #649BB5}
a.jump:link,
a.jump:visited                            {color:#fff; border:1px solid #9A0101; padding:2px 2px; cursor:pointer;
                                           font-size:11px; font-weight:bold; background:#B90000; text-decoration:none;}
a.jump:hover                              {color:#fff; border:1px solid #487990; padding:2px 2px; cursor:pointer;
                                           font-size:11px; font-weight:bold; background: #649BB5}
/* Table & Forms */
table                                     {border:0px;}
table,td,div                              {padding:0px; font:normal 12px Verdana;}
textarea,input                            {font-size:10px; font-family:Verdana;}
select,option                             {font-size:11px; font-family:Verdana;}
blockquote                                {padding: 0 15 0 45; border:1px solid #CCCCCC;
                                           background:#fff url(http://balbesof.net/temp/light/images/quote.gif) no-repeat top left;
                                           margin-left:8px;
                                           font-style:normal;}
.phpcode                                  {text-align: left; padding: 15 15 15 65; border: 1px inset;
                                           background: #E6E6E6 url(http://balbesof.net/temp/light/images/code.gif) no-repeat top left;
                                           margin-left: 8px;
                                           font-style: normal;}
.oneselect                                {background-color:#649BB5; color:#fff;}
/* Buttons 
.rbutton                                  {color:#fff; border:1px solid #9A0101; padding:1px 1px; cursor:pointer;
                                           font-size:11px; font-weight:bold; background:#E4572E;}
.rerbutton                                {color:#000; border:1px solid #E4572E; padding:1px 1px; cursor:pointer;
                                           font-size:11px; font-weight:bold; background:#f0f0f0;}
.comment                                  {color:#fff; border:1px solid #487990; padding:1px 1px; cursor:pointer;
                                           font-size:11px; font-weight:bold; background: #649BB5;}
.recomment                                {color:#000; border:1px solid #B90000; padding:1px 1px; cursor:pointer;
                                           font-size:11px; font-weight:bold; background:#f0f0f0;}
.sbutton                                  {color:#fff; border:1px solid #487990; padding:1px 1px; cursor:pointer;
                                           font-size:11px; font-weight:bold; background: #649BB5;}
.resbutton                                {color:#000; border:1px solid #649BB5; padding:1px 1px; cursor:pointer;
                                           font-size:11px; font-weight:bold; background:#f0f0f0;}
/* Standart Style */
.top                                      {height:80px; background-color:#649bb5; border-top:5px solid #A7CBDC;
                                           text-align:center;}
.topmenu                                  {font-weight:bold; color:#ffffff;font-size:12px;
                                           text-align:center;}
.botmenu                                  {background-color:#f0f0f0; height:25px; padding-left:10px;
                                           line-height:25px; font-weight:bold; color:#000; padding-right:10px;
                                           border-top:5px solid #d1d1d1; text-align:left;}
.endsite								  {border-bottom:7px solid #B3B3B3; border-top:1px dotted #000;
										   padding-top:5px; padding-bottom:5px;}
.divmenu                                  {margin:3px; padding:3px;}
.blockmenu                                {height:22px;}
.siteleft                                 {width:190px; padding-top:1px;}
.sitecenter                               {width:100%; padding:3px; padding-top:1px;}
.siteright                                {padding-top:1px;}
.botcontent                               {height:50px; background-color:#649bb5;
                                           text-align:center;  border-top:5px solid #A7CBDC;}
.botin                                    {margin:5px; padding:5px;}
.sitetitle                                { font-size:12px; line-height:20px; margin:0 0 10px 0; padding:0;}

.box                                      {margin:5px; padding:5px; background-color:#FFFEEC;
                                           border:1px dotted #bebebe;}
.boxin                                    {margin:5px; padding:5px; background-color:#f9f9f9;
                                           border:1px solid #f0f0f0;}
.formnotice                               {margin:5px; padding:5px; background-color:#F9F9F9;
                                           border:1px dotted #bebebe;}
.simple                                   {margin:0px; padding:3px; background-color:#fff;
                                           border-bottom:1px solid #d1d1d1; height:100%;}
.simpletitle                              {background-color:#f0f0f0; height:22px; padding-left:10px;
                                           line-height:22px; font-weight:bold; color:#000;
                                           border-bottom:1px solid #d1d1d1;}
.post                                     {margin:15px 0; padding:3px 0 3px 40px; display: block; width:60%;
											background:url(http://balbesof.net/temp/light/images/quote-left.png) top left no-repeat;}
.posttitle                                { font-size:10px; margin-bottom:10px; }
.posttime                                 { font-size:10px; }
.down                                 {display:inline; float:right;}
.contetitle                               {background-color:#649BB5; height:25px; font-weight:bold; color:#fff;
                                           border-bottom:1px solid #CBCBCB; padding:5px;}
.sitein                                   {margin:0; padding:0 40px 0 0;
											background:url(http://balbesof.net/temp/light/images/quote-right.png) no-repeat bottom right;}
.sitenotice                             { background-color:#ffe09d; padding:5px; width:100%;}
.blocktext                                {padding:0px; padding-top:3px; padding-bottom:3px;}
.paddingtext                              {padding:10px;}
.redfont                                  {color:#B90000;}
.darfont                                  {color:#649BB5;}
.timefont                                 {float:right; color:#8a8b8b;}
.formtext                                 {padding-left:10px; padding:5px; line-height:22px;}
/* Block 
.leftblocktext                            {background-color:#F2F2F2; padding-left:2px;
                                           color:#BF3600;
                                           }
.leftblocktext p                          {background-color:#F2F2F2; padding-left:2px;
                                           color:#000000;
                                           }*/

.topblock                                 {background-color:#fff; height:25px; padding-left:10px;
                                           line-height:22px; font-weight:bold; color:#777;font-size:14px;
                                           border-top:5px solid #edecec;}
.botblock                                 {background-color:#ffffff; height:25px; padding-left:10px;
                                           line-height:22px; font-weight:bold; color:#000;
                                           border-top:5px solid #edecec;}

.redblock                                 {background-color:#b20000; height:22px; padding-left:10px;
                                           line-height:22px; font-weight:bold; color:#fff;
                                           border-top:5px solid #EC5E5E;}
/* Thumb */
.thumb                                    {border:1px solid #ccc; padding:1px; text-align:center; width:auto;}
.thumbtitle                               {background-color:#f9f9f9; border:1px solid #edecec; padding:3px;
                                           margin-top:1px; color:#000;}
.thumbtext                                {background-color:#f9f9f9; border:1px solid #edecec; padding:3px;
                                           margin-top:1px; color:#000;}
.thumbcet                                 {background-color:#fff; border:1px solid #edecec; padding:3px;
                                           margin-top:1px; color:#000; height:100%;}
/* Container */
.time                                     {color:#8A8B8B; font-weight:normal;}
.tabletd                                  {margin:1px; padding:1px; height:100%;}
.tablepadding                             {padding:2px;}
.container                                {background-color:#fff; border:0px solid #fff;
									       border-bottom:1px solid #d1d1d1; border-bottom-style:dotted;}
.container_title                          {background-color:#fff; height:25px; padding-left:5px;
                                           border-bottom:0px solid #ddd; margin:4px; padding:4px; line-height:22px;}
.container_text                           {margin:4px; padding:4px; line-height:20px;}
.container_wait                           {margin:10px; padding:10px; background-color:#fff; line-height:14px;}

/* News */
.news                                     {padding:5px; background-color:#F2E0E0; text-align:center; font-weight:bold; color:#000000;
										   border-top:3px solid #E4572E;}
.newsone                                  {padding:15px; background-color:#f0f0f0;}
.newstwo                                  {padding:15px; background-color:#ddd;}
.newslin                                  {padding:5px; background-color:#f0f0f0; text-align:center;}
/* Article */
.article                                  {padding:5px; background-color:#7C9DC7; text-align:center; font-weight:bold; color:#fff;}
.articleone                               {padding:15px; background-color:#f0f0f0;}
.articletwo                               {padding:15px; background-color:#ddd;}
.articlelin                               {padding:5px; background-color:#f0f0f0; text-align:center;}
/* Link */
.link                                     {padding:5px; background-color:#7C9DC7; text-align:center; font-weight:bold; color:#fff;}
.linkone                                  {padding:15px; background-color:#f0f0f0;}
.linktwo                                  {padding:15px; background-color:#ddd;}
.linklin                                  {padding:5px; background-color:#f0f0f0; text-align:center;}
/* Down */
.downrows                                 {background-color:#ddd;}
.downrowsone                              {background-color:#F9F9F9; line-height:20px; padding-left:10px;}
.downrowstwo                              {background-color:#FFF; line-height:20px; padding-left:10px;}
.down                                     {padding:5px; background-color:#7C9DC7; text-align:center; font-weight:bold; color:#fff;}
.downone                                  {padding:15px; background-color:#f0f0f0;}
.downtwo                                  {padding:15px; background-color:#ddd;}
.downlin                                  {padding:5px; background-color:#f0f0f0; text-align:center;}
/* Rating */
.rating                                   {background-color:#ddd;}
.ratingrows                               {background-color:#F9F9F9; line-height:25px; padding:5px;}
/* Pollbar */
.poll                                     {padding:5px;}
.pollbar                                  {background-color:#000; height:10px;}
.pollbarout                               {background-color:#fff; padding:2px; border:1px solid #ddd;}
.pollline                                 {padding:5px; border-bottom:1px solid #ddd;}
/* Photos */
.photos                                   {padding:5px; background-color:#7C9DC7; text-align:center; font-weight:bold; color:#fff;}
.photosone                                {padding:15px; background-color:#f0f0f0;}
.photostwo                                {padding:15px; background-color:#ddd;}
.photoslin                                {padding:5px; background-color:#f0f0f0; text-align:center;}
.photoswin                                {background-color:#fff; height:22px; padding-left:10px;
                                           line-height:22px; font-weight:bold; color:#7C9DC7;
                                           border-bottom:1px solid #7C9DC7; border-bottom-style:dotted}
.photosin                                 {display:inline; padding:2;}
.photosod                                 {margin:2px; padding:2; border:solid 1px #CCCCCC;}
.photosit                                 {margin:2px; padding:2; border:solid 1px #B90000;}
/* Pages */
.pages                                    {margin:10px 0; padding-bottom:4px; font-size:12px; }
.pagesempty                               {text-decoration:none; border:1px solid #4C4C4C;
                                           background-color:#FFFFFF; padding:1px 2px; font-weight:normal;}
/* Closed */
.closed                                   {border:2px; border-style:solid; border-color:#649BB5;
                                           background-color:#F9F9F9;}
.closedtext                               {padding:10px 10px; height:100%;}
/* Redirect */
.redirect                                 {border:2px solid #ccc; background-color:#F9F9F9;}
.redirecttitle                            {border-bottom:2px solid #ccc; background-color:#F9F9F9;
                                           color:#B50206; padding:10px 10px; font-weight:bold;}
.redirecttext                             {padding:10px 10px;}
.redirecttime                             {font-size:14; color:#B90000; font-weight:bold;
                                           font-family:Verdana; text-align:center;}
/* Calendar */
.calendar                                 {width:100%; font-size:10px; border-collapse:separate; background-color:#649BB5;}
.calendartitle                            {background-color:#7C9DC7; font-size:10px; padding:2px;color:fff;}
.calendarmonth                            {background-color:#F7F7F7; font-size:11px; padding:4px;}
.calendarempty                            {background-color:#F7F7F7; font-size:11px; padding:4px;}
.calendartoday                            {background-color:#7C9DC7; font-size:11px; padding:4px;color:fff;}
.calendarallday                           {background-color:#FFFFFF; font-size:11px; padding:4px;}
/* Debug */
.debug                                    {overflow:auto; border:1px dotted #000000; font-size:11px;
                                           background-color:#f3f3f3; color:#A73C3C; margin:5px; padding:5px;
                                           height:70px;}
/* Error */
.errortitle                               {background-color:#b20000; height:22px; padding-left:10px;
                                           line-height:22px; font-weight:bold; color:#fff;
                                           border-top:5px solid #EC5E5E;}
/* Hint */
.hint                                     {background-color:#fff;
                                           line-height:15px;
                                           color:#000;
                                           width:auto;
                                           border-top:3px solid #548CA6;
                                           border-right:1px solid #548CA6;
                                           border-bottom:1px solid #548CA6;
                                           border-left:1px solid #548CA6;
                                           z-index:1000;
                                           margin:0px; padding:11px; position:absolute; visibility:hidden;}
/* ********************************************** */
/* Danneo CMS Default Template © 2005 Danneo Team */
/* ********************************************** */
/*   This file is created Danneo CSS Visual Pro   */
/* ********************************************** */

.direct                                    {font-size:14px; }

/* Cliparts */
#flyclip	{width:25%; padding:10px 0; background:#fffeec; float:left;}

/* Блоки */
.leftblocktext a:link,
.leftblocktext a:visited                                 {color:#555555;}
.leftblocktext a:hover                                   {color:#B90000;}

#gray                                                    {color:#4C4C4C; }
#red                                                    {color:#FF2B00; }
#green													{color:#7DB026; }	
#fontnews                                                {line-height:20px; font-size:13px;}
#title													{ color:#7DB026; font-size:23px; margin:25px 0 5px 0; padding:0;
														 font-weight:normal;}
#coment													{ color:#7DB026; font-size:18px; margin:0 0 10px 0; padding:0;
														 font-weight:normal;}
#leftborder												{border-left:1px solid #7DB026; padding-left:10px;}
														 
/*Форма коментариев*/														 
#comtitle, #comname							{width:190px;}
.greenbutton								{color:#FFFFFF; width:385px; height:20px;
											background:#7DB026 url(button-r.png) 0 -20px no-repeat; 
												cursor:pointer; font-size:13px; border:none; padding:2px 0;}
.redbutton									{color:#FFFFFF; width:385px; height:20px;
											background:#FF2B00 url(button-r.png) no-repeat; 
												cursor:pointer; font-size:13px; border:none; padding:0;}


/* ********************************************** */
/*                     Шапка                      */
/* ********************************************** */

#logo										{border:0; margin-right:47px; float:left;}
.topnav										{float: right; font-size:12px; line-height:25px; padding-top:5px;}

/* ********************************************** */
/*                Блок авторизации                */
/* ********************************************** */
.loginbox									{width:229px; height:107px; margin-right:47px; padding: 5px 0px;
											 font-size:12px; color:#4C4C4C;
											 float:left; background: url(podlojka.png) no-repeat;}
.loginboxok									{width:219px; height:107px; margin-right:47px; padding: 8px 5px 5px 5px;
											 font-size:12px; color:#4C4C4C; text-align:center; line-height:20px;
											 float:left; background: url(podlojka.png) no-repeat;}
.loginbox span								{ font-size:11px;}
input.sinput								{ border: #4C4C4C solid 0px; background-color:#FFFFFF; height:20px; width:156px; 
											 margin: 0; background: url(input-15.png) no-repeat; 
											 padding:3px 3px; color:#4C4C4C;}
input.sinputpassw							{ border: #4C4C4C solid 0px; background-color:#FFFFFF; height:20px; width:82px; margin:0;
										      background: url(input-80.png) no-repeat; padding:3px 3px; color:#4C4C4C;}
.rbutton                          { color:#fff; border:0px; padding:0px; margin: 0; cursor:pointer;
                                           font-size:13px; background:#FF2B00 url(button-s.png) no-repeat; 
										   height:20px; width:68px;}
.rerbutton                        {color:#fff; border:0px solid; padding:0px; margin:0px; cursor:pointer;
                                           font-size:13px; background:#7DB026 url(button-s.png) 0 -20px no-repeat;
										    height:20px; width:68px;}

/* ********************************************** */
/*          Кнопка добавления файла               */
/* ********************************************** */

a.addfile,
a.addfile:link,
a.addfile:visited                           {width:229px; height:107px; display:block; float:left;  margin-right:47px;
											 background:no-repeat url(add-file.png)}
a.addfile:hover                             {width:229px; height:107px; display:block; float:left;  margin-right:47px;
											 background:no-repeat url(add-file.png) 0 -107px;}

/* ********************************************** */
/*              Поиск по сайту                    */
/* ********************************************** */
.googleinput								{ border: #4C4C4C solid 0px; background-color:#FFFFFF; height:20px; width:102px; 
											 margin: 0; background: url(input-10.png) no-repeat; 
											 padding:3px 3px; color:#4C4C4C;}


/* ********************************************** */
/*                 Блоки                          */
/* ********************************************** */											 
.leftblock                                { width:228px; padding:0 0 10px 0; font-size:13px; line-height:20px; margin:0;}
.leftblock h2							  { font-size:18px; line-height:25px; color:#7DB026; 
											font-weight:normal; margin:0 0 10px 0; padding:0;}
.leftblock p							  { margin:0 0 8px 0; padding:0;}

.rssblock								  { width:228px; padding:0 0 10px 0; font-size:13px; line-height:15px; margin:0;}
.rssblock img							  { margin-right:10px;}
.rssblock a								  { text-decoration:none;}

.rightblock-float						  {float:right; margin:0; display:block; padding:0 0 10px 47px; }

.rightblock                               { margin:0 0 10px 0; width:250px; 
											font-size:12px; line-height:20px;}
.float-left-block						  { display:block; width:100px; height:130px; margin:15px 10px -5px 0; 
											float:left; text-align:center;}

/* ********************************************** */
/*          Блок контента на главной              */
/* ********************************************** */
#content								{ width:100%; vertical-align:top; position:relative; padding:0 0 20px 47px; line-height:18px;}
#block									{ margin:0 0 15px 0; line-height:20px;}
#linknav								{ margin:0;}
h3 a									{ font-size: 14px; line-height:18px; font-weight:normal; margin:0 0 4px 0;}
.rubricator								{ font-size:10px; line-height:14px; color:#7DB026; display:block; margin-bottom:5px;}


/* ********************************************** */
/*                Каталог файлов                  */
/* ********************************************** */
#block-content-down						{ width:100%; padding:0 0 0 15px; vertical-align:top; line-height:20px;}
#block-content-down-photo				{ vertical-align:top;}
#block-content-down	h1					{ padding-top:0;}
#block-content-down	p					{ padding:0; margin:0 0 10px 0;}
a.download, a.download:visited			{ display:block; width:100%; margin-top:10px; padding:5px;
										text-decoration:none;
										 background-color:7DB026; color:#FFFFFF; text-align:center; font-weight:bold;}
a.download:hover						{ display:block; width:100%; margin-top:10px; padding:5px;
										 text-decoration:none;
										 background-color:FF2B00; color:#FFFFFF; text-align:center; font-weight:bold;}
.down-cat-info							{ padding:0 0 25px 90px; display:block;
										background:url(http://balbesof.net/temp/light/images/download-icon.png) top left no-repeat;}
.cat									{ display:block; padding-left: 40px; margin-left:35px; margin-bottom:20px;
										background:url(http://balbesof.net/temp/light/images/cat-folder.png) top left no-repeat;}
.cat a									{ font-size:14px;}
.subcat                                 { margin:0 0 10px 25px; font-size:10px; display:block;}
.subcat a								{ font-size:10px; color:#7DB026;}
/* ********************************************** */
/*          Скругленные углы и полоски            */
/* ********************************************** */
#fon-green								{ background-color:#7DB026; height:25px; text-align:center; color:#FFFFFF; font-size:12px;}
#fon-green a							{ color:#FFFFFF; margin:0 3px;}
#fon-green-left							{ width:4px; background:url(roundsid.png) no-repeat;}
#fon-green-right						{ width:4px; background:url(roundsid.png) no-repeat -4px 0px;}
#fon-yellow								{ background-color:#FFEAB9; height:25px; text-align:center; font-size:12px;}
#fon-yellow-left						{ width:5px; background:url(roundsie.png) no-repeat;}
#fon-yellow-right						{ width:5px; background:url(roundsie.png) no-repeat -5px 0px;}


.sitattention                           { background-color:#ffe09d; width:100%; text-align:center;}
.sitattention #top-left					{ width:5px; height:5px; background:url(http://balbesof.net/temp/light/images/coners-notice.png);}
.sitattention #top-right				{ width:5px; height:5px; background:url(http://balbesof.net/temp/light/images/coners-notice.png) 5px 0;}
.sitattention #bottom-left				{ width:5px; height:5px; background:url(http://balbesof.net/temp/light/images/coners-notice.png) 0 5px;}
.sitattention #bottom-right				{ width:5px; height:5px; background:url(http://balbesof.net/temp/light/images/coners-notice.png) 5px 5px;}
.sitattention p							{margin:5px 0; padding:0;}

/* ********************************************** */
/*                     Копирайт                   */
/* ********************************************** */
.copyright								{ font-size:12px; line-height:17px; color:#4C4C4C; text-align:center; padding-top:10px;}
.copyright a							{ color:#4C4C4C;}

/* top10 */
.topsites {
float:left;
width: 50%;
height: 192px;
padding: 0;
margin:0px;
border:2px solid #ffffff;
background-color:#edecec;
}
#ajaxlink {
color:#7DB026;
border-bottom:#7DB026 dashed 1px;
text-decoration:none;
}
#avatar {
height: 100px;
margin:0 10px 10px 0;
text-align:center;
float:left;
display:block;
font-size:16px;
font-weight:bold;
color:#7DB026;
}
#points{
font-size:16px;
color:#7DB026;
}
#statistica{
padding: 0 0 0 100px;
font-size:12px;
}
#statistica p {
margin:3px 0 0 0;
}
#top1 {
height:18px;
width:109px;
text-align:center;
font-size:14px;
color:#FFFFFF;
background-color:#ffd700;}
#top2 {
height:18px;
width:109px;
text-align:center;
font-size:14px;
color:#FFFFFF;
background-color:#c0c0c0;}
#top3 {
height:18px;
width:109px;
text-align:center;
font-size:14px;
color:#FFFFFF;
background-color:#cd7f32;}

#top4, #top5, #top6, #top7, #top8, #top9, #top10 {
height:18px;
width:109px;
text-align:center;
font-size:14px;
color:#FFFFFF;
background-color:#bdbcd9;}

#points {
color:#555555;
font-size:10px;
text-align:center;
}
#minus {
color:#FF2B00;
font-size: 12px;
}
#plus{
color:#7DB026;
font-size: 12px;
}

/* флэш банер */
.table-flash-baner {
margin-bottom:20px;
background-color:#FFF3D9;}
.table-flash-baner p {
margin: 0 0 10px 0;
padding: 0;}

/* Капча */

/* Thick Box */
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(http://balbesof.net/temp/light/css/macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}


