@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-R.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-RI.ttf');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-B.ttf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-BI.ttf');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: "Ubuntu Medium";
    src: url('../fonts/Ubuntu-M.ttf');
}
