/*
INFO: 
project: 
browsers: opera/chrome/FF/ie7,8/safari
resolutions: >=1100x768
markup: Sergey Kalinin 01/2013 (prozaik81-2@yandex.ru)
desc: к проекту "демонстрационные формы на angularJS"

		
version 1

TABLE OF CONTENTS:
1.global reset and common settings
2.fonts
3.layout
4.blocks

*/

/************************************************************************************************************** 1.global reset and common settings */

html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img, input{ 
	border: none;
	margin: 0; 
	outline: none;	
	padding: 0;
}

html{
    height:100%;		
}

body{	
	height:100%;	

	font: 14px helvetica, arial, sans-serif;	
}	
	
ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
	
.hide{
	display: none;
}	

	
		
/******************************************************************************************************************************* 2.	fonts */	


/****************************************************************************************************************************** 3.	layout */	
.wrap{
	width: 800px;
	margin: 0 auto;
	padding-top: 40px;
}

	.wrap > h1{
		padding-bottom: 40px;
		
		font-size: 22px;
	}
	
	.wrap .personal_data{
		padding-bottom: 40px;
		
		font-size: 16px;
	}	
	
/****************************************************************************************************************************** 4 	blocks */
/****************************************************************************************************************************** 4.1	personal_data */
.personal_data{

}

	.personal_data .form_item{
		padding-bottom: 20px;
	}
	
		.personal_data .form_item label{
			display: inline-block;
			width: 250px;
			
			vertical-align: top;
		}
		
			.personal_data .form_item label .mark_rquired{
				color: red;
				margin-left: 3px;
			}
	
		.personal_data .form_item input{
			border: 1px solid #000;
			display: inline-block;
			width: 250px;
		}
		
		.personal_data .form_item input[type="radio"],
		.personal_data .form_item input[type="reset"],
		.personal_data .form_item input[type="submit"]{
			width: auto;
		}		
		
		.personal_data .form_item textarea{
			border: 1px solid #000;
			display: inline-block;
			width: 250px;
		}		
		
		.personal_data .form_sub{
			display: inline-block;
			width: 250px;		
		}
		
			.personal_data .form_sub .gender_item{
			
			}
			
				.personal_data .form_sub .gender_item .label_sub{
					width: auto;
				}
	

