/*
INFO: 
project: kalininHuyak
browsers: opera/chrome/FF/ie7,8/safari
resolutions: >=1000x768
markup: Sergey Kalinin 07/2013 (prozaik81-2@yandex.ru)
desc: продолжение легендарной игры-стрелялки
		
version 1.1

TABLE OF CONTENTS:
1.global reset and common settings
2.fonts
3.layout
4.blocks
*/


/************************************************************************************************************** 1.global reset and common settings */

html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img, input{ 
	border: none;
	margin: 0; 
	outline: none;	
	padding: 0;
}

html{
    height:100%;		
	
}
	
body {
	height:100%;
}
	
ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
		
/******************************************************************************************************************************* 2.fonts */		

/****************************************************************************************************************************** 3.layout */	
.huyak_wrap{
	overflow: hidden;
	position: relative;
	left: 0;
	top: 0;
}
	.huyak_wrap .star_canvas{
		position: absolute;
		top: 0;
		left: 0;
		
	}

	.huyak_wrap .player_ship{
		background: url('../images/kalininHuyak/playerShip.png') left top no-repeat;
		display: inline-block;
		width: 72px;
		height: 128px;
		overflow: hidden;
	}


/****************************************************************************************************************************** 4. blocks */
/****************************************************************************************************************************** 4.1 indikator */		
