article
{
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0 20px 2em 25px;
}
article p
{
	font-family: Verdana;
	font-size: 12px;
	line-height: 17px;
	margin: 0;
	padding: 5px 0;
}
article li
{
	line-height: 17px;
	padding: 5px 0;
}
articleSummary
{
	border: none;
}
article a
{
	background-color: #D4C8EE;
	color: Black;
	display: inline-block;
	padding: 0 2px 2px;
	text-decoration: none;
}
article a:visited
{
	background-color: #e2dcee;
	color: #004f07;
}
article a:hover
{
	background-color: #AA94DD;
	color: White;
}
#more-articles
{
	background: #ededed url(slices01.png) no-repeat scroll 500px -390px;
	border-bottom: solid 1px #bababa;
	border-top: solid 1px #bababa;
	margin-top: 5px;
	padding: 15px 0;
}
#related-articles-div
{
	margin: 0;
}
#related
{
}
#related li
{
	line-height: 17px;
	padding: 0;
}
#related a
{
	color: #004f07;
	display: block;
}
#related a:hover
{
	color: #004f07;
}
#related a:visited
{
	color: #004f07;
}
#related ul
{
	list-style: none;
}
#articles-nav
{
	margin: 0 0 10px 0;
	overflow: hidden;
}
#related-articles-div ul
{
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	margin: 0;
}
#articles-nav li
{
	float: left;
	margin: 0 10px 0 0;
}
#articles-nav li.last
{
	margin-right: 0;
}
#articles-nav li a
{
	border: none;
	color: black;
	display: block;
	padding: 5px;
	text-align: center;
}
#articles-nav li a:hover
{
	color: Black;
	outline: none;
}
#articles-nav li a:visited
{
	color: Black;
	outline: none;
}
#articles-nav li a:active
{
	color: Black;
	outline: none;
}
#articles-nav li a:link
{
	color: Black;
	outline: none;
}
#popular-articles-div
{
	display: none;
}
#articles-nav li a.current
{
	border: 1px solid gray;
	color: black;
}
#comments
{
	background: #e4e4e4 url(slices01.png) no-repeat scroll 500px -390px;
	border-top: solid 1px White;
	padding-right: 25px;
}
#userComment
{
	margin: 0;
	padding: 0;
}
.userData
{
	float: left;
	text-align: center;
	width: 120px;
}
.userData img
{
	border: none;
	margin: 0;
	padding: 0;
}
.userData p.nickname
{
	color: #7e2901;
	font-size: 10px;
	margin: 5px 0 0 0;
	padding: 0;
}
.userData p.date
{
	color: Black;
	font-size: 10px;
	margin: 5px 0 0 0;
	padding: 0;
}
.commentText
{
	background-color: white;
	border: solid 1px #c2c2c2;
	line-height: 17px;
	margin: 0 0 0 150px;
	min-height: 70px;
	overflow: visible;
	padding: 15px;
	position: relative;
}
.commentText img
{
	border: none;
	left: -34px;
	padding: 0;
	position: absolute;
	top: 20px;
}
#leaveComment
{
	background-color: #e4e4e4;
	margin-top: -12px;
	padding-right: 25px;
}
#leaveComment h2
{
	padding-left: 25px;
}
#titleText
{
	display: none;
}
.comment
{
	border: 1px solid #c2c2c2;
	font-family: Verdana,Helvetica,Sans-Serif;
	font-size: 12px;
	width: 395px;
}
#commentText p
{
	margin: 0;
	padding: 5px 0;
}
#userNameLeaveComment
{
	margin: 0 0 5px 150px;
	overflow: visible;
	padding: 0;
	position: relative;
}
#userNameLeaveComment p
{
	margin: 0;
	padding: 0;
}
#commentHeader, #email
{
	font-family: Verdana,Helvetica,Sans-Serif;
	padding: 3px 15px;
}
#leaveCommentText
{
	line-height: 17px;
	margin: 0 0 0 150px;
	min-height: 70px;
	overflow: visible;
	padding: 0;
	position: relative;
}
#leaveCommentText img
{
	border: none;
	left: -33px;
	padding: 0;
	position: absolute;
	top: 20px;
}
#leaveCommentText p
{
	margin: 0;
	padding: 0;
}
#comment
{
	font-family: Verdana,Helvetica,Sans-Serif;
	padding: 15px;
}
#publishComment
{
	margin: 10px 0;
}
#identity
{
	text-align: right;
}
#identity p
{
	margin: 0;
	padding: 0;
}
.myreply
{
}
.myreply ul
{
	background: transparent url(graypixe.png) repeat-y scroll 150px 0;
	list-style: none;
	list-style-image: none;
	margin: -14px 0 12px 0;
	padding: 14px 0 0 150px;
}
.myreply ul li
{
	background: transparent url(graypixe.png) repeat-x scroll 0 50%;
	padding: 0 0 0 32px;
}
.myreply ul li div
{
	background-color: #ffffdf;
	border: 1px solid #c2c2c2;
	min-height: 70px;
	padding: 15px;
}
.myData
{
	float: left;
	margin: 14px 0 0 32px;
	padding: 0;
	width: 120px;
}
span.rightSpan
{
	color: #7e2901;
	display: inline-block;
	float: right;
	font-size: 10px;
	margin: 5px;
	right: 0;
	top: 0;
}
span.rightSpan a
{
	background-color: #bbeef0;
	color: Black;
	padding: 2px;
	text-decoration: none;
}
span.rightSpan a:hover
{
	background-color: #7adde1;
}
span.leftSpan
{
	color: #7e2901;
	display: inline-block;
	font-size: 10px;
	margin: 5px;
}
#commentsCount
{
	background: transparent url(comment_.png) no-repeat scroll 0 4px;
	color: #868686;
	font-family: Bookman Old Style;
	font-size: 24px;
	margin: 5px 25px 0 25px;
	padding: 0 0 30px 50px;
}
#commentsCount span
{
	background: transparent url(comment0.png) no-repeat scroll 0 4px;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 40px;
}
#email
{
	margin-top: 5px;
}
