body
{
	background: #803920 url(bg000000.png) repeat scroll 0 0;
	color: #000000;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: .75em;
	margin: 0;
	padding: 0;
}
h1
{
	font-family: "Bookman Old Style";
	font-size: 22px;
	margin: 30px 0 0 25px;
	padding: 0;
}
a, a:hover, a:link, a:visited, a:active
{
	outline: none;
}
h2
{
	color: Black;
	font-family: "Bookman Old Style";
	font-size: 20px;
	margin: 0;
	padding: 25px 0 20px;
}
h2 a
{
	color: Black;
	text-decoration: none;
}
h2 a:visited
{
	color: Black;
	text-decoration: none;
}
h2 a:hover
{
	color: Black;
	text-decoration: none;
}
.clear
{
	clear: both;
}
#page
{
	padding: 0;
}
header
{
	display: block;
	margin: 0 auto;
	overflow: visible;
	width: 1000px;
}
#main
{
	background: #ededed url(backgrou.png) repeat scroll 0 0;
	min-width: 1000px;
}
#content
{
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 45px 45px;
	text-align: left;
	width: 955px;
}
section
{
	display: block;
	background-color: #ffffff;
	border-bottom: solid 1px #bababa;
	border-left: solid 1px #bababa;
	border-right: solid 1px #bababa;
	float: left;
	margin: 0;
	padding-top: 15px;
	width: 600px;
}
aside
{
	display: block;
	float: right;
	margin: 10px 15px 0 0;
	width: 300px;
}
#statistica
{
	text-align: center;
}
#logo
{
	background: transparent url(slices00.png) no-repeat scroll 0 -46px;
	border: none;
	display: block;
	float: right;
	height: 100px;
	margin: 0 15px 0 0;
	padding: 0;
	width: 300px;
}
footer
{
	display: block;
	background: transparent url(footer_b.png) repeat-x scroll 0 0;
	clear: both;
	padding: 0;
}
footer > div
{
	background: transparent url(dots0000.png) repeat-x scroll 0 0;
	padding: 0;
}
#footer
{
	margin: 0 auto;
	padding: 24px 0 0;
	text-align: left;
	width: 1000px;
}
#checkbottom
{
	background: transparent url(slices01.png) no-repeat scroll 0 -146px;
	display: block;
	height: 80px;
	left: 800px;
	position: relative;
	top: 9px;
	width: 110px;
}
#feedback
{
	background: transparent url(slices01.png) no-repeat scroll -300px -46px;
	height: 139px;
	left: 0;
	position: fixed;
	top: 170px;
	width: 23px;
}
#feedback:hover
{
	cursor: pointer;
}
#feedbackdiv
{
	background-color: #f2f2f2;
	border: 1px solid black;
	display: none;
	font-style: normal;
	padding: 15px 20px 25px 35px;
	position: fixed;
	z-index: 1002;
}
#closefeedback
{
	background: transparent url(slices00.png) no-repeat scroll -238px -146px;
	height: 47px;
	position: absolute;
	right: 8px;
	top: 8px;
	width: 47px;
}
#feedbacklogo
{
	background: transparent url(slices00.png) no-repeat scroll -300px -46px;
	height: 139px;
	left: 0;
	position: absolute;
	top: 25px;
	width: 23px;
}
#feedbackdiv p
{
	font-family: Verdana;
	font-size: 14px;
	font-style: italic;
	margin: 20px 0 10px 0;
}
#send
{
	margin-top: 10px;
	text-align: right;
}
#feedbackoverlay
{
	background-color: #111;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
}
#submitFeedback
{
	background: transparent url(slices01.png) no-repeat scroll -241px -327px;
	border: none;
	height: 23px;
	width: 131px;
}
.textFeedback
{
	background-color: #ececec;
	border: 1px solid #bababa;
	font-family: Arial;
	width: 100%;
}
nav
{
	background-color: #ffffff;
	border: solid 1px #bababa;
	border-bottom: none;
	float: left;
	height: 40px;
	margin: 60px 0 0 45px;
	width: 600px;
	display: block;
}
#check
{
	background: transparent url(slices00.png) no-repeat scroll 0 -146px;
	display: block;
	float: left;
	height: 80px;
	left: 30px;
	position: relative;
	top: -16px;
	width: 110px;
}
ul#menu
{
	display: block;
	float: left;
	margin: -1px 0 0 40px;
	padding: 0;
}
ul#menu li
{
	display: block;
	float: left;
	list-style: none;
	margin: 0;
}
ul#menu li a
{
	background: transparent url(slices01.png) no-repeat scroll;
	display: block;
	height: 29px;
	width: 158px;
}
ul#menu li a.articlesactive
{
	background-position: 0 -226px;
}
ul#menu li a.articlesinactive
{
	background-position: 0 -255px;
}
ul#menu li a.snippetsactive
{
	background-position: -159px -226px;
}
ul#menu li a.snippetsinactive
{
	background-position: -159px -255px;
}
.side-group
{
	background-color: White;
	border: solid 1px #bababa;
	margin-bottom: 25px;
	width: 300px;
}
.side-group h5
{
	color: #a72e00;
	font-family: Verdana;
	font-size: 15px;
	font-weight: bold;
	margin: 10px 0;
	text-align: center;
}
.side-group li
{
	list-style-image: none;
	list-style-type: none;
	margin: 4px;
}
.side-group a
{
	background: #f7deba;
	color: black;
	display: block;
	font: 12px "Lucida Grande" , Helvetica, Sans-Serif;
	margin: 0 5px 5px 0;
	overflow: hidden;
	padding: 2px 6px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}
.side-group a:hover
{
	background: #f0be78;
}
.side-group ul
{
	margin: 15px;
	padding: 0;
}
.side-group a span
{
	background: transparent url(slices01.png) repeat scroll -231px -200px;
	display: block;
	height: 13px;
	margin-top: 2px;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.side-group a:hover span
{
	background: transparent url(slices01.png) repeat scroll -231px -213px;
}
.link2all
{
	clear: both;
	margin: 0 20px 15px;
	text-align: right;
}
.link2all a
{
	background: #bbeef0;
	display: inline;
}
.link2all a:hover
{
	background: #7adde1;
}
#services
{
	text-align: center;
}
#services a
{
	border: none;
	display: inline-block;
	height: 68px;
	margin: 5px 12px;
}
#rss-link
{
	background: transparent url(slices00.png) no-repeat scroll -109px -146px;
	width: 64px;
}
#twitter-link
{
	background: transparent url(slices00.png) no-repeat scroll -172px -146px;
	width: 66px;
}
#SizeMatters
{
	margin: 25px 0;
	text-align: center;
}
#SizeMatters div
{
	color: Black;
	font-family: "Bookman Old Style";
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
}
#rule
{
	background: transparent url(slices01.png) no-repeat scroll 0 -284px;
	height: 80px;
	left: 45px;
	margin: 0;
	position: relative;
	top: -20px;
	width: 241px;
}
#TwitterCounter
{
	display: inline;
	margin: 0;
	padding: 0;
}
#cse
{
	margin: 0;
	padding: 5px;
	width: 290px;
}
#SideContextAd
{
	border: 1px solid #a72e00;
	display: inline-table;
	margin: 0 0 25px 0;
}
pre:hover
{
	cursor: default;
}
pre
{
	background-color: gray;
	border: 2px solid #999999;
	color: White;
	font-size: 1.2em;
	overflow: auto;
	padding: 5px;
}
tt
{
	font-size: 1.2em;
	font-weight: bold;
}
#footer-logo
{
	background: transparent url(slices00.png) no-repeat scroll 0 0;
	display: block;
	height: 46px;
	margin: 0 45px;
	width: 408px;
}

a.clear-link, a.clear-link:hover, a.clear-link:visited, a.clear-link:active, a.clear-link:link
{
	background: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

a.clear-link img
{
	border: none;
}

li.clear-li
{
	background: none;
	display: block;
	text-align: center;
}
.ad-links a
{
	display: block;
	margin: 4px 24px 4px 19px;
}
.sape-links
{
	padding-bottom: 10px;
}