h1
{
	-moz-text-shadow: 0px 2px 3px #bbbbbb;
	text-shadow: 0px 2px 3px #bbbbbb;
	-webkit-text-shadow: 0px 2px 3px #bbbbbb;
}
h2
{
	-moz-text-shadow: 0px 2px 3px #bbbbbb;
	text-shadow: 0px 2px 3px #bbbbbb;
	-webkit-text-shadow: 0px 2px 3px #bbbbbb;
}
::selection
{
	background: #ffd800;
	color: #000;
}
::-moz-selection
{
	background: #ffd800;
	color: #000;
}
::-webkit-selection
{
	background: #ffd800;
	color: #000;
}
#feedbackoverlay
{
	opacity: 0.7;
}
nav
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}
a.articlesactive:hover, a.articlesinactive:hover, a.snippetsactive:hover, a.snippetsinactive:hover
{
	-moz-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}
.side-group
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.side-group a
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#services a:hover
{
	-moz-transform: rotate(-10deg) scale(0.95);
	transform: rotate(-10deg) scale(0.95);
	-webkit-transform: rotate(-10deg) scale(0.95);
}
#SideContextAd
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#pager a.page-index
{
	box-shadow: 1px 1px 2px #bababa;
	-moz-box-shadow: 1px 1px 2px #bababa;
	-webkit-box-shadow: 1px 1px 2px #bababa;
}
#pager a.page-index:hover
{
	box-shadow: 3px 3px 2px #bbb;
	-moz-box-shadow: 3px 3px 2px #bbb;
	-moz-transform: translate(-1px, -1px);
	transform: translate(-1px, -1px);
	-webkit-box-shadow: 3px 3px 2px #bbb;
	-webkit-transform: translate(-1px, -1px);
}
#pager a.current-page
{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#pager a.current-page:hover
{
	box-shadow: none;
	-moz-box-shadow: none;
	-moz-transform: none;
	transform: none;
	-webkit-box-shadow: none;
	-webkit-transform: none;
}
#listArticles a
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
article a
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#articles-nav li a.current
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
span.rightSpan a
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.tabitem
{
	-moz-text-shadow: 0px 2px 3px #bbbbbb;
	text-shadow: 0px 2px 3px #bbbbbb;
	-webkit-text-shadow: 0px 2px 3px #bbbbbb;
}
#hideSnippetArea
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.tabpanel li
{
	border-radius: 5px;
	box-shadow: 0 0 7px white;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 7px white;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 7px white;
}
