<?xml version="1.0"?>
<config>
    <modules>
        <Kalinin_Pics>
            <version>0.1.0</version>
        </Kalinin_Pics>
    </modules>
    <frontend>
        <routers>
            <kalinin_pics>
                <use>standard</use>
                <args>
                    <module>Kalinin_Pics</module>
                    <frontName>pics</frontName>
                </args>
            </kalinin_pics>
        </routers>
    </frontend>
    <global>        
        <blocks>
            <kalininform>
                <class>Kalinin_Form_Block</class>
            </kalininform>
        </blocks>      
    </global>      
</config>
