/*
INFO:
project: 
browsers: opera/chrome/FF/ie7+/safari
resolutions: >=1024x768
makeup: Sergey Kalinin 10/2011 (prozaik81-2@yandex.ru)
version 1

TABLE OF CONTENTS:
1.global reset and common settings
2.layout
3.blocks
*/

/************************************************************************************************************** 1.global reset and common settings */

html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, li, span, fieldset , form, dl, dd, dt{ 
	border: none;
	margin: 0; 
	outline: none;
	padding: 0;
}

html{
    height: 100%;	
}

body{	
    height: 100%;		
	background: #352E2C;	
}	

ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/***************************************************************************************************************************************** 2.layout */		

.red{
	background: red;
}

.yellowText{
	color: yellow;
}

.data_{
	display: none;
}

.toggleDisplay{
	background: cyan;
	color: red;
	cursor: pointer;
	margin-top: 30px;
	display: inline-block;
	
}

.hide{
	display: none;
}

.results{
	display: block;
	margin-top: 30px;
	cursor: pointer;
}

#voter{
	color: lime;
}

	#voter li{
		
		
	}
	
		#voter li span{
			
			
		}


/****************************************************************************************************************************************** 3.blocks */

/****************************************************************************************************************************************** 3.1 header */

