.announce {
	padding-bottom: 1em;
	margin-bottom: 1em;
}

#section_title {
      font-size: 120%;
      font-family: Verdana, sans-serif;
}

.sourcecode {
	font-family : 'Courier New',monospace;
	font-size : 75%;
	white-space : pre;
      margin-left: 5px;
      padding-left: 8px;
      border-left: 5px solid #eeeeee;
}