small{
  font-size:13px;
}
.px13{
  font-size:13px;
}
.normal-weight{
  font-weight:normal !important;
}
#content a{
  text-decoration:underline;
}
#content a:hover{
  text-decoration:none;
}   
.margin-0{
  margin:0px !important;
}
.no-padding-t-b{
  padding-top:0px !important;
  padding-bottom:0px !important;
}
#content .breadcrumb {
  padding: 8px 15px 0px 34px;
  margin: 7px 0 0px 6px;
  list-style: none;
  font-size:12px;
}
#content .breadcrumb > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  text-shadow: 0 1px 0 #ffffff;
  background:none;
  padding:0px;
  margin:0px;
  font-size:12px;  
}
#content .breadcrumb > li > .divider {
  padding: 0px;
  margin-left:3px;
  margin-right:2px;
}
#content .breadcrumb > .active {

}
#content .breadcrumb a{
  text-decoration:underline;
}
#content .breadcrumb a:hover;{
  text-decoration:none;
}

#inner{
  background:url(../i/bg-inner.jpg) repeat-y 0 0;
  padding:0px 0px 5px 0px;
  min-height:250px;
}
#main-menu .menu-hop-transparent{
  background: url(../i/bg-menu-hop-transparent.png) no-repeat 0 0;
}
#main-menu .menu-hop-transparent .main-menu-2{
  background: url(../i/bg-menu-main-2-transparent.png) no-repeat 0 0;
}
#content{
  width:680px;
  padding:1px 0px 30px 0px;
  margin-left:12px;
  float:left;
}
#content h1 {
    background: url("../i/bg-inner-h1.jpg") no-repeat scroll 1px 100% transparent;
    font-size: 25px;
    line-height: 30px;
    margin: 6px 20px 21px 40px;
    padding: 0 0 12px;
}
#content h2{
  font-size:24px;
  font-weight:bold;
  line-height:24px;
  margin:31px 0px 13px 41px;
}
#content h4{
  margin-left:40px;
}
#content-inner{
  margin-left:41px;
}
#content-inner > p{
  font-size: 16px;
  line-height: 24px;
  margin:0px 42px 20px 0px;
}
#content-inner .article-text {
    padding: 0 20px 12px 0;
    word-wrap: break-word;
}

#inner-column{
  width:301px;
  float:left;
  padding-top:41px;
}
#inner-column h3, #inner-column .records-list h3{
  font-size:19px;
  margin-bottom:20px;
  line-height:19px;
}
#inner-column .records-list h3 a{
  color: #000000;
}
#inner-column .records-list h3{
  margin-bottom:9px;  
}
#top-10-sites{
  font-size: 13px;
  margin: 0px 22px 10px 19px;
  position: relative;
}
#top-10-sites h3 select, #top-10-sites h3 .select-pick{
  width:55px;
  font-size:12px;
}
#top-10-sites h3 .select-pick .btn{
  font-size:12px;
  padding:0px 12px;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(bottom, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
  background-image: -webkit-linear-gradient(bottom, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(bottom, #ffffff, #e6e6e6);
  background-image: linear-gradient(to top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  *border: 0;
  border-color: #dddddd #f2f2f2 #f2f2f2 #e3e3e3;
  /*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
/*  border-bottom-color: #eeeeee;    */
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);    
}
#top-10-sites h3 .select-pick .btn .filter-option{
  left:6px;
  right:15px;
}
#top-10-sites > ol > li{
  background:url(../i/dashed-top.jpg) repeat-x 0px 100%;
  clear: both;
  float: left;
  width: 100%;  
  line-height:14px;  
  margin-bottom:8px;
  position: relative;
}
#top-10-sites ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin: 0 0 10px 25px;
}
#top-10-sites .top-10-i{
  background-color:#f7f7f7;
  padding-right:2px;
  float:left;
  margin-bottom:-2px;     
}
#top-10-sites .top-10-r{
  position: absolute;
  background-color:#f7f7f7;  
  width: 32px;
  right: 0;
  bottom: 1px;
  text-align: right;
}
#top-10-sites > ol > li a{
  display: block;
  width: 200px;
}
/*
#top-10-sites > ul > li a{
  float:left;
  background-color:#f7f7f7;  
  margin-bottom:-2px;  
  text-decoration:underline;
}
#top-10-sites > ul > li a:hover{
  text-decoration:none;
}
*/
#top-10-sites > ul{
  padding-bottom:15px;
  border-bottom:1px solid #e5e5e5;
  margin-left:3px;
  width:100%;
  float:left;
  margin-bottom:7px; 
}
.see-all-records{
  background: url("../i/article-stat.png") no-repeat scroll 0 -72px transparent;
  float: right;
  font-size: 13px;
  padding-left: 17px;
  text-decoration: underline;
  margin-bottom:37px;
}
.records-list{
  font-size: 13px;
  margin: 0px 22px 10px 19px;
}
.records-list img.preload-right {
  display: block;
  margin: 70px auto 0 auto;
}
.records-list .see-all-records{
  margin-bottom:31px;
}
.records-list h4{
  font-size:15px;
  line-height:18px;
  margin-bottom:13px;
}
.records-list h4 a{
  word-wrap:break-word;
}
.records-list-author{
  color:#707070;
  float:left;
  width:135px;
  margin-left:1px;
}
.records-list-author img{
  float: left;
  margin-right: 5px;
}
.records-list-author-div a{
  line-height: 11px;
  vertical-align: top;
  color: #707070;
  font-size: 12px;
  text-decoration: underline;   
}
.records-list-author-div time{
  font-size: 11px;
  line-height: 9px;
  vertical-align: top;
  margin-left:1px;
}
.records-list-stat{
  float:right;
  margin-right:-14px;
  margin-top:-4px;
  min-width:75px;
}
.records-list-stat div {
    float: left;
    height: 18px;
    margin-right: 14px;
    color:#707070;
}
.records-list-stat a {
	color: #707070;
}
.records-list article{
    clear:both;
    margin-bottom: 8px;
    padding-bottom: 8px;
    float:left;               
    border-bottom:1px solid #e5e5e5;      
	width: 260px;
}
#content blockquote{
  padding:7px 17px 7px 22px;
  font-size:12px;
  background-color:#ecf8fc;
  margin:0 20px 18px 19px; 
  line-height:18px;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
 behavior: url(assets/templates/html/js/pie/PIE.php); 
  /position: relative;
  position:/*\**/relative\9;         
}
#content blockquote h3{
  font-size:18px;
  font-weight:bold;
  line-height:16px;
  margin-bottom:15px;
}
#content blockquote p{
  font-size:16px;
  color:#353535;
  line-height:23px;
}
#content blockquote .but-revo, #content blockquote .but-evo{
  float: right;
  margin:-2px 5px 8px 25px;
}

/*version karpusha*/
#content blockquote.demo {
    margin: 0 20px 15px 0px;
    padding: 11px 17px 3px 22px;
}
#content blockquote p{
    margin-bottom:11px;
}   
#content blockquote.demo p{
    margin-bottom:27px;
}
#content blockquote ul{
    font-size:16px;
    margin-bottom:11px;
}
#content blockquote.demo ul{
    margin-bottom:23px;
}
#content blockquote img{
    float:right;
    border:1px solid #dae6e9;
    -webkit-box-shadow: 0 0 3px 1px #dde7ea;
    box-shadow: 0 0 3px 1px #dde7ea;    
    margin-left:15px; 
}
#content blockquote h3.border-bottom{
    background:url(../i/h3-border-bottom.png) 0 100% repeat-x;
    margin-bottom: 22px;
    padding-bottom: 12px;
}
#content blockquote.demo p{

}
ul.ul-page,
#content-inner > ul{
    margin:25px 10px 30px 25px;
}
ol.ol-page,
#content-inner > ol{
    margin:25px 10px 16px 60px;
}
#content-inner > ol li textarea{
    margin-bottom:15px;
}
#content-inner .comm-text-p ol{
    margin:0px 10px 0px 0px;  
}
#content-inner > ol li textarea{
    margin-bottom:15px;
}
ul.ul-page li,
#content-inner > ul > li, #content-inner .comm-text-p ul li {
    background: url(../i/content-li.png) no-repeat 0 5px;
    font-size: 16px;
    margin-bottom: 4px;
    padding-left: 22px;
}
#content-inner > ol > li, #content-inner .comm-text-p ol li  {
    font-size: 16px;
    margin-bottom: 4px;
    padding-left: 14px;
    list-style:decimal;
}
#content-inner .comm-text-p ul li, #content-inner .comm-text-p ol li  { 
    font-size:13px;
}
#content-inner .comm-text-p ol li{
    list-style-position: inside; 
    padding:0px;
} 
ol.ol-page li {
    font-size: 16px;
    margin-bottom: 4px;
    padding-left: 8px;
    list-style:decimal;
}
.notice-number{
    color:#ea0000;
}
#sidebar-menu{
    margin: 0px 22px 30px 19px;
}
#sidebar-menu > nav > ul{
    margin-top:-2px;
}
#sidebar-menu ul li{
    font-size:14px;
    font-weight:bold;
    color:#565656;
}
#sidebar-menu > nav > ul > li{
  border-bottom:1px solid #e5e5e5;
  padding-bottom:1px;
}
#sidebar-menu > nav > ul > li > a{
    width:261px;
    height:30px;
    display:block;
    line-height:28px;
    padding-left:32px;
    background:url(../i/sidebar-nav-li.png) no-repeat 0 -30px;      
}
#sidebar-menu ul li a{
    text-decoration:underline;
}
#sidebar-menu ul li a.active{
    color:#FFF;
    text-decoration:none;
    background:url(../i/sidebar-nav-li.png) no-repeat 0 0;    
}
#sidebar-menu ul li a.active:hover{
    color:#FFF;
    text-decoration:none;
}
#sidebar-menu ul li a:hover{
    color:#f17845;
    /*background:url(../i/sidebar-nav-li.png) no-repeat 0 0;  */         
}
#sidebar-menu ul li ul{
    margin-bottom: 12px;
    margin-left: 40px;
    margin-top: 3px;
}
#sidebar-menu ul li ul li a{
    background:url(../i/sidebar-nav-li2.png) no-repeat 0 6px;     
    padding-left:10px;
    display:block;
}
#sidebar-menu ul li ul li a:hover,#sidebar-menu ul li ul li a.active{
    background:url(../i/sidebar-nav-li2-active.png) no-repeat 0 6px;     
    color:#565656;
    text-decoration:none;          
}
#sidebar-menu ul li ul li a.active:hover{ 
    color:#565656;
}
#sidebar-menu ul li ul li{
    font-size:13px;
    font-weight:normal;
}
.second-column-center tr th + th,.second-column-center tr td + td{
    text-align:center;
}
.table-blue{
    border: 7px solid #d6f1fb;
    border-collapse: separate;
    border-spacing: 1px 0px;
    width:70%;
    margin-bottom:37px;
    /*border-collapse: separate;*/    
}
.table-blue .ok{
    background:url(../i/ok.png) no-repeat 0px 3px;  
    padding-left:17px;
}
.table-blue .cancel{
    background:url(../i/false.png) no-repeat 0 5px; 
    padding-left:13px;     
}
.table-blue span.delete, .table-black span.delete, .social-fields span.delete{
    background:url(../i/delete.png) no-repeat 100% 3px; 
    padding-right:13px;     
}
.table-blue span.delete a, .table-black span.delete a, .social-fields span.delete a{
    color:#707070;
    text-decoration:none;
    background:url(../i/dashed.png) repeat-x 0 100%; 
}
.table-blue span.delete a:hover, .table-black span.delete a:hover, .social-fields span.delete a:hover{
    background:none;
}
.table-blue thead th{
  text-align:left;
  padding:7px 14px 9px 21px;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;  
  color:#41423f;
  font-size:14px;
  background: #dff4fc;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dff4fc), to(#cdeefa));
  background: -webkit-linear-gradient(#dff4fc, #cdeefa);
  background: -moz-linear-gradient(#dff4fc, #cdeefa);
  background: linear-gradient(#dff4fc, #cdeefa);
  -pie-background: linear-gradient(#dff4fc, #cdeefa);
}
.table-blue tbody td{
  background: url(../i/table-blue-border-bottom.jpg) 0 100% repeat-x #e4f5fc;
  padding: 6px 14px 5px 21px; 
}
.table-blue a{
  text-decoration:underline;
}
.table-blue a:hover,.table-blue a.ok:hover,.table-blue a.cancel:hover{
  text-decoration:none;
}
.table-blue a.ok{
  text-decoration:underline;
  color:#67ab00;
}      
.table-blue a.cancel{
  text-decoration:underline;
  color:#ea0000;
}
.two-block{
  margin-left:0px;
  margin-right:19px;
}       
.two-block-2{
  margin-top: -8px;
  margin-right:0px;
  float:left;
} 
.two-block p{
  clear:both;
  font-size:13px;
  color:#565656;
  line-height:18px;
}   
.two-block-2 p{
  clear:none;
}
.rating-company{
  background: url(../i/rating_company.png) no-repeat 0 0;
  width:294px;
  height:74px;
  float:left;
  margin:-9px 0 27px;
}
.rating-company a{
  color:#707070;
  font-size:11px;
  display:block;
  margin-left: 87px;
  margin-top: 65px;
  text-decoration:underline;
}
.rating-company a:hover{
  text-decoration:none;
}
.add-company{
  float:right;
  margin-top:20px;
}
#inner .button-1{
  background: url(../i/button1.png) repeat-x 0 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
  color:#FFF;
  font-size:13px;
  padding:13px 17px 10px 45px;
  text-transform: uppercase;  
  vertical-align:middle;   
  text-decoration:none; 
  behavior: url(assets/templates/html/js/pie/PIE.php);
  position: relative;
  *zoom: 1;
}
.add-company .button-1{
	width: 214px;
}
.button-1:hover{
  color:#FFF;
  text-decoration:none; 
}
.add-company:hover{
  color:#FFF;
  text-decoration:none; 
}
#content .sort-group{
  margin:0px 19px 44px 0px;
  padding-left:0px;
  border-top:1px solid #ebebeb;
  padding:14px 0 0 0;
  position: relative;
}
#content .sort-group label{
  color:#41423f;  
}  
#content .sort-group .tag-row label{
  float:left;
}   
#content .sort-group p{
  color:#565656;
  font-size:13px;
  padding-right:12px;
  padding-bottom:15px;
}
#content .sort-group-label-up{
  border-top:1px solid #ebebeb;
  padding:11px 0 0 0;
  margin:0px 19px 66px 0px;  
}
.sort-group-label-up .row:first-child{
  margin-left:0px;
}
.sort-group-label-up .row{
  margin-left:40px;  /*47px*/
}
.sort-group-label-up label{
  display:block;
  font-weight:bold;
  color:#41423f;  
}
.sort-group-label-up .row .select-country,.sort-group-label-up .row .select-city{
  width:157px;
}
.sort-group-label-up .search-block{
  margin-top:20px;
  margin-right:0px;
  margin-left:0px;
  float:right;
}
/*
.sort-group-label-up .search-block input{
  width:144px !important;
  margin-right:14px;
  height:22px;
  line-height:22px;
  padding-left:9px;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(bottom, #f8f8f8, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#f8f8f8));
  background-image: -webkit-linear-gradient(bottom, #f8f8f8, #e6e6e6);
  background-image: -o-linear-gradient(bottom, #f8f8f8, #e6e6e6);
  background-image: linear-gradient(to top, #f8f8f8, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;   
  border-color: rgba(0, 0, 0, 0.09) rgba(0, 0, 0, 0.09) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
*/
.search-block input{
  background: #f5f5f5 !important;
  width:144px !important;
  height:22px !important;
  line-height:22px !important;
  padding:0 0 0 9px !important;
  border: 1px solid #cccccc !important;
  display: inline-block !important;
  margin-right:14px !important;
}
#inner .sort-group-label-up .search-block .button{
  padding:4px 11px;
  text-decoration:none;
}
.sort-group .remove-tag {
	background: url(../i/false.png) no-repeat 100% 0;
	padding-left:8px;
}


.table-black{
  width:621px; 
  margin-bottom:30px;  
  /*border-collapse:separate; */
}
.table-black thead th{
  text-align:left;
  padding:0px 5px 0px 6px;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;     
  color:#f3f3f3;
  font-size:13px;
  font-weight:normal;
  height:49px;
  background: url(../i/table-black-th.png) repeat-x 0 0;
  line-height:16px;   
  text-align:center;
}
.table-black .company{
  width:230px;
  text-align:left;
}
.table-developer th, .table-company th{
	width:70px;
}
.table-developer th.empty, .table-company th.empty{
	width:30px;
}
#content .table-black th a{
	color:#7CCF85;
	text-decoration:none;
	border-bottom:1px dotted #7CCF85;
}
#content .table-black th a:hover{
	border-bottom:none;
}
.table-black tbody td{
  border:1px solid #ebebeb;
  text-align:center;
  padding:9px 9px 10px 9px;
  line-height:12px;
}

.table-padding-more tbody td{
  padding:11px 9px 12px;
}
.table-padding-more tbody td:first-child{
  padding:13px 0px 14px 0px;
  width:34px;
}
.table-black thead th{
  border:1px solid #313233;
  border-bottom:1px solid #8c8c8c;   
  border-top:none; 
}
.table-black thead th:first-child {
    border-radius:6px 0px 0 0;
    -moz-border-radius: 6px 0px 0 0;
    -webkit-border-radius: 6px 0px 0 0;
    border-left:none;     
      
}
.table-black thead th:last-child {
    border-radius: 0px 6px 0 0;
    -moz-border-radius: 0px 6px 0 0;
    -webkit-border-radius: 0px 6px 0 0;
    border-right:none;             
}
.table-black tbody td:first-child{
  text-align:center;
}
.table-black a{
  line-height:17px;
  text-decoration:underline;
}
.table-black a:hover{
  text-decoration:none;
}
.pagin-centered{
  text-align:center;
}
.pagin-border-b{
  border-bottom:1px solid #ebebeb;
}
.pagin{
  margin:0px 18px 0px 0px;
  padding-bottom:25px;
  position: relative;
}
.pagin li{
  display:inline;
  margin-right: 2px;  
}
.pagin li a{
  font-size:18px;
  text-decoration:underline;
  padding:5px 11px 6px;  
  float: left;
  z-index:1;
  position:relative;  
}
.pagin li a.prev:hover,.pagin li a.next:hover{
  background-color:transparent;
  color:#0095C9;
}
.pagin li a:hover{
  font-size:18px;
  text-decoration:none;
}

.pagin li a.active, .pagin li a:hover{
  background-color:#000;
  color:#fff;
  text-decoration:none;
}
.rating-developer{
  background: url(../i/rating-developer.png) no-repeat 0 0;
  width:334px;
  height:74px;
  float:left;
  margin:-9px 0 27px;
}
.rating-developer a{
  color:#707070;
  font-size:11px;
  display:block;
  margin-left: 87px;
  margin-top: 65px;
  text-decoration:underline;
}
.rating-developer a:hover{
  text-decoration:none;
}
.table-developer .company{
  width:170px;
  text-align:left;
}
.table-company img,
.table-developer img {
	width: 20px;
	height:20px;
	overflow:hidden;
	max-width: 20px;
}
.table-articles .company{
  width:268px;
  text-align:left;
}
.table-question .company{
  width:256px;
  text-align:left;
}
.table-colums-6  .company{
  width:160px;
}
.link-green,.link-green:hover{
  color:#68aa00;
}
.link-red,.link-red:hover{
  color:#e80000;
}  
.link-gray,.link-gray:hover{
  color:#707070;
}
.before-h1-img{
  margin:15px 0 24px 40px;
}
#content ul.nav-tabs{
  margin:25px 16px 0px 38px;
  width:623px;  
  padding:0px;
}
#content ul.nav-tabs  li a{
  color:#fff;  
  line-height:18px;
  background:url(../i/content-in-tab.png) repeat-x 0 0; 
  font-size:15px;
  font-weight:bold; 
  padding:6px 11px 0 17px;
  margin-top:3px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  width:192px;
  height:42px;  
  behavior: url(assets/templates/html/js/pie/PIE.php); 
  position:relative; 
  text-decoration:none;    
}
#content ul.nav-tabs li a:hover{
  background:url(../i/content-in-tab-hover.png) repeat-x 0 0; 
  color:#353535;  
}
#content ul.nav-tabs li{
  background:none;
  color:#fff;
  margin:0px;
  padding:0px;       
}
#content ul.nav-tabs li:first-child{
  margin-left:5px;
}      
#content ul.nav-tabs li.active{
  margin-left:0px;
}
#content ul.nav-tabs li.active a{
  color:#353535;
  background:url(../i/content-in-tab-active.png) no-repeat;
  padding: 8px 17px 0 23px;
  width: 191px;
  height:55px;  
  margin:0px;    
}
#content ul.nav-tabs-2{
  margin:22px 16px 0 42px;
}
#content ul.nav-tabs-2 li a{
  font-weight:normal;
  width:auto;
  padding: 0 19px 0 21px;
  height:38px;
  line-height:38px;
  background:url(../i/content-in-tab-2.png) repeat-x 0 0; 
  font-size:14px;    
}
#content ul.nav-tabs-2 li a span{
  background:url(../i/dashed_white.png) repeat-x 0 100%;    
}             
#content ul.nav-tabs-2 li.active a span{
  background:none;
}
#content ul.nav-tabs-2 li a:hover{
  background:url(../i/content-in-tab-2-hover.png) repeat-x 0 0; 
  color:#353535;  
}
#content ul.nav-tabs-2 li a:hover span{
  background:none;
}
#content ul.nav-tabs-2 li{
  margin-right:3px;
}
#content ul.nav-tabs-2 li:first-child{
  margin-left:0px;
}      
#content ul.nav-tabs-2 li.active{
  background:url(../i/content-in-tab-2-active.png) no-repeat 100% 0;
  padding-right:16px;
  margin-right:1px;
  margin-left:2px;
}
#content ul.nav-tabs-2 li.active a{
  background:url(../i/content-in-tab-2-active.png) no-repeat 0 0;
  width:auto;
  margin-right:-5px;  
  margin-left:-5px;
  padding:4px 12px 0 24px;
  height:50px;
}
dl.checks {margin-left: 30px;}
dl.checks dt,
.tab-in-content dl dt{
  font-weight:bold;
  font-size:22px;
  line-height:24px;
  background:url(../i/content-in-tab-dt.png) 11px 4px no-repeat;  
  padding:4px 0px 0px 43px;  
}
dl.checks dd,
.tab-in-content dl dd{
  font-size:14px;
  color:#353535;
  border-bottom:1px solid #eaeaea;
  padding:10px 25px 15px 44px;
  margin: 0 18px 23px 0px;
  line-height:22px;
}
.tab-in-content .tab-pane{
  clear:both;
  padding:27px 0px 0px 41px;
}
.tab-in-content .tab-pane img.preload-large {
  display: block;
  margin: 50px auto 0 auto;
}
dl.faq{
  padding:5px 18px 0 0px;
  font-size:16px;
  margin-bottom:4px;
}
dl.faq dt{
  background: url(../i/faq-dt.png) no-repeat 0 0px;
  font-weight:bold;
  padding-left:22px;
  padding-bottom:5px;
  margin-bottom:4px;
  padding-bottom:5px;
}
dl.faq dd{
  border-bottom:1px solid #ebebeb;
  margin-bottom: 19px;
  padding-bottom: 21px;
  font-size:14px;
  line-height:17px;
}
.button-h1{
  margin-left: 0;
  margin-top: -81px;
  position: absolute;
  width: 639px;
}        
.button-h1-2{
  margin-top:7px;
  position:static;
  width:auto;
  float:right;
  margin-left:15px;
}
/*
.button-h1 .button-1{
  right:20px;
  top:1px;
  position:absolute;
  padding:11px 17px 12px 45px;
  z-index:10;
}
*/
.button-h1 .button-1 {
  position:relative;
  padding:11px 17px 12px 45px;
  float: right;
  margin-right: 20px;
}
.button-nav-tabs{
  margin-left: 0;
  margin-top: -81px;
  position: absolute;
  width: 680px;
}
/*
.button-nav-tabs .button-1{
  right:20px;
  top:26px;
  position:absolute;
  padding:11px 17px 12px 45px;
  z-index:10;
}*/
.button-nav-tabs .button-1{
	z-index: 10;
	float: right;
	margin: 25px 20px 0 0;
}
#content .tab-in-content .sort-group{
  margin:0px 19px 0px 0px;
  border:none;
  border-bottom:1px solid #ebebeb;
}
#content .tab-in-content .sort-group .clear{
  margin-bottom:15px;
}
#content .tab-in-content-2 .sort-group{
  padding-top:6px;
  padding-bottom: 0px; 
  margin-bottom: 17px;   
}
#content .tab-in-content-2 .sort-group p{
  line-height:18px;
}
.tab-in-content-2 .sort-group .row{
  margin-right:23px;
}
#content .site-gallery{
  padding-left:0px;
} 
.tab-in-content-2 .site-gallery img{
  /*padding:7px 17px 19px 2px;*/
} 
.tab-in-content-2 .site-gallery ul{
  margin-bottom: 9px;
  width:100%;
}
.tab-in-content-2 .site-gallery p{
  text-align:left;
  line-height:16px;
  padding:0px 19px 0px 0px;
  margin:-5px 0 13px;
}
.tab-in-content-2 .site-gallery p img{
  padding:0px;
  border:1px solid #ededed;
  float:left;    
  margin-top:4px;
  margin-right: 5px;
}
.tab-in-content-2 .site-gallery p.logo-company{
  line-height: 15px;
  margin: -9px 0 13px;
}
.tab-in-content-2 .site-gallery p.logo-company a{
  float: left;
}
.tab-in-content-2 .site-gallery p.logo-company img {
	background:none;
}
.tab-in-content-2 .site-gallery p.logo-company span{
  display:block;
  /*padding-left:25px;*/
}
.tab-in-content-2 .site-gallery p.logo-company span a{
  color:#707070;
  font-size:12px;
  padding-right:5px;
  float: none;
}
.tab-in-content-2 .site-gallery .site-gallery-rating{
  right:22px;
}
.tab-in-content-2 .site-gallery .site-gallery-comment{
  right:24px;
}
#content .site-gallery li{
  width:25%;
}
#content .site-gallery .divider{
  width:620px;
}
.tab-in-content-2 .pagin{
  margin:0 18px 0 0;
}
dl.important{

}
dl.important dt{
  background: url(../i/important-more.png) no-repeat 0 0px;
  width:54px;
  height:23px;
  color:#000;
  font-size:16px;
  margin-left: 0;
  overflow: hidden;
  padding-right: 17px;
  padding-top: 4px;
  text-align: right; 
  float:left;  
}
dl.important dt:first-child{
  background: url(../i/important-1.png) no-repeat 0 0px; 
}
dl.important dd{
  margin-left:71px;
  line-height:24px;
}
dl.important dd p{
  font-size:16px;
  padding:0 27px 14px 0;
}
#content .article-list{
  margin-bottom:18px;
}
#content .article-list article:first-child{
  padding-top: 0px;  
}
#content .article-list article{
  width:630px;
  padding-bottom: 13px;
  padding-top: 22px;
  clear:both;
}
#content .article-list-item{
  padding-right: 24px;
  width: 455px;
}
#content .article-list-item a:hover{
  color:#f17845;
}
#content .article-list-item a img{
  background: url("../i/bg-site-article-item.png") no-repeat scroll 0 0 transparent;
  padding: 8px 16px 16px 8px;
  margin-left:-2px;
  float:left;
}    
#content .article-list h3{
    font-size: 18px;
    font-weight: normal;
    line-height: 19px;
    padding-bottom: 4px;
    padding-right: 0;
}
#content .article-list .author-time{
  margin-bottom:2px;
}
#content .article-list-author .author-rating {
	font-size: 12px;
	line-height: 10px;
	padding: 0;
	vertical-align: top;
	display: block;
}
#content .article-list p{

}
  
#content .article-list h3.icon-article-1{
  background: url("../i/icon-article-1.png") no-repeat scroll 0 0 transparent;
  margin-left: -28px;
  padding-left: 28px;  
}
#content .article-list h3.icon-article-2{
  background: url("../i/icon-article-2.png") no-repeat scroll 0 0 transparent;
  margin-left: -28px;
  padding-left: 28px;
}   
#content .question-nav-tabs{
  margin-left: 0;
  margin-top: -67px;
  position: absolute;
  width: 680px;
}
#content .icon-question-h1{
  color:#707070;
  text-decoration:underline;
  padding-left:40px;
  background:url(../i/icon-question.png) no-repeat;
  font-size:13px; 
  position:absolute;   
  right:26px;
  line-height:30px;    
}
#content .icon-question-h1:hover{
  text-decoration:none;
}
/*.tab-in-content .list-question{
  padding-top:27px;
}*/
.tab-in-content .list-question-item{
  margin:0 15px 0 0;
  padding:2px 17px 11px 15px;
}
.tab-in-content .list-question-item h3{
  margin-bottom:12px;
}
.tab-in-content .list-question-item a{
  font-size: 16px;
  font-weight: bold;
  color:#007fab;
  text-decoration:underline;  
}
.tab-in-content .list-question-item a:hover{
  text-decoration:none;
}
.tab-in-content .list-question article{
  margin-bottom:26px;
  padding-bottom:12px;
}
.tab-in-content .list-question-author{
  background-position:26px 0px;
  margin-left:11px;
  padding-top: 23px;  
}
.list-question-company{
  float:left;
  margin-top:18px;
  margin-left:34px;
}
.list-question-company a{
  color:#707070;
  font-size:12px;
  text-decoration:underline;
}
#content .blue-block{
  background-color:#e4f5fc;
  border:3px solid #d6f1fb;
  padding:10px 0px 16px 20px;
  margin:0 19px 19px 0px;
}
#content .blue-block .row{
  margin-left:8px;
}
#content .blue-block .row:first-child{
  margin-left:0px;
}
#content .blue-block .row .select-pick{
  width:157px;
}
#content .blue-block .row .button{
  margin-left:6px;
  padding: 4px 11px;  
  text-decoration:none;
} 
#content .work-list{
  margin:0 19px 18px 0px;
  padding:0px;
}
#content .work-list article{
  padding-bottom:20px;
  margin-bottom:23px;
}
#content .work-list article.archive{
	opacity:0.5;
}
#content .work-list h3{
  font-size:16px;
  font-weight:bold;
  margin-bottom:16px;
}
#content .work-list h3 a.offers {
font-weight: normal;
font-size: 12px;
color: #F17845;
border-bottom: 1px dotted #F17845;
text-decoration: none;
}
#content .work-list p{
  line-height: 18px;
  margin: 0 0 18px 2px;
}
#content .work-list .work-list-author{
  width:144px;
}
#content .work-list .work-list-budget{
    padding-left: 8px;
    width: 123px;
}
#content .work-list .work-list-version{
    padding-left: 8px;
    width: 109px; 
  float:left;
}
#content .work-list .work-list-developer{
  padding-left:8px;
  width:130px;  
}
#content .work-list .work-list-term{
  padding-left:8px;
}
/*End*/
/*version spirin*/
.fl {float: left;}
.fr {float: right;}
.inner-wrap {width: 620px; padding: 0 0 0 40px;}
.inner-wrap2 {width: 620px; padding: 0 0 0 30px;}

.marginl-15 {margin-left: 15px;}
.marginl-40 {margin-left: 40px;}

p.small {color: #494949; font-size: 13px !important; line-height: 19px !important;}
span.nb {color: #ea0000; font-weight: bold; font-style: normal;}
img.img-shadow {padding: 7px 17px 16px 7px; background: url("../i/bg-site-gallery-item.png") no-repeat scroll 0 0 transparent;}
div.hr {background: url(../i/hr.png) repeat-x; height: 3px; margin: 15px 0 5px -31px; width: 606px}
#inner #content .form-parent  em.red {color: red;}
p.green-cyrcle span {background: url(../i/green-cyrcle.png) no-repeat center; padding: 14px; color: #ffffff; margin-right: 3px; margin-top: -8px; float: left; line-height: 7px;}

img.cyrcles-or {float: left; margin-left: -33px; margin-top: 12px;}

.hidden {display: none;}


#content .form-parent h3 {line-height: normal !important; font-weight: bold; padding-bottom: 10px; background: url(../i/bg-inner-h3.png) no-repeat 1px 100%;}
#content .form-parent h4 {
   font-size: 14px;
   font-weight: bold;
   margin-left: 15px;
}
#content .form-parent .row h4{
  margin-left:0px;
}

#content .form-parent p, #header .form-parent p {
  color:#41423f;
  padding:0 10px 10px 0;
}
#content .form-parent p em, #header .form-parent p em{font-size: 12px; color:#565656;}

#contact-form fieldset {width: 400px;}
#content .form-parent label {display: block; margin-top: 15px; color:#41423f; margin-bottom:1px;}
#content .form-parent #quip-add-comment-qcom label {color: #41423F; display: block; line-height: 14px; margin-bottom: 10px; margin-top:0px;}
#content .form-parent label:first-child {margin-top: 0;}
	
	#contact-form fieldset input[type="text"] {height: 32px; width: 347px;}
	#contact-form fieldset textarea {background-position: 0px -84px; height: 110px; width: 390px; padding: 5px; display: block;}
	

#content input[type="checkbox"]{

}    
#content textarea {
	width: 530px; height: 150px;
}
#content input.datepicker-nojs,
#content input.datepicker {
	background-image: url(../i/calendar-button.png); background-repeat: no-repeat; background-position: right center; padding-right: 35px; /*width: 310px;       */
}
#content input.filebrowser {
	background-image: url(../i/filebrowse-button.png); background-repeat: no-repeat; background-position: right center; padding-right: 35px; width: 310px;
}
#content .form-parent .bootstrap-select.select-pick {
	width: 355px;
}
#content .form-parent .btn {padding: 5px 12px;}

#content #addUsersToGroup-form fieldset textarea {width: 510px; height: 120px;}
#content #addWork-form fieldset textarea {width: 530px; height: 150px;}
#content #addWork-form fieldset .project_currency {width: 120px;}
#content #addWork-form #project-name {width: 335px;}
#content #addWork-form #project-budget {width: 180px;}
#content #addWork-form #project-deadline {width: 290px;}
#content #addWork-form label[for="project-uncertain"] {padding-top:26px;}
#content #addSite-form .px13{
  margin-bottom:10px;
}


#passwordRecovery-form fieldset {width: 355px;}
/*End*/

.buttons-block{
  margin-right:15px;
  margin-bottom:8px;
}

#content  .form-parent-2{
  padding:10px 0px;
}
#content .pad-b-no{
  padding-bottom:0px;
}
#content  .form-parent-2 h3{
  margin-left:25px;
  margin-bottom:1px;
}

#content .form-parent-2 .row .show-company{
  float: left;
  margin-left: 11px;
  margin-top: 6px;
  font-size:12px;
}
#content .form-parent-2 .row .ajax-loader-1{
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  width:16px;
  height:11px;
  background: url("../i/ajax-loader-1.gif");
}
#content .form-parent-2 h3{
  font-size:24px;
  font-weight:bold;
}
#content .form-parent-2 .row .select-pick .btn{
  font-size:13px;
  padding:6px 12px 4px;     
}
#content .form-parent-2 .row .select-pick .btn .filter-option{
  left:10px;
}
#content .form-parent-2 .row textarea{
  font-size:13px;
  height: 114px;
  width: 489px;
  padding:6px 3px 3px 10px;
}
#content .form-parent-2 input.filebrowser {
  width: 337px;
}

#content .form-parent-2 .row-bg {
  background:none #daf2fc;
  padding-top:27px;
  padding-bottom:30px;
}
#content .form-parent-2 .row-no-line {
  background:none;
}
#content .form-parent-2 .row-padding {
  padding:9px 10px 11px 25px;
}
#content .form-parent-2 .row-padding-after{
  padding-bottom:28px;
}
#content .form-parent-2 .row-padding-text {
  padding:9px 10px 11px 25px;
}
#content .form-parent-2 .row p em{
  font-size:12px;
}
#content .form-parent-2 .row label{
  font-size:14px;
  font-weight:bold;
}
#content .form-parent-2 .row label span {
  color: #F00;
}
#content .row-relative {
  position: relative;
}
#content .form-parent-2 .row-confirm label{
  font-weight:normal;
  font-size:13px;
  float:left;
  width:545px;
  margin:0px;
}
#content .form-parent-2 .row-confirm .checkbox{
  float:left;
  margin-right:6px;
  height:auto;
  margin-top:4px;
}
#content .form-parent-2 .logo-div{
  margin-top:10px;
} 
#content .form-parent-2 .logo-div img{
  margin-right:10px;
} 
#content .form-parent-2 .logo-div a{
  vertical-align:bottom;
  font-size:13px;
  line-height:12px;
}
#content .form-parent-2 .margin-more p{
  margin-bottom:14px;
  margin-top:14px;
}
.two-block-marg-more{
  margin-bottom:30px;
}
.filebrowser-clear{
  float:left;
  width:100%;
}
.filebrowser-block{
  float:left;
}
.filebrowser-image{
  margin-left: 22px;
  margin-top: 4px;
}
.filebrowser-image-fr{
  margin-right: -15px;
  margin-top: -19px;
  float:right;
  padding: 7px 17px 16px 7px; background: url("../i/bg-site-gallery-item.png") no-repeat scroll 0 0 transparent; 
}
.filebrowser-image-clear{
  width:120px;
  background:none;
  height:35px;
}
.filebrowser-image-no-bg{
  background:none;
}
#content input.gmap-input:first-child{
  margin-left:0px;
}
#content input.gmap-input{
  width:148px;
  float:left;
  margin-left:20px;
} 
.question-right{
  position:relative;
  z-index:1111;    
}      
.gmap-block .question-right{
  float: left;
  margin-left: 11px;
  margin-top: 5px;      
}
#content .radio-block .radio{
  float: left;
  margin-top: 5px;
}
#content .radio-block .radio input{
  float:left;
  height:auto;
  margin-top:3px;
  margin-right:5px;
}
#content .radio-block .radio label{
  float:left;
  font-weight:normal;
  margin:0px;
  font-size:13px;
  margin-right:15px;
}
#content .form-parent .birthday-block .select-pick{
  width:105px;
  margin-right:18px;
}
#content .form-parent .location-block .select-pick, #content .form-parent .location-block input{
  width:165px;
  margin-right:18px;
  display:inline-block;
}
#content .form-parent .social-block .select-pick {
	width: 115px;
}
#content .form-parent .social-block input.social-value {
	margin-left: 10px;
	width: 290px;
}
.buttons-block .text-near-button {
    float: left;
    font-size: 11px;
    margin-top: 13px;
    width: 194px;
}
.form-info.profile .buttons-block .text-near-button{
	margin: 0 auto;
	width: 370px;
	float:none;
	font-size:14px;
	font-style:italic;
	margin-top:25px;
	text-align:center;
}
#content .form-info.profile .green-button {
	margin-top:5px;
	margin-bottom:15px;
}
.buttons-block .text-near-button a{
  text-decoration:underline;
} 
.buttons-block .text-near-button a:hover{
  text-decoration:none;
} 
.alert-my a{ 
  text-decoration:underline;
}
.alert-my p{
  line-height:18px;
}
.alert-my a:hover{
  text-decoration:none;
} 
.alert-my{
  font-size:13px;
  color:#565656;
  padding:14px 15px 6px 16px;
}
.alert-my h3{
  font-size:16px;
  font-weight:bold;
  padding:0px;
  margin: 0 0 15px;  
}
.alert-yellow h3{
  color:#67ab00;
}
.alert-yellow{      
  background:url(../i/alert-yellow.png) repeat-x 0 0 #fefeed;
  border:1px solid #efefae;
}
.alert-big p{
  font-size:16px;
  line-height:25px;
  margin-bottom:22px;
}
#content .alert-my{
  margin:0px 18px 11px 0px;
}
.question-up{
  position:relative;
  left: -5px;
  margin-right: -11px;
  top: -11px; 
  z-index:1029;  
}
            
.forms-or{
  font-size:21px;
  margin-right:17px;
  margin-top:160px;
}
.forms-2auth-or{
  margin-right: 15px;
  margin-top: 117px;
  margin-left: 3px;
}
.form-parent .bootstrap-select .btn{
	background: #ffffff;
	-webkit-box-shadow: #E6E6E6 3px 3px 3px inset;
	   -moz-box-shadow: #E6E6E6 3px 3px 3px inset;
			box-shadow: #E6E6E6 3px 3px 3px inset;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
    /*behavior: url(assets/templates/html/js/pie/PIE.php); */
    position:relative;
}
.form-parent .bootstrap-select.error-field .btn{
	background:#feefef;
}

.radio-style {
	vertical-align: middle;
	width: 18px;
	height: 18px;
	background: url(../i/radio.png) no-repeat;
	cursor: pointer;
  float:left;
  margin-right: 5px;  
}
.radio-style.checked {
  background-position: -18px 0;
}
.radio-style.disabled {
  background-position: 0 -18px;
}
.radio-style.checked.disabled {
  background-position: -18px -18px;
}
.radio-style.focused {
  background-position: 0 -36px;
}
.radio-style.checked.focused {
  background-position: -18px -36px;
}

.radio-style.error-radio-field{
  background-position: 0px -36px;
}
.radio-style.checked.error-radio-field{
  background-position: -18px -36px;
}
.radio-style.checked.focused.error-radio-field {
  background-position: -18px -36px;
}

.sisea-results-list p{
  font-size: 16px;
  line-height: 24px;
  margin: 0 42px 20px 0px;
}
.sisea-paging {
  margin:0 42px 20px 0px;
}
.wrapper #content .form-social-big h3 {
  background: none;
  font-size: 16px;
  font-weight: bold;
  display: inline;
  margin: 0px;
  padding: 0px;
  color: #000;
}
#content .form-social-big{
  padding:0px;
  background:#D6F1FB;
}
.form-social-big .head {
  padding-left:24px;
  padding-top:15px;
  background-color: #e7f6fc;
  background-image: -moz-linear-gradient(bottom, #daf2fb, #e7f6fc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7f6fc), to(#daf2fb));
  background-image: -webkit-linear-gradient(bottom, #daf2fb, #e7f6fc);
  background-image: -o-linear-gradient(bottom, #daf2fb, #e7f6fc);
  background-image: linear-gradient(to top, #daf2fb, #e7f6fc);
  background-repeat: repeat-x;
  border-radius:7px 7px 0 0;
  -pie-background: linear-gradient(#e7f6fc, #daf2fb);
  behavior: url(assets/templates/html/js/pie/PIE.php); 
  position:relative;  
}
.form-social-big .row-group{
  background-color: #E4F5FC;
  border-radius:0 0 7px 7px;    
}
#content .form-social-big .tooltip.rightmy{
    min-width: 290px;
}
.form-social-big .head .row{
  margin-left: -24px;
  padding: 5px 0 7px 17px;

}
.form-social-big .head .question-right{
  margin-left: 4px;
  top: -2px;
}
.form-social-big .row {
  margin-left:-5px;
}
.form-social-big .row span, .form-social-big .row a{
  padding:2px 0px 3px 25px;
  margin-left:5px;
  float:left;
  margin-top:10px;
  font-size:12px;
  width:114px;
}
.del-img{
  font-weight:normal;
  font-size:13px;
}

#content .rating {
    /*margin: 0;*/
    padding: 0;
    list-style: none;
    clear: both;
    width: 160px;
    height: 15px;
    background-image: url(../i/star-matrix.png);
    background-repeat: no-repeat;
    position: relative;
    

}
.rating li {
    text-indent: -9999px;
    float: left;
}
.rating li a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    height: 15px;
    width: 16px;
    display: block;
}

.rating .one a {
    left: 0;
}

.rating .two a {
    left: 16px;
}

.rating .three a {
    left: 32px;
}

.rating .four a {
    left: 48px;
}

.rating .five a {
    left: 64px;
}
.rating .six a {
    left: 80px;
}
.rating .seven a {
    left: 96px;
}
.rating .eight a {
    left: 112px;
}
.rating .nine a {
    left: 128px;
}
.rating .ten a {
    left: 144px;
}

.rating li a:hover {
    z-index: 10;
    width: 160px;
    height: 16px;
    overflow: hidden;
    left: 0;
    background-image: url(../i/star-matrix.png);
    background-repeat: no-repeat;
}
.rating .one a:hover {
	background-position: 0 -16px;
}
.rating .two a:hover {
	background-position: 0 -32px;
}
.rating .three a:hover {
	background-position: 0 -48px;
}
.rating .four a:hover {
	background-position: 0 -64px;
}
.rating .five a:hover {
	background-position: 0 -80px;
}
.rating .six a:hover {
	background-position: 0 -96px;
}
.rating .seven a:hover {
	background-position: 0 -112px;
}
.rating .eight a:hover {
	background-position: 0 -128px;
}
.rating .nine a:hover {
	background-position: 0 -144px;
}
.rating .ten a:hover {
	background-position: 0 -160px;
}
.rating-block {
	float:right;
	/*margin-right:180px;*/
	width:415px;
}
.rating-block div {
	margin-bottom: 10px;
	position:relative;
	width:160px;
}
.rating-block div.param {
	width:395px;
}
.current-rating {
	display:block;
	height:15px;
	position:absolute;
	left:0;
	bottom:0px;
	background:url(../i/star-matrix.png) no-repeat 0 -320px;
	z-index:200;	
}
.star-wrapper {
	height:15px;
}
.star-wrapper:hover .current-rating {
	left:-999999px;
}
.star-wrapper.static:hover .current-rating {
	left:0px;
}
.current-rating-background {
	width:100%;
	height:15px;
	display:block;
	background:url(../i/star-matrix.png) no-repeat 0 0;
	position:absolute;
	left:0;
	bottom:0px;
	z-index:100;
}

.article-rating.static {
	position: relative;
	width: 160px;
	height: 15px;
}

.city-ajax,.select-ajax{
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
  position:relative;
  width: 352px;
  height: 34px;
  line-height: 26px; 
  left:3px;
  padding-left:6px;
}
.city-ajax option{  
}

.form-parent .drop-select{
  position: absolute;
  float: left;
  left: 0;
  width: 354px;
  z-index: 1;
  left:26px;
  margin-top: -34px;  
}
.form-parent .drop-select button{
  font-size:13px;
}
.form-parent .drop-select .caret{
  right: 7px;
  position:absolute;   
}
.form-parent .validate-info{
  margin-top: 30px;
  margin-left: 34px;
}
.profile-form .drop-select, .profile-form .select-ajax{
  width: 359px;
}
.form-info dl{
  margin:0px 0px 15px 0px;
}
.form-info.profile dl{
  /*width:100%;
  overflow:hidden;*/
	display:table-row;
}
.form-info dl dt{
  font-weight: bold;
  line-height:20px;
  margin-bottom:5px;
  color: #41423f;

}
.form-info.profile dl dt{
  width:145px;
	background:#d6f1fb;
	padding:6px 10px 10px 15px;
	  display:table-cell;
  border-top:4px solid #e4f5fc;
  border-left:4px solid #e4f5fc;
}
.form-info.profile dl dt.first{
	padding-top:20px;
}
.form-info.profile dl dd.first{
	padding-top:26px;
}
.form-info.profile dl dt.last{
	padding-bottom:60px;
}
.form-info.profile dl dd {
	display:table-cell;
	padding:11px 0 10px 20px;
	vertical-align:top;
}
.form-info .social {
	background-image:url(../i/social.jpg);
	background-repeat: no-repeat;
	padding:0 8px;
	margin-right:5px;
	background-position: 0 -1000px;
}
.form-info .social.mail {
	background-position: 0 -100px;
}
.form-info .social.gplus {
	background-position: 0 -20px;
}
.form-info .social.fb {
	background-position: 0 -40px;
}
.form-info .social.vk {
	background-position: 0 -80px;
}
.form-info .social.ln {
	background-position: 0 0;
}
.form-info .social.icq {
	background-position: 0 -60px;
}
.form-info .social.tw {
	background-position: 0 -120px;
}
.form-info .social.site {
	background-position: 0 -140px;
}
.form-info .in {
	font-size:14px;
	font-style:italic;
	color:#4c4d4b;
	background:url(../i/rating-ok.jpg) no-repeat 0 1px;
	padding-left:14px;
}
.form-info .out {
	font-size:14px;
	font-style:italic;
	color:#4c4d4b;
}
.form-info .company-icon{
	margin-right:7px;
}

#content .form-info {background: #e4f5fc; margin: 0px 19px 20px 0px; border: 7px solid #d6f1fb; border-radius: 5px; padding: 14px 10px 3px 25px;
    behavior: url(assets/templates/html/js/pie/PIE.php); 
}
#content .form-info{
  //position: relative;
  position:/*\**/relative\9;
}  

#content .form-info.profile{
	position:relative;
	padding:0px;
	
}
#content .form-info.profile .buttons-block {
	width:100%;
	overflow:hidden;
	background:#f7f7f7;
	margin-bottom:0px;
}
#content .form-info.profile .filebrowser-image-fr {
	position:absolute;
	margin:0px;
	top:13px;
	right:7px;
}         
#content .form-info h3{
  line-height: normal;
  font-weight: bold;
  padding-bottom: 10px;
  background: url(../i/bg-inner-h3.png) no-repeat 1px 100%;
}
/*.quip-comment-body.best-answer, .quip-comment-alt.best-answer{
	background:#E4F5FC;
}*/
#content-inner .button-nav-tabs, #content-inner .tab-in-content, #content-inner .inner-wrap{
  margin-left:-41px;
}
#content #content-inner .nav-tabs, #content-inner blockquote, #content-inner .form-parent, #content-inner h2,#content-inner h4{
  margin-left:0px;
}


#content-inner .article-text ul, #content-inner .article-text ol {margin: 0px 40px 20px 25px;}
#content-inner .article-text ul li {
	background: url(../i/content-li.png) no-repeat 0 5px;
	font-size: 14px;
	margin-bottom: 8px;
	padding-left: 22px;
}

#content-inner .article-text ol li {
    font-size: 14px;
    list-style-type: decimal;
    margin-bottom: 8px;
    margin-left: 22px;
}

.padding-bottm10 {margin-bottom: 10px;}

table.user-socials th {text-align: left; width: 100px; font-weight: normal; color: #6D6D6D;}
table.user-socials th,
table.user-socials td {padding: 3px 0;}
table.user-socials td a {
	white-space: pre-wrap;
	word-wrap: break-word;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: -moz-pre-wrap;
	width: 300px;
	display: block;
}

.social-remove {padding: 5px 0 0 15px;}
.social-fields.social-hidden {display: none;}

.break-word {
	white-space: pre-wrap;
	word-wrap: break-word;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: -moz-pre-wrap;
}

dd p.about-me {width: 390px;}

.article-rating {
	float: right;
	margin: 15px 20px 0 0;
}

.row.search-block {width:205px;}

button[name="cj-submit"] {width:158px;}
button[name="nr-submit"] {width:108px;}
button[name="l-submit"] {width:73px;}

.comments {
	width:620px;
	
}
.comments ol ol li  {
	padding-left:25px;
}
.comments ol ol li ol li ol li ol li ol li ol li{
	padding-left:0px;
}
.quip-comment {
	/*position:relative;  */
}
.quip-comment-list.children {
	background:#f8f8f8;
	/*border-top:1px solid #ebebeb;*/

}

.quip-comment-list.children .quip-comment-meta {margin-right: 10px;}

.quip-comment-body {
	padding:13px 0px 10px 0px; /*comments new*/
	/*border-bottom:1px solid #ebebeb; #E9E9E9; */
}
.quip-comment.new > .quip-comment-body > .quip-comment-meta {background: #F0F0F0;}
.quip-comment-list.children > .quip-comment.new > .quip-comment-body > .quip-comment-meta {background: #E9E9E9;}

.quip-comment hr{
	background: #ebebeb;
	border:none;
	width:618px;
	height:1px;
	margin:0 auto -10px auto;
}
.quip-comment .best-answer hr{
	display:none;	
}
.quip-comment .quip-comment-body .clear {
	padding-bottom:10px;
}
.quip-comment .quip-comment-body.best-answer .clear {
	padding-bottom:0px;
}
.quip-comment .quip-comment hr{
	margin:0 0 -10px -35px;
	background:#fff;
}
.quip-comment .quip-comment .quip-comment hr{
	margin:0 0 -10px -60px;
}
.quip-comment .quip-comment .quip-comment .quip-comment hr{
	margin:0 0 -10px -85px;
}
.quip-comment .quip-comment .quip-comment .quip-comment .quip-comment hr{
	margin:0 0 -10px -110px;
}
.quip-comment .quip-comment .quip-comment .quip-comment .quip-comment .quip-comment hr{
	margin:0 0 -10px -135px;
}

.children .quip-comment-body {
	border-bottom:none;
}
.quip-comment-body.best-answer {
	border:1px solid #ffda69;
	background:#f0fecf;
	padding: 10px;
}
.quip-comment-author a {
	font-size:12px;
	color:#000;
}
.quip-comment-createdon, .link-to-comment {
	color:#707070;
	font-size:11px;	
}
.link-to-comment {
	margin-left:5px;
}

.quip-comment-meta {
	position: relative;
}
.comment-rating-wrapper {
	width:100px;
	position: absolute;
	right: 10px;
	text-align: right;
	top: 1px;
}
.comment_rating.positive {
	color:#6bad1e;
}
.comment_rating.negative {
	color:#d82e00;
}
.comment-vote-button, .question-vote-button, .article-vote-button {
	padding:0px 4px;
}
.comment_rating {
	margin-right:8px;
	color:#707070;
	font-size: 15px;
} 
.comment-vote-button.up, .question-vote-button.up, .article-vote-button.up {
	background:url(../i/vote-arrow2.png) no-repeat -10px 0px;
}
.comment-vote-button.up:hover, .question-vote-button.up:hover, .article-vote-button.up:hover {
	background-position: -10px -17px;
}
.comment-vote-button.down, .question-vote-button.down, .article-vote-button.down {
	background:url(../i/vote-arrow2.png) no-repeat 0px 0px;
	margin-right:3px;
}
.comment-vote-button.down:hover, .question-vote-button.down:hover, .article-vote-button.down:hover {
	background-position: 0px -17px;
}
.comment-avatar {
	float:left;
	margin:5px 5px 0 0;
	position: relative;
	z-index: 50;
}
.comm-text {
	color:#353535;
	font-size:13px;
	/*white-space: pre-wrap;*/
	word-wrap: break-word;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: -moz-pre-wrap;
}
.comment-reply, .qa-best-answer, .comment-edit {
	font-size:11px;
	margin:5px 0;
}
.quip-comment p, .comm-text-p{
	margin:5px 0 0 37px;
	padding: 0 10px;
}
.site-information {margin-bottom: 30px;}
	.site-information .left {float: left; width: 200px;}
		.site-information .left .img-container {width: 200px;}
		.site-information .left .report-site {width: 200px; margin-top: 20px;}
			.site-information .left .report-site a {color: #00A9FF; font-size: 11px; display: block; background: url(../i/site-report-icon.png) no-repeat left center; padding-left: 20px;}
			.site-information .left .report-site span {font-size: 10px; display: block; margin-top: -5px;}
	.site-information .right {float: right; width: 430px;}
		.site-information .right .rating-block {position: relative; width: 400px; margin-right: 20px;}
			.site-information .right .rating-block table {width: 400px;}
			.site-information .right .rating-block table th {font-weight: normal; text-align: left; width: 215px;}
			.site-information .right .rating-block table tr {border-bottom: 1px solid #ebebeb;}
			.site-information .right .rating-block table th,
			.site-information .right .rating-block table td {padding: 9px 0;}
			.site-information .right .rating-block table tr:first-child th,
			.site-information .right .rating-block table tr:first-child td {padding-top: 0px;}
			.site-information .right .rating-block table td .star-wrapper {margin-bottom: 0; float: right;}
		.site-information .right .info-rate {background: #ffffd4; width: 410px; margin-left: -10px; margin-top: 15px; text-align: right; padding: 3px 0;}
			.site-information .right .info-rate .info {width: 240px; float: left; text-align: left; margin-bottom: 0; padding-left: 10px; height: 38px; line-height: 38px;}
			.site-information .right .info-rate #site-vote {margin: 0 5px 0 0; text-transform: uppercase; text-decoration: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; left: 0; top: 0;}

#report-site {width: 620px; height: 442px; position: fixed; top: 50%; left: 50%; z-index: 10002; display: none;}
	#report-site.logged-in {width: 620px; height: 355px; margin: -177.5px 0 0 -310px;}
	#report-site.logged-out {width: 620px; height: 472px; margin: -236px 0 0 -310px;}
	#report-site .form-parent {background: #e4f5fc; border: 7px solid #d6f1fb; border-radius: 5px; padding: 10px 20px;}
	#report-site .form-parent fieldset {width: 400px;}
	#report-site .form-parent fieldset label {margin-top: 15px;}
	#report-site .form-parent fieldset input[type="text"] {height: 32px; width: 347px;}
	#report-site .form-parent fieldset textarea {height: 110px; width: 400px;}
	#report-site p.info {padding-bottom: 0px; margin: 0;}
	#report-site p.info span {font-size: 12px !important;}
	
	#report-site .report-sent {padding: 25px;}
	
#mask-form {
	background: #000000;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10001;
	top: 0px;
	left: 0px;
	display: none;
	cursor: pointer;
}

div.hr-2 {
	height: 1px;
	background: #ebebeb;
	width: 620px;
	margin: 8px 0;
}

table.table-black.user-comments td span.user-comment-rating.positive {color:#6bad1e; font-weight: bold;}
table.table-black.user-comments td span.user-comment-rating.negative {color:#d82e00; font-weight: bold;}    

#h1-icon{
  margin-top: -57px;
  margin-right: 20px;
  float: right;
}
.quip-change-time{
  font-size: 11px;
  color: #707070;
  float: right;
}
.info-field{
  background: url("../i/bg-inner-h1.jpg") no-repeat scroll 1px 100% transparent;
  font-size:16px;
  margin-top:-14px;
  padding: 0px 0px 11px 1px;
  margin-bottom:11px;
}
.info-field strong{ 
  padding-left: 7px;
}
.pagenav{
  float:left;
  position:relative;
}
.pagenav .gonav{
  float:left;
  width:auto;
  margin:0px;
  padding: 4px 0px 4px 0px;
  position:absolute;
  height:32px;
  left:0px;
}
.pagenav .gonav-drop{
  width:auto;
}
.pagenav .gonav-drop .btn{
  width:auto;
  padding:4px 4px 4px 6px;
  font-size:18px;
}
.pagenav .gonav-drop .caret{
  margin-left:4px;
  float:right;
}
#artilce-chart,#artilce-likes-chart {
	width:190px;
	height:300px;
}
#gallery-chart {
	width:400px; 
	height:300px;
	margin-bottom:15px;
}
.chart-wrapper {
	width:190px;
	float:left;
	margin-right:20px;
}
.chart-wrapper.right {
	margin-right:0px;
}
.chart-header {
	text-align:center;
	font-size:12px;
	font-weight:bold;
	width:400px;
	color:#41423F;
}
.chart-header2 {
	display:table-cell;
	height: 25px;
	width:190px;
	vertical-align: bottom;
	padding-bottom:10px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#41423F;
}

.add-desc {
	font-weight: normal;
	line-height: 12px ! important; 
	display: block; 
	font-size: 11px;
}
.code-pre{
	white-space: pre-wrap;
	word-wrap: break-word;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: -moz-pre-wrap;
  margin:10px 0 0 0;
  padding:0px;  
}
.code-pre code{
  margin:0px;
}
.article-text table{
  margin-bottom:12px;
}
.code-pre{
  word-wrap:break-word;
  margin:10px 0 0 0;
  padding:0px;  
}
.code-pre code{
  margin:0px;
}
.article-text table{
  margin-bottom:12px;
}

.edit-article {
	float: left;
	width: 24px;
	height: 24px;
	background: url(../i/article_edit.png) no-repeat center;
	display: block;
	margin: 3px 5px 3px 0;
}

.user-activity span {font-size: 12px;}
.social-sharing{
  margin-bottom:10px;
  margin-left:-3px;
}
.social-sharing-work{
  margin-bottom: 9px;
  margin-left: -3px;
  float: left;
  margin-top: -16px;
}
#inner-column .bl-menu{
  margin:0px 0px 10px 14px;
}
#inner-column .bl-menu a{
  margin:0px 5px;
}
#inner-column .bl-menu a:hover,#inner-column .bl-menu a.active{
  margin:0px;
  padding:0px 4px;
}
.comments-right .records-list-stat{
  min-width:0;
}
#inner-column .h-inner{
  margin-left: 17px;
  margin-bottom: 12px;
  clear:both;
}
#content #captchaWidget #recaptcha_response_field {
	display:inline;
    padding:0 4px !important;
}
.rating-block #captchaWidget div.recaptcha_input_area {
	margin-bottom:0px;
}
#recaptcha_area {
	float:right;
	margin:0;
}
#captchaWidget {
	overflow: hidden;
    width: 400px;
	margin-top:15px;
}
.article-text img{
  margin-right:10px;
}

#content .sort-group img.ajax-animation {
	position: absolute;
	top: 6px;
	right: 0px;
}
#content .sort-group img.ajax-animation.blue {
	top: 32px;
	right: 22px;
}
#content .sort-group button.submit-filter-visible.disabled {
	background: #828282 !important;
	width: 31px;
	height: 23px;
	outline: none;
}
#content .sort-group button.submit-filter-visible.disabled img.ajax-animation {
	top: 3px;
	right: 7px;
}

.pagin.disabled ul {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}
.pagin.disabled div.overlay {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
}
.pagin img.ajax-animation {
	position: absolute;
	top: 2px;
	right: 0px;
}

.intrating {
    background-color: #effce0;
    border: 1px dotted #ccc;
    border-top: none;
    float: right;
    font-size: 12px;
    margin: -22px 20px 20px;
    min-width: 120px;
    padding: 5px 10px 8px;
}
.intrating dd {

}
.intrating dl {
    clear: both;
    margin: 0 0 2px;
}
.intrating dl b {
    float: right;
    margin: 0 0 0 7px;
}
.intrating p {
    font-weight: bold;
}

li.flashing a {
    color: #f17845;
}