/*
INFO: 
	project: cuda
	browsers: opera/chrome/FF/ie9/safari
	width: 1200
	columns: 12
	markup: Sergey Kalinin 11/2013 (prozaik81-2@yandex.ru)
	use: bootstrap3
	desc: cuda
	version 1

TABLE OF CONTENTS:
	FONTS
	COMMON_STYLES
	GLOBAL_layout
	GLOBAL_blocks
*/

/*************************************************************************************************************** FONTS */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,300);

/*************************************************************************************************************** COMMON_STYLES */
html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img, input{ 
	border: none;
	margin: 0; 
	outline: none;	
	padding: 0;
}

html{
    height:100%;	
}

body{	
    height:100%;	
	font: normal 100% tahoma, arial, sans-serif;
}	

ul{
	list-style-type: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	zoom:1;
}

.clear{
	clear: both;
}	
	
.hide{
	display: none;
}

.wrapped{
	width: 1100px;
	margin: 0 auto;
}

/*************************************************************************************************************** GLOBAL_layout */
.wrap{
	min-height: 100%;
	width: 100%;
}	

	.wrap .services{

	}	
	
		.wrap .services .services_header_block{
		
		}
		
		.wrap .services .services_list_block{
			overflow: hidden;
			
		}		

/*************************************************************************************************************** GLOBAL_blocks : services_header_block */
.services_header_block{

}

	.services_header_block .h1{
	
	}
	
	.services_header_block .del{
	
	}

	.services_header_block p{
	
	}	
	
/*************************************************************************************************************** GLOBAL_blocks : services_list_block */
.services_list_block{
	background: cyan;
}

	.services_list_block .inner{
		overflow: hidden;
		margin: 0 -6.5px;
	}

		.services_list_block .inner .article{
			width: 265px;
			margin: 0 6.5px;
			background: red;
			float: left;
		}
		
			.services_list_block .inner .article img{
			
			}
			
			.services_list_block .inner .article .h1{
			
			}
			
			.services_list_block .inner .article p{
			
			}		

/*************************************************************************************************************** GLOBAL_blocks : jumbotron */

/*************************************************************************************************************** GLOBAL_blocks : nav_top */

/*************************************************************************************************************** GLOBAL_blocks : navbar-brand */

