
 .wrap{
	font: 13px arial, sans-serif;
	color: #000;
	text-align: left;	
	width: 600px;
	margin: 0 auto;
	
}

	  .price_unit{
		overflow: hidden;
		padding: 20px 0;
		border-top: 1px dashed #bc1a19;
	}
	
	  .price_unit.first{
		border: none;
	}
	
		  .price_unit .price_img{
			float: left;
			width: 300px;
		}
		
		  .price_unit .price_desc{
			float: right;
			width: 300px;
		}
		
			  .price_unit .price_desc>h1{
				color: #bc1a19;
				font: bold 14px arial, sans-serif;
				padding-top: 10px;
				padding-bottom: 10px;
				
			}
			
			  .price_unit .price_desc .desc,
			  .price_unit .price_desc .price,
			  .price_unit .price_desc .percent,
			  .price_unit .price_desc .weight,
			  .price_unit .price_desc .quantity,
			  .price_unit .price_desc .color{
				font: 13px arial, sans-serif;
				color: #000;
				
				padding: 10px 0;
			}
			
			  .price_unit .price_desc .desc{
				display: none;
			}
			
			  .price_unit .price_desc .bold{
				font-weight: bold;
			}
			
			
			  .price_unit .price_desc .red{
				color: #bc1a19;
			}
			

			/*
			percent{
				background: maroon;
			}
			
			
					body {
						font-family: sans-serif;
						background: yellow;
					}
					
					.per{
						background: red;
					}
					*/
