#top_section { min-height:none; }
h1.forumtitle { margin-left:4px; }
.header-menu {
  float:right;
  margin:16px 5px 0 8px;
}
.header-menu a { margin-left:12px; }
#main_menu { width:auto; }
.menu-messages { float:right; }
.menu-messages li a.firstlevel { margin:0 0 0 8px; }
.menu-messages.dropmenu { padding:0; }
