

/************************************************************************************************************** 1.global reset and common settings */

html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img, input{ 
	border: none;
	margin: 0; 
	outline: none;	
	padding: 0;
}

html{
    height:100%;		
	
}

body{	
	height:100%;				
}	
	
	
ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.ie6{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	color: yellow;
	background: red;
	font-size: 15px;
	text-align: center;
	width: 100%;
}

	.ie6 a{
		color: lime;
	}
	
.hide{
	display: none;
}	


		
/******************************************************************************************************************************* 2.fonts */		

/****************************************************************************************************************************** 3.layout */		

    .slider {
      border-radius: 5px;
      background: #E0E0E0;
      background: -moz-linear-gradient(left top , #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
      background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
      background: linear-gradient(left top, #E0E0E0, #EEEEEE);
      width: 310px;
      height: 15px;
      margin: 5px;
    }
    .thumb {
      width: 10px;
      height: 25px;
      border-radius: 3px;
      position: relative;
      left: 10px;
      top: -5px;
      background: blue;
      cursor: pointer;
    }
