/*
----------------------------------------------------------------------------------------------------
	Personal Internet Explorer Styles
----------------------------------------------------------------------------------------------------
*/
img { background-repeat: no-repeat;}
/*
####################################################################################################
[ IE 8 Styles]
####################################################################################################

----------------------------------------------------------------------------------------------------
	[1.1 Defaults Tags options]
----------------------------------------------------------------------------------------------------
*/






/*
####################################################################################################
[ IE 7 Styles]
####################################################################################################

----------------------------------------------------------------------------------------------------
	[1.1 Defaults Tags options]
----------------------------------------------------------------------------------------------------
*/
	*+html{ font-size: 101%;}
	*+html .search { padding-top: 3px; height: 45px;}
	*+html .search .submit{ padding-top: 3px;}
	*+html .nav_foot li { display: inline;}
	*+html .menuSection { margin-left: -12px; float: left;}
	*+html .section { position: relative;}
	*+html .login #remember { margin-top: 0px;}
	
	
/*
----------------------------------------------------------------------------------------------------
	[1.1 ]
----------------------------------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------------------------------
	[1.1 ]
----------------------------------------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------------------------------------
	[1.1 ]
----------------------------------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------------------------------
	[1.1 ]
----------------------------------------------------------------------------------------------------
*/






/*
####################################################################################################
[ IE 6 Styles]
####################################################################################################

----------------------------------------------------------------------------------------------------
	[1.1 Defaults Tags options]
----------------------------------------------------------------------------------------------------
*/
*html body { width:expression(document.documentElement.clientWidth < 950 ? "950px" : "auto");}
* html #wrap { height: 100%;}
* html .search { display: inline; padding-top: 3px; z-index: 1; position: relative;}
* html .search .submit{ padding-top: 3px; height: 27px;cursor: pointer;}
* html .slogan { position: absolute; top: 0; left: 130px; width: 530px;}
* html .nav, * html #basis, * html #content { zoom:1;}
* html #content { background: #fff url(http://css-live.ru/wp-content/themes/img/contentBg_left.gif) left repeat-y;}
* html .nav li a { display: inline-block;}
* html .nav_foot li { display: inline;}
* html .section { position: relative;}
* html .login #login,* html .login #pass {
				width: 92px;
				padding: 2px 0 2px 2px; 
				background: url(http://css-live.ru/wp-content/themes/img/loginPole.png) left top no-repeat;
}
* html .login #remember { margin-top: 0px;}