
.slides_container {
	width:980px;
	height: 385px;
	display:none;
}


.slides_container div {
	width:980px;
	height: 385px;
	display:block;
}


.slides_container div{
	position: relative;
	
}

.slides_container div .social_area{
	position: absolute;
	right: 95px;
	bottom: 12px;
	z-index: 500;
	background: red;
	display: block;	
	width: 296px;
	height: 35px;
	background: red url('../images/social_area.png') left top repeat;
}

.slides_container div .text_block{
	width: 443px;
	height: 305px;
	position: absolute;
	right: 35px;
	top: 28px;
	background: url('../images/bg_text_block.png') left top repeat;
	
	color: #fff;
	font-family: "Times New Roman", Times, serif; 	
	text-align: center;
	text-transform: uppercase;
}
	.slides_container div .text_block p{
		
	}

	.slides_container div .text_block .top_1{
		font-size: 41px;
		padding-top: 20px;
	}	
	
	.slides_container div .text_block .top_2{
		font-size: 97px;				
		
		padding-top: 12px;
		line-height: 100px;
		display: inline-block;
		border-bottom: 5px solid #fff;				
	}
	
	.slides_container div .text_block .bottom_1{
		font-size: 31px;

		padding-top: 22px;
	}
	
	.slides_container div .text_block .bottom_2{
		font-size: 31px;
		
		padding-top: 6px;
	}
	
	#slides .pagination{
		display: none;
	}