

/************************************************************************************************************** 1.global reset and common settings */

html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img, input{ 
	border: none;
	margin: 0; 
	outline: none;	
	padding: 0;
}

html{
    height:100%;		
	
}
	
body {
	height:100%;
}
	
ul{
	list-style-type: none;
}

.clear{
	clear: both;
}	

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.ie6{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	color: yellow;
	background: red;
	font-size: 15px;
	text-align: center;
	width: 100%;
}

	.ie6 a{
		color: lime;
	}
	
	


		
/******************************************************************************************************************************* 2.fonts */		

/****************************************************************************************************************************** 3.layout */	
	
	.uvelich_form{
		margin-left: -5px;
		padding: 30px;
	}
	
		.uvelich_form p{
		
		}
		
			.uvelich_form p label{
				display: block;
				padding-bottom: 5px;
				
				color: #6C6863;
				font: 15px arial, sans-serif;
			}
			
				.uvelich_form p label sup{
					color: #AC5E8F;
					
					position: relative;
					top: 3px;
				}
			
			.uvelich_form p input{
				width: 378px;
				height: 27px;			
				
			}
			
			.uvelich_form p .btn_form{
				width: 210px;
				height: 59px;
				background:  red;	
				cursor: pointer;
				padding-bottom: 5px;
				
				font: bold 30px 'Conv_MyriadPro-Regular', arial, sans-serif;				
				text-shadow: #FFF 0px 1px 1px;	
				color: #4F6003;				
			}
			
			/*
			.uvelich_form p .btn_form:hover{
				text-shadow: #FFF 2px 2px 3px;	
			}
			*/
			
			.uvelich_form p textarea{
				width: 378px;
				height: 98px;
				overflow: hidden;
			}
			
			.uvelich_form p .fld{
				border: 1px solid #bcbcbc;
				padding: 0 5px;
				margin-bottom: 17px;
				display: block;
				
			}

