#slidebox{
    width: 380px;
    height: 380px;
	background: #C2C0CB;
    background: linear-gradient(to bottom, #D2D1D9 0%, #B3B1BE 100%) repeat scroll 0 0 transparent;
    border-top: 3px solid #E28409;   
    position: fixed;
    bottom: 100px;
    right: -400px;
	overflow: hidden;	
    border: 1px solid #73707D;
    box-shadow: 0 0 8px #333333;
    z-index: 1000;
}

	#slidebox .slide_anons-header {
		background: #8D8A95;
		background: linear-gradient(to bottom, #D2D1D9 0%, #95929D 50%, #8E8B96 51%, #7F7D88 100%) repeat scroll 0 0 transparent;
		border-bottom: 1px solid #FFFFFF;
		position: relative;
		overflow: hidden;
	}
	
		#slidebox .slide_anons-header .title{
			color: #FFFFFF;
			font: bold 16px Georgia,sans-serif;
			padding: 9px 55px 12px 20px;
			max-width: 140px;
			overflow: hidden;
		}
		
		#slidebox .slide_anons-header .close{
			position: absolute;
			right: 17px;
			top: 7px;
			background: linear-gradient(to bottom, #E7E6EB 0%, #BAB7C0 46%, #AAA9B1 54%, #A8A6B1 100%) repeat scroll 0 0 transparent;
			border: 1px solid #6E6B77;
			border-radius: 4px 4px 4px 4px;
			cursor: pointer;
			line-height: 15px;
			padding: 2px 6px 5px 6px;
			text-shadow: 1px 1px #C6C5CB;
			overflow: hidden;
			max-width: 70px;
		}
		
		#slidebox .slide_anons-header .close:hover{
			color: #fff;
		}

	#slidebox .slide_anons-content {
		background: linear-gradient(to bottom, #D2D1D9 0%, #B3B1BE 100%) repeat scroll 0 0 transparent;
		padding: 18px;
		height: 301px;
		overflow: hidden;
	}

		#slidebox .slide_anons-content .slide_inner{
			background: none repeat scroll 0 0 #FEFEFE;
			border: 1px solid #73707D;
			box-shadow: 0 0 5px #888888;
			height: 301px;
			overflow: hidden;
		}

			#slidebox .slide_anons-content .slide_inner .slide_content{
				margin: 10px;
				overflow: hidden;
			}