.news_tape_form{
	width: 45%;
	min-width: 400px;
	display: inline-block;
	margin: -10px 0 0;
	
	vertical-align: top;
}

	.news_tape_form textarea{
		resize: none;
	}
	
	.news_tape_form .form-text{
		width: 100%;
	}
	
	
.news_list{
	width: 45%;
	display: inline-block;
	margin-left: 50px;
	
	vertical-align: top;
}	

	.news_list .item-list{
	
	}
	
		.news_list .item-list ul{
			list-style-type: none;
		}
		
			.news_list .item-list ul li{
				padding: 0 0 10px;
			}
			
				.news_list .item-list ul li > div{
				
				}
				
				.news_list .item-list ul li > div.title{
					font-weight: bold;
					padding-right: 40px;
					padding-bottom: 5px;
					position: relative;
					min-height: 31px;
				}
				
					.news_list .item-list ul li > div.title .icon_delete{
						position: absolute;
						top: 0;
						right: 0;
						width: 31px;
						height: 31px;
						background: url('../images/icon_delete.png') left top no-repeat;	
					}
					
				.news_list .item-list ul li > div.body{
					padding-bottom: 5px;
				}				

				.news_list .item-list ul li > div.date{
					text-align: right;
					
					border-bottom: 1px solid #000;
					padding-bottom: 10px;				
				}				
	
	
.block-news-tape{

}		

	.block-news-tape .item-list{
	
	}

		.block-news-tape .item-list ul{
			list-style-type: none;
		}	
		
			.block-news-tape .item-list ul li{
				padding: 0 0 10px;
			}
			
				.block-news-tape .item-list ul li > div{
					
				}
				
				.block-news-tape .item-list ul li > div.title{
					font-weight: bold;
				}
				
				.block-news-tape .item-list ul li > div.date{
					text-align: right;
					
					border-bottom: 1px solid #000;
					padding-bottom: 10px;
				}				
				
				
				
				