@import "reset.css";

body {
	/*background: #fff url(images/doodlepatbg.gif) repeat-x top;*/
	/*background:url(images/bgstripe.jpg) repeat-y center top;*/
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight:300;
	font-size: 14px;
	line-height: 1.6;
	color: #000;
	border-color:#003DBD;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	/*border-top: 3px solid #ffd800;*/
	padding:0 10px;
}

.bbcoll {
	background:#0038C5;
}

.mbl {
	
	font-style:italic;
}

.vbtop {
	position:fixed;
	z-index:100000;
	height:10px;
	top:0;
	left:0;
	right:0;
}

.vbbot {
	position:fixed;
	z-index:100000;
	height:10px;
	bottom:0;
	left:0;
	right:0;
}

.vbleft {
	position:fixed;
	z-index:100000;
	width:10px;
	bottom:0;
	left:0;
	top:0;
}

.vbright {
	position:fixed;
	z-index:100000;
	width:10px;
	bottom:0;
	top:0;
	right:0;
}

::-moz-selection {
  color: #fff;
  background: #FC6258; }

::selection {
  color: #fff;
  background: #FC6258; }

a {
	color: #0038C5;
	/*color: #0085D7;*/
	/*background: #ffd800;*/
	border-bottom: 1px solid #98a5c6;
	/*padding: 2px 8px;*/
	text-decoration: none;
}

a:hover {
	color: #FC6258; /*#FC7121;*/
	/*color: #CC0000;*/
	background: none;
	text-decoration: none;
	/*border-bottom: 1px solid #f0b2b2;*/
	border-bottom: 1px solid #ffd4d1; /*#ffd5bf;*/
	/*border: 0;*/
}

.alleft {
	float: left;
}

.alright {
	float: right;
}

.fixme {
	position: fixed;
	z-index: 99999;
	background: #003DBD;
}

.fixtop {
	height:10px;
	top:0;
	left: 0;
	right:0;
}

.fixleft {
	width:10px;
	left:0;
	top:0;
	bottom: 0;
}

.fixright {
	width:10px;
	right:0;
	top:0;
	bottom: 0;
}

.fixbot {
	height:10px;
	bottom:0;
	left:0;
	right:0;
}

.mainnews {
	width:230px;
	display: inline-block !important;
	//zoom: 1 !important;
    *display: inline !important;
	vertical-align: top;
	margin-bottom: 40px;
	margin-right: 20px;
}

.mainnews a {
	/*font-size: 20px;*/
}

.mainnews sup {
	background: #003CBC;
	padding: 3px 5px;
	margin-left: -5px;
	color: #fff;
	font-size: 10px;
}

h3.page-subtitle sup {
	display: inline-block !important;
	//zoom: 1 !important;
    *display: inline !important;
	font-size: 12px;
}

.blacksoul.onhome {
	margin-bottom: 120px !important;
	padding: 20px 0;
}

a.postthumb,
.gallery-item a,
.post-title.faq a {
	background: none !important;
	
}

a.postthumb,
.gallery-item a {
	border: 0 !important;
}

.post-title.faq a {
	padding: 0;
	font-size: 28px;
}

.post-title.links {
	padding: 0;
	font-size: 28px;	
}

.post.links {
	width:280px;
	display: inline-block;
	//zoom: 1;
    *display: inline;
	vertical-align: top;
	margin-right: 30px;
}

.blacksoul.orange {
	background: #fff;
	border-top:10px solid #FC6258; /*#FC7121;*/
	border-bottom:10px solid #FC6258; /*#FC7121;*/
	color:#000;
	padding-top: 30px;
}

.blacksoul.orange a {
	color: #FC6258; /*#FC7121;*/
	border-bottom: 1px solid #ffd4d1;
}

.blacksoul.orange a:hover {
	color: #0038C5;
	border-bottom: 1px solid #98a5c6;
}

.blacksoul.orange h3 {
	font-size: 16px !important;
	font-weight:normal;
	margin-bottom: 5px;
}

.blacksoul.orange p {
	font-size: 12px;
}

h1, h2 ,h3 {
	font-size: 20px;
	font-weight: normal;
}

.wp-caption-text {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px !important;
}

.mainhead {
	font-size: 40px;
}

.bgblue {
	background: #ECEEF1;
	/*color: #fff;*/
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	padding: 30px 0 !important;
}

.bigtxt {
	font-size: 18px;
}

.bgblue blockquote,
.bgblue strong {
	/*color: #e2ebfc;*/	
}

#logo a {
	border: 0;
	padding:0;
}

strong {
	font-weight: 700;
}

.post.links img {
	max-width:480px;
}

.orange .mainnews img {
	max-width: 230px;
}

hr {
	border: none 0;
	border-bottom: 1px solid #E0E0E0;
	height: 1px;
	margin: 10px 0;
}


#wrapper {
	padding-top: 40px;
	/*background: #fff;*/
}

#header {
	width: 1144px;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
	padding: 0 10px;
	margin-bottom: 70px !important;
}

#header .search {
	position: absolute;
	display: none;
	top:0;
	right:0;
}

#header .tags a {
	text-transform: lowercase; 
}

#logo {
	display: inline-block;
	//zoom: 1;
    *display: inline;
	vertical-align: middle;
	margin-right: 40px;
}

#logo a {
	display: block;
	width:77px;
	height: 48px;
	background: url(images/baalogo.gif) no-repeat;
}

#logo span {
	display: none;
}

#description {
	
}





#menu {
	display: inline-block;
	//zoom: 1;
    *display: inline;
	vertical-align: middle;
}

#menu .description {
	font-size: 24px;
	display: inline-block;
	//zoom: 1;
    *display: inline;
}

#menu ul li {
	float: left;
}

#menu ul li a {
}

#container {
	margin: 25px auto;
}

#content {
	position: relative;
	width: 1024px;
	padding-left: 130px;
	padding-right: 10px;
	margin:0 auto;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.post-title {
	
}

.posthead {
	display: block;
	width: 1024px;
	padding: 0 10px 0 130px;
	margin:0 auto;
}

.post {
	margin-bottom: 50px;
}

.post-title {
	font-weight: normal;
}

.post-title a {
}

.page-subtitle {
	margin-bottom: 15px;
	display: block;
	text-align: left;
}



.post-meta {
	margin-top: 5px;
}

.post-meta a {
}

.post-comments {
	float: right;
	background: url(images/cbubble_left.gif) no-repeat top left;
}

.post-comments a {
	background: url(images/cbubble_right.gif) no-repeat top right;
	color: #FFFFFF;
}

.post-comments a:hover {
	color: #FFFFFF;
}

.post-content {
	margin-top: 15px;
}

.post-content h2 {
	font-weight: normal;
}

.post-content h3 {
	font-weight: normal;
}

.post-content p {
	margin-bottom: 10px;
}

.post-content img.alignnone {
	background: #FFF;
}

.post-content img.alignleft {
	float: left;
}

.post-content img.alignright {
	float: right;
}

.post-content ul,.post-content ol {
}

.post-content ul {
	list-style: outside;
}

.post-content ol {
	list-style: decimal;
}

.post-content ul li,.post-content ol li {
}

.more-link {
	position: absolute;
	left: 0;
	margin-top: -40px;
	margin-left: 130px;
	background: #003CBC;
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
	/*display: block;*/
}

.more-link:hover {
	background: #FC6258; /*#FC7121;*/
	color:#fff;
	border: none !important;
}

.section-title {
}

.navleft {
	float: left;
}

.navright {
	float: right;
}

.navigation div a {
}

#comments ol li {
	overflow: hidden;
	height: 1%;
}

.comment-gravatar {
	float: left;
	background: #FFF;
}

.comment-data {
	float: left;
	width: 400px;
}

.comment-data p {
}

.comment-author {
}

.comment-meta {
}

.unapproved {
	font-style: italic;
}

#respond {
}

#comment-form {
}

#comment-form label {
	display: block;
}

#comment-form input {
	width: 240px;
}

#comment-form textarea {
	width: 455px;
	height: 200px;
	font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
	float: right;
	width: 300px;
}

.sidepanel {
}

.sidepanel h3 {
	font-weight: normal;
}

.sidepanel ul li {
}

.sidepanel p {
}

#footer {
	clear: both;
	margin: 0 auto;
	margin-top: 40px;
	padding-top: 0px;
	padding-bottom: 40px;
	width: 1024px;
	padding-left: 130px;
	padding-right: 10px;
	/*color: #717171;*/
	font-size: 12px;
	line-height: 1.8;
	text-align: center;
}

#footer a {
	/*color: #6ca0dc;*/
}

#footer-links {
	list-style: none;
}

#footer-links li {
	float: left;
}

.sep {
}

.ico-small {
	vertical-align: middle;
}

.postthumb img {
	border: 0;
}

.comment-gravatar {
	margin: 10px;
}

.attsingle {
	padding: 10px;
	background: #000;
	border: 0;
	text-align: center;
}

.ital {
	/*font-style: italic;
	font-family: georgia;*/
	line-height: 1.8;
}

.addtag {
	display: block;
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
}

.zad {
	text-transform: lowercase;
}

.navigation-attachment {
	display: block;
	margin-bottom: 15px;
}

.gallery .attachment-thumbnail {
	border: 1px solid #cfcfcf !important;
	padding: 1px;
	background: #fff;
}

.fooright {
	display: block;
	float: right;
}

.fooleft {
	display: block;
	float: left;
}

.navigation-attachment .alignleft {
	float: left;
}

.navigation-attachment .alignright {
	float: right;
}

.bgcontent {
	width: 100%;
	/*background: #eeeeee;*/
	/*background: #ffd800;*/
	display: block;
	/*padding-top: 20px;
	margin-top: 30px;*/
	position: relative;
	/*border-top:4px solid #003DBD;
	border-bottom:1px solid #dbdbdb;*/
}

/*.singletags:before {
	content: " ";
	display: block;
	position: absolute;
	bottom:-40px;
	left: 0;
	width:20px;
	height: 10px;
	background: url(images/bgsinglecorner.png) no-repeat;
	z-index: 100;
}*/

.perr {
}

.perr img {
	display: block;
	margin: 0 auto;
	margin-top: 300px;
}

.forty {
	
	display: inline-block;
	//zoom: 1;
    *display: inline;
	width:50em;
	height: 50em;
}

.aligncenter {
	display: block;
    margin: 5px auto 5px auto;


}

.titart {
	text-align: left;
}

.titart p {
	margin-bottom: 15px;
}

.singletags {
	display: block;
	position: relative;
}

.sestr {
	background: url(images/bgsearch.gif) no-repeat left center;
	padding-left: 20px;
	font-size: 12px;
	line-height: 20px;
	border: 0;
	border-bottom: 3px solid #FFD543;
	margin-right: 20px;
}

.alllink {
	display: block;
	text-align: right;
}

a.postthumb {
	display: block;
	height: 100px;
	text-align: center;
	width:218px;
	height:104px;
}

.singlebot {
	margin-top:100px;
}

/*.wtitle {
	font-size:16px;
}*/

a.postthumb img {
	/*border: 1px solid #dbdbdb !important;*/
	padding: 1px !important;
	background: #fff !important;
}

a.postthumb img {
	padding: 2px;
	/*background: url(images/bgthumb.png) no-repeat 0 0;*/
	display: inline-block;
	//zoom: 1;
    *display: inline;
	margin: auto 0;
}

a.postthumb img:hover {
	background-position: 0 -104px;
}

blockquote {
	position: absolute;
	left: 0px;
	width:100px;
	margin-left: 10px;
	font-size: 12px;
	line-height: 1.3;
	color: #777c8c;
	background:#fff;
}

.bgblue blockquote {
	background:none;
}

blockquote .wp-caption {
	width: 100px !important;
}

blockquote a img,
.wp-caption a img {
	/*padding: 0;
	background: none;*/
	border:0 !important;
}

.post-title.emptythumb {
	font-size: 14px;
}

.himg {
	position:absolute;
	top:0;
}

.thumbnails.onmain {
	/*margin-top: 70px !important;*/
}

.thecont {
	display: block;
	clear: both;
}

.postlinks {
	
	margin: 0 auto;
	width: 1024px;
	font-size: 18px;
	text-align: center;
	margin-top:40px;
	padding-left: 130px;
}

.postlinin {
	display: inline-block;
	//zoom: 1;
    *display: inline;
	width: 1024px;
	
}

.tagtizer {
	display: block;
	clear: both;
}

p.tiztext {
	width:751px;
	vertical-align: middle;
	display: inline-block !important;
	//zoom: 1 !important;
    *display: inline !important;
}

p.tizimg {
	display: inline-block !important;
	//zoom: 1 !important;
    *display: inline !important;
	vertical-align: middle;	
}

.gallery-icon a {
	display: inline-block;
	//zoom: 1;
    *display: inline;
	position: relative;
}

.zoomth {
	display: none;
	position: absolute;
	top:-2px;
	right:0px;
	border: none !important;
}

.blacksoul {
	/*background: #EEEEEE;*/
	padding: 0px 0 0 0;
	margin-bottom: 40px;
	/*border-color:#dbdbdb;
	border-style:solid;
	border-width: 1px 0 1px 0;*/
}

.blacksoulin {
	position: relative;
	width:1024px;
	margin: 0 auto;
	padding-left: 130px;
	/*padding-top: 20px;*/
}

/*.blacksoul img {
	border: 1px solid #dbdbdb !important;
	padding: 1px !important;
	background: #fff !important;
}

.bgcontent .thumbnail img {
	border: 1px solid #dbdbdb !important;
	padding: 1px !important;
	background: #fff !important;
}*/

.qrcode {
	background: url(images/qr-code.gif) no-repeat;
	width:98px;
	height:98px;
	position: absolute;
	top: -10px;
	right:0;
}

em {
	font-style:italic;
}








.thumbnails
{
	position: relative;
/* Компенсируем отступы между float-блоками, чтобы они занимали все доступное пространство */
margin: -3em 0 0 -2em;

/* Выравнивание по центру */
text-align: left;
}

.thumbnail
{
/* Убираем подчеркивание у элемента ins,
который был использован для совместимости со старыми версиями Internet Explorer */
text-decoration: none;

/* Следующее правило для Firefox 2 */
display: -moz-inline-box;

/* а это для остальных */
display: inline-block;
//zoom: 1;
    *display: inline;


vertical-align: top;

/* Убираем выравнивание по центру */
text-align: left;

/* Отступы между блоками */
margin: 0 1.5em 3em 0;
}

.thumbnail .r
{
/* Если есть необходимость, то свойства padding, border, background и position со значением relative
лучше задавать у этого элемента -- это несколько расширит количество поддерживаемых версий браузеров */

/* Задаем минимальную ширину по тексту */
width: 16em;

/* Минимальная ширина в пикселях будет автоматически рассчитываться по ширине картинки */
float: left;
}







@media only screen and (max-width: 1180px) {
	


	#content,
	#header,
	.posthead,
	#footer,
	.postlinks,
	.blacksoulin,
	.postlinin {
		width:800px !important;
	}

	#content,
	.posthead,
	.blacksoulin,
	#footer,
	.postlinks {
		padding-left: 0 !important;
	}

	blockquote {
		position: relative;
		margin-left: 0 !important;
		margin-top: 10px;
		margin-bottom: 10px; 
		width: 100%;
	}
	
	.size-full {
		max-width: 800px !important;
		height: auto !important;
	}

	.wp-caption {
		width:800px !important;
	}

	.tiztext {
		width:800px !important;
	}

	.description sup {
		display: block;
	}

	.homeoffice {
		display: block;
		clear: both;
		float: none;
	}


}

@media only screen and (max-width: 840px) {
	
	#logo {
		margin-bottom: 20px;
	}

	#content,
	#header,
	.posthead,
	#footer,
	.postlinks,
	.blacksoulin,
	.postlinin {
		width:560px !important;
	}

	#content,
	.posthead,
	.blacksoulin,
	#footer,
	.postlinks {
		padding-left: 0 !important;
	}

	blockquote {
		position: relative;
		margin-left: 0 !important;
		margin-top: 10px;
		margin-bottom: 10px; 
		width: 100%;
	}

	.alignright,
	.alignleft {
		float: none !important;
		display: block;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	.size-full {
		max-width: 560px !important;
		height: auto !important;
	}

	.wp-caption {
		width:560px !important;
	}

	.tiztext {
		width:560px !important;
	}

	.description sup {
		display: block;
	}

	.homeoffice {
		display: block;
		clear: both;
		float: none;
	}

	.qrcode {
		display: none;
	}


}

@media only screen and (max-width: 600px) {

	#logo {
		margin-bottom: 20px;
	}
	

	#content,
	#header,
	.posthead,
	#footer,
	.postlinks,
	.blacksoulin,
	.postlinin {
		width:240px !important;
	}

	#content,
	.posthead,
	.blacksoulin,
	#footer,
	.postlinks {
		padding-left: 0 !important;
	}

	blockquote {
		position: relative;
		margin-left: 0 !important;
		margin-top: 10px;
		margin-bottom: 10px; 
		width: 100%;
	}

	.alignright,
	.alignleft {
		float: none !important;
		display: block;
		margin: 0 !important;
		padding: 0 !important;
	}

	.description {
		margin-bottom: 20px;	
	}

	.qrcode {
		display: none;
	}

	#logo a {
		display: inline-block;
		//zoom: 1;
    *display: inline;
	}
	
	.size-full {
		max-width: 240px !important;
		height: auto !important;
	}

	.wp-caption {
		width:240px !important;
	}

	.tiztext {
		width:240px !important;
	}

	.description sup {
		display: block;
	}

	.homeoffice {
		display: none !important;
	}


}


